.ffRadioWrapper.on:hover .ffRadio, 
.ffRadioWrapper.on.focus .ffRadio{
	
}

.custom-radiobutton{
	.ffRadioWrapper{
		&.on{
			.ffRadio{
				@include sprite_replace_text( radio-button-active, 16, 16 );
			}

			&:hover,
			&.focus{
				.ffRadio{
					@include sprites-sprite( radio-button-active-hover );
				}
			}
		}
	}	
}