.custom-select{
	display: inline-block;

	.ffSelectWrapper{
		width: 165px;
		@include opensans;	

		.ffSelect{
			.ffSelectButton{
				position: relative;
				height: 40px !important;

				&:after{
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					@include sprite_replace_text( select-dropdown-indicator, 40, 40 );
				}

				span{
					background: white;
					border: 1px solid $gray_border;
					padding: 6px 15px 4px;
				}
			}

			.ffSelectMenuWrapper{
				.ffSelectMenuTop{
					display: none;
				}

				.ffSelectMenuMidBG{
					background: $gray_dropdown_options_bg;

					.ffSelectMenuMid{
						padding: 0;
						margin: 0;						
						background: $gray_dropdown_options_bg;
						color: white;

						ul{
							li{
								background: $gray_dropdown_options_bg;
								text-transform: uppercase;
								padding: 13px 25px 11px 20px;
								position: relative;
								line-height: 1.3;
								
								&.on,
								&.selected{									
									background: $orange;
								}

								&.selected{
									&:after{
										content: '';
										position: absolute;
										top: 15px;
										right: 13px;
										@include sprite_replace_text( select-dropdown-check, 12, 10 );
									}
								}

								span{
									font-size: 13px;									
								}
							}
						}
					}
				}

				.ffSelectMenuBottom{
					display: none;
				}
			}
		}

		&:hover{
			.ffSelect{
				.ffSelectButton{
					&:after{
						@include sprites-sprite( select-dropdown-indicator-hover );
					}
				}
			}
		}

		&.active{
			.ffSelect{
				.ffSelectButton{
					&:after{
						@include sprites-sprite( select-dropdown-indicator-active );
					}
				}
			}
		}

		&.disable{
			.ffSelect{
				.ffSelectButton{
					&:after{
						@include sprites-sprite( select-dropdown-indicator-disable );
					}
				}
			}
		}	

		&.disabled{
			opacity: .7;

			.ffSelect{
				.ffSelectButton{
					span{
						background: #e2e2e2;
					}
				}		
			}	
		}
	}

	&.wide{
		.ffSelectWrapper{
			width: 530px;
		}
	}
}