.icon{
	display: inline-block;
	text-indent: -99999em;
	content: ' ';
}

.icon-burger-menu{
	@include icon( icon-burger-menu, 17, 16 );

	&:hover{
		@include sprites-icon-sprite( icon-burger-menu-hover );
	}
}

.icon-search{
	@include icon( icon-search, 16, 19 );

	&:hover{
		@include sprites-icon-sprite( icon-search-hover );		
	}
}

.icon-notification{
	@include icon( icon-notification, 26, 26 );

	&:hover{
		@include sprites-icon-sprite( icon-notification-hover );
	}
}

.icon-menu-indicator-bottom{
	@include icon( icon-menu-indicator-bottom, 10, 5 );

	&:hover{
		@include sprites-icon-sprite( icon-menu-indicator-bottom-hover );
	}
}

.icon-calendar{
	@include icon( icon-calendar, 30, 30 );
}

.icon-pointer-left{
	@include icon( icon-pointer-left, 31, 32 );

	&:hover{
		@include sprites-icon-sprite( icon-pointer-left-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-pointer-left-active );
	}	
}

.icon-pointer-right{
	@include icon( icon-pointer-right, 31, 32 );

	&:hover{
		@include sprites-icon-sprite( icon-pointer-right-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-pointer-right-active );
	}	
}

.icon-bodynav-left{
	@include icon( icon-bodynav-left, 31, 32 );

	&:hover{
		@include sprites-icon-sprite( icon-bodynav-left-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-bodynav-left-active );
	}
}

.icon-bodynav-right{
	@include icon( icon-bodynav-right, 31, 32 );

	&:hover{
		@include sprites-icon-sprite( icon-bodynav-right-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-bodynav-right-active );
	}
}

.icon-pagination-left{
	@include icon( icon-pagination-left, 40, 40 );

	&:hover{
		@include sprites-icon-sprite( icon-pagination-left-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-pagination-left-active );
	}

	&.disable{
		@include sprites-icon-sprite( icon-pagination-left-disable );
	}
}

.icon-pagination-right{
	@include icon( icon-pagination-right, 40, 40 );

	&:hover{
		@include sprites-icon-sprite( icon-pagination-right-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-pagination-right-active );
	}

	&.disable{
		@include sprites-icon-sprite( icon-pagination-right-disable );
	}
}

.icon-gpa{
	@include icon( icon-gpa, 30, 27 );
}

.icon-sks{
	@include icon( icon-sks, 30, 20 );
}

.icon-performance{
	@include icon( icon-performance, 30, 25 );
}

.icon-todo-list{
	@include icon( icon-todo-list, 30, 30 );
}

.icon-attendance{
	@include icon( icon-attendance, 31, 25 );
}

.icon-widget-add{
	@include icon( icon-widget-add, 25, 25 );

	&:hover{
		@include sprites-icon-sprite( icon-widget-add-hover );		
	}
}

.icon-widget-alter{
	@include icon( icon-widget-alter, 25, 25 );

	&:hover{
		@include sprites-icon-sprite( icon-widget-alter-hover );		
	}
}

.icon-increasing{
	@include icon( icon-increasing, 20, 20 );
}

.icon-decreasing{
	@include icon( icon-decreasing, 20, 20 );
}

.icon-close{
	@include icon( icon-close, 18, 18 );

	&:hover{
		@include sprites-icon-sprite( icon-close-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-close-active );
	}
}

// ICON INDICATOR

.icon-indicator-checklist{
	@include icon( icon-indicator-checklist, 42, 42 );
}

.icon-indicator-x{
	@include icon( icon-indicator-x, 42, 42 );
}

.icon-indicator-sandwatch{
	@include icon( icon-indicator-sandwatch, 42, 42 );
}

.icon-indicator-sad{
	@include icon( icon-indicator-sad, 42, 42 );
}

.icon-indicator-smile{
	@include icon( icon-indicator-smile, 42, 42 );
}

.icon-indicator-attention{
	@include icon( icon-indicator-attention, 42, 42 );
}

// ICON NAV
.icon-nav-mail{
	@include icon( icon-nav-mail, 30, 30 );
}

.icon-nav-newsstream{
	@include icon( icon-nav-newsstream, 30, 30 );
}

.icon-nav-chat{
	@include icon( icon-nav-chat, 30, 30 );
}

.icon-nav-calendar{
	@include icon( icon-nav-calendar, 30, 30 );
}

.icon-nav-myclass{
	@include icon( icon-nav-myclass, 30, 24 );
}

.icon-nav-practicum{
	@include icon( icon-nav-practicum, 29, 29 );
}

.icon-nav-forum{
	@include icon( icon-nav-forum, 31, 23 );
}

.icon-nav-services{
	@include icon( icon-nav-services, 30, 30 );
}

.icon-nav-library{
	@include icon( icon-nav-library, 30, 30 );
}

.icon-nav-newsevents{
	@include icon( icon-nav-newsevents, 30, 21 );
}

.icon-nav-ecertificate{
	@include icon( icon-nav-ecertificate, 24, 30 );
}

.icon-nav-binusmedia{
	@include icon( icon-nav-binusmedia, 30, 30 );
}

.icon-nav-socialmedia{
	@include icon( icon-nav-socialmedia, 31, 21 );
}

.icon-nav-content-management,
.icon-nav-cms{
	@include icon( icon-nav-cms, 27, 30 );
}

.icon-nav-fep{
	@include icon( icon-nav-fep, 30, 28 );
}

.icon-nav-scoring{
	@include icon( icon-nav-scoring, 30, 30 );
}

.icon-nav-studentaids{
	@include icon( icon-nav-studentaids, 30, 30 );
}

.icon-nav-research{
	@include icon( icon-nav-research, 30, 30 );
}

.icon-nav-graduation{
	@include icon( icon-nav-graduation, 30, 30 );
}

.icon-nav-admission{
	@include icon( icon-nav-admission, 30, 30 );
}

.icon-nav-alumnicareer{
	@include icon( icon-nav-alumnicareer, 30, 30 );
}

.icon-nav-thesis{
	@include icon( icon-nav-thesis, 30, 30 );
}

.icon-nav-examination{
	@include icon( icon-nav-examination, 30, 30 );
}

.icon-nav-support{
	@include icon( icon-nav-support, 30, 30 );
}

.icon-nav-developmentprogram{
	@include icon( icon-nav-developmentprogram, 30, 30 );
}

.icon-nav-learning{
	@include icon( icon-nav-learning, 30, 30 );
}

.icon-nav-financial{
	@include icon( icon-nav-financial, 30, 30 );
}

.icon-nav-registration{
	@include icon( icon-nav-registration, 30, 30 );
}

.icon-nav-academic-advisory{
	@include icon( icon-nav-academic-advisory, 30, 30 );
}

.icon-nav-community-services{
	@include icon( icon-nav-community-services, 30, 30 );
}

li:hover,
.hover{
	.icon-burger-menu{
		@include sprites-icon-sprite( icon-burger-menu-hover );
	}

	.icon-notification{
		@include sprites-icon-sprite( icon-notification-hover );
	}

	.icon-menu-indicator-bottom{
		@include sprites-icon-sprite( icon-menu-indicator-bottom-hover );
	}

	.icon-search{
		@include sprites-icon-sprite( icon-search-hover );		
	}

	.icon-widget-add{
		@include sprites-icon-sprite( icon-widget-add-hover );		
	}

	.icon-widget-alter{
		@include sprites-icon-sprite( icon-widget-alter-hover );		
	}	
}

// Action
.icon-delete{
	@include icon( icon-delete, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-delete-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-delete-active );
	}
}

.icon-dislike{
	@include icon( icon-dislike, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-dislike-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-dislike-active );
	}
}

.icon-add{
	@include icon( icon-add, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-add-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-add-active );
	}
}

.icon-edit{
	@include icon( icon-edit, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-edit-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-edit-active );
	}
}

.icon-like{
	@include icon( icon-like, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-like-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-like-active );
	}
}

.icon-lock{
	@include icon( icon-lock, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-lock-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-lock-active );
	}
}

.icon-reply{
	@include icon( icon-reply, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-reply-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-reply-active );
	}
}

.icon-thread{
	@include icon( icon-thread, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-thread-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-thread-active );
	}
}

.icon-topic{
	@include icon( icon-topic, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-topic-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-topic-active );
	}
}

.icon-unlock{
	@include icon( icon-unlock, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-unlock-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-unlock-active );
	}
}

.icon-share{
	@include icon( icon-share, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-share-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-share-active );
	}
}

.icon-google{
	@include icon( icon-google, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-google-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-google-active );
	}
}

.icon-facebook{
	@include icon( icon-facebook, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-facebook-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-facebook-active );
	}
}

.icon-twitter{
	@include icon( icon-twitter, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-twitter-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-twitter-active );
	}
}

.icon-check{
	@include icon( icon-check, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-check-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-check-active );
	}
}

.icon-fail{
	@include icon( icon-fail, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-fail-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-fail-active );
	}
}

.icon-magnifier{
	@include icon( icon-loop, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-loop-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-loop-klick );
	}
}

.icon-pending{
	@include icon( icon-pending, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-pending-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-pending-active );
	}
}

.icon-view{
	@include icon( icon-view, 20, 20 );

	&:hover{
		@include sprites-icon-sprite( icon-view-hover );
	}

	&:active{
		@include sprites-icon-sprite( icon-view-active );
	}
}

// MISC
.icon-camera{
	@include icon( icon-camera, 36, 27 );
}
.icon-download-item{
    @include icon( icon-konten-tabel, 20, 20 );
    @include combo_iconsprites(icon-konten-tabel,  icon-konten-tabel-hover, icon-konten-tabel-klick);
    text-indent:-9999px;
    overflow:hidden;
    display:inline-block;
}