@mixin clearfix{
	content:".";
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden 	
}

@mixin clearfix1{
	content:".";
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden 		
}
@mixin after_clearfix{
    &:after{
	content:".";
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden 		
    }
}
@mixin combo_spritesprites($normal,  $hover, $active){
    @include sprites-sprite($normal);
    &:hover{@include sprites-sprite($hover)}
    &:active{@include sprites-sprite($active)}
}
@mixin combo_iconsprites($normal,  $hover, $active){
    @include sprites-icon-sprite($normal);
    &:hover{@include sprites-icon-sprite($hover)}
    &:active{@include sprites-icon-sprite($active)}
}
@mixin rotate($deg){
	/*General*/
	transform: rotate($deg);
	/*Firefox*/
	-moz-transform: rotate($deg);
	/*Microsoft Internet Explorer*/
	-ms-transform: rotate($deg);
	/*Chrome, Safari*/
	-webkit-transform: rotate($deg);
	/*Opera*/
	-o-transform: rotate($deg);	
}

@mixin sprite_replace_text( $name, $width, $height ){
	display: inline-block;
	text-indent: -999999em;
	@include sprites-sprite( $name );
	width: $width+px;
	height: $height+px;
}


@mixin icon( $name, $width, $height ){
	@include sprites-icon-sprite( $name );
	width: $width+px;
	height: $height+px;
}

@mixin nav_next{
	@include sprites-sprite(next);
	
	&:hover{
		@include sprites-sprite(next-hover);
	}
	
	&:active{
		@include sprites-sprite(next-active);
	}
	
	&.disable, &.disable:hover, &.disable:active{
		@include sprites-sprite(next-disabled);
		cursor:default;	
	}
}

@mixin nav_prev{
	@include sprites-sprite(previous);
		
	&:hover{
		@include sprites-sprite(previous-hover);
	}
	
	&:active{
		@include sprites-sprite(previous-active);
	}
	
	&.disable, &.disable:hover, &.disable:active{
		@include sprites-sprite(previous-disabled);
		cursor:default;	
	}
}

@mixin button{
	border:1px solid #ffa107;
	color: #555555;
	@include interstate;
	font-size: 12px;
	text-transform: uppercase;
	height: 12px;
	padding: 13px 20px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	text-align: center;

	background: rgb(255,226,101); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,226,101,1) 0%, rgba(245,177,1,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,226,101,1)), color-stop(100%,rgba(245,177,1,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,226,101,1) 0%,rgba(245,177,1,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,226,101,1) 0%,rgba(245,177,1,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,226,101,1) 0%,rgba(245,177,1,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,226,101,1) 0%,rgba(245,177,1,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe265', endColorstr='#f5b101',GradientType=0 ); /* IE6-9 */
	&.no-padding{
            padding:0 20px;
            height:40px;
            line-height:40px;
        }
	&:hover{
		color: #444 !important;
		background: rgb(255,216,61); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,216,61,1) 0%, rgba(245,177,1,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,216,61,1)), color-stop(100%,rgba(245,177,1,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,216,61,1) 0%,rgba(245,177,1,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,216,61,1) 0%,rgba(245,177,1,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,216,61,1) 0%,rgba(245,177,1,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,216,61,1) 0%,rgba(245,177,1,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd83d', endColorstr='#f5b101',GradientType=0 ); /* IE6-9 */		
	}
	
	&:active{
		background: rgb(245,177,1); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(245,177,1,1) 0%, rgba(255,216,61,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,177,1,1)), color-stop(100%,rgba(255,216,61,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(245,177,1,1) 0%,rgba(255,216,61,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(245,177,1,1) 0%,rgba(255,216,61,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(245,177,1,1) 0%,rgba(255,216,61,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(245,177,1,1) 0%,rgba(255,216,61,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b101', endColorstr='#ffd83d',GradientType=0 ); /* IE6-9 */		
	}	
}

@mixin button_cancel{
	border:1px solid $gray_border;
	color: #555555;

	background: rgb(242,242,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	
	&:hover{
		background: rgb(201,201,201); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,201,201,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */		
	}
	
	&:active{
		background: rgb(221,221,221); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(221,221,221,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(221,221,221,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */		
	}		
}