// Droid Serif ----------------------------------------------------------------

@font-face {
	font-family: 'Droid Serif';
	src: url('../fonts/droidserif-regular.eot?') format('eot'), url('../fonts/droidserif-regular.woff') format('woff'), url('../fonts/droidserif-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Droid Serif';
	src: url('../fonts/droidserif-bold.eot?') format('eot'), url('../fonts/droidserif-bold.woff') format('woff'), url('../fonts/droidserif-bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('../fonts/droidserif-italic.eot?') format('eot'), url('../fonts/droidserif-italic.woff') format('woff'), url('../fonts/droidserif-italic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('../fonts/droidserif-bolditalic.eot?') format('eot'), url('../fonts/droidserif-bolditalic.woff') format('woff'), url('../fonts/droidserif-bolditalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}	


@mixin droidserif{
	font-family: 'Droid Serif', Georgia, Times New Roman;
}

$droidserif: 'Droid Serif', Georgia, Times New Roman;

// Interstate ----------------------------------------------------------------

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/interstate-regular.eot?') format('eot'), url('../fonts/interstate-regular.woff') format('woff'), url('../fonts/interstate-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/interstate-bold.eot?') format('eot'), url('../fonts/interstate-bold.woff') format('woff'), url('../fonts/interstate-bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/interstate-light.eot?') format('eot'), url('../fonts/interstate-light.woff') format('woff'), url('../fonts/interstate-light.ttf') format('truetype');
	font-weight: lighter;
}


@mixin interstate{
	font-family: 'Interstate', Helvetica, Arial, sans-serif;
}

$interstate: 'Interstate', Helvetica, Arial, sans-serif;

// Novecentowide ----------------------------------------------------------------

@font-face {
	font-family: 'Novecentowide';
	src: url('../fonts/novecentowide-normal.eot?') format('eot'), url('../fonts/novecentowide-normal.woff') format('woff'), url('../fonts/novecentowide-normal.ttf') format('truetype');
}

@font-face {
	font-family: 'Novecentowide';
	src: url('../fonts/novecentowide-bold.eot?') format('eot'), url('../fonts/novecentowide-bold.woff') format('woff'), url('../fonts/novecentowide-bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Novecentowide';
	src: url('../fonts/novecentowide-light.eot?') format('eot'), url('../fonts/novecentowide-light.woff') format('woff'), url('../fonts/novecentowide-light.ttf') format('truetype');
	font-weight: lighter;
}


@mixin novecentowide{
	font-family: 'Novecentowide', Helvetica, Arial, sans-serif;
}

$novecentowide: 'Novecentowide', Helvetica, Arial, sans-serif;

// Novecentowide - Book ----------------------------------------------------------------

@font-face {
  font-family: 'Novecentowide Book';
  src: url('../fonts/novecentowide-book.eot?') format('eot'), url('../fonts/novecentowide-book.woff') format('woff'), url('../fonts/novecentowide-book.ttf') format('truetype');
}	


@mixin novecentowide_book{
	font-family: 'Novecentowide Book', Helvetica, Arial, sans-serif;
}

$novecentowide_book: 'Novecentowide Book', Helvetica, Arial, sans-serif;

// Novecentowide - Medium ----------------------------------------------------------------

@font-face {
	font-family: 'Novecentowide Medium';
	src: url('../fonts/novecentowide-medium.eot?') format('eot'), url('../fonts/novecentowide-medium.woff') format('woff'), url('../fonts/novecentowide-medium.ttf') format('truetype');
}	


@mixin novecentowide_medium{
	font-family: 'Novecentowide Medium', Helvetica, Arial, sans-serif;
}

$novecentowide_medium: 'Novecentowide Medium', Helvetica, Arial, sans-serif;

// Open Sans ----------------------------------------------------------------

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-regular.eot?') format('eot'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-bold.eot?') format('eot'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-italic.eot?') format('eot'), url('../fonts/opensans-italic.woff') format('woff'), url('../fonts/opensans-italic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-bolditalic.eot?') format('eot'), url('../fonts/opensans-bolditalic.woff') format('woff'), url('../fonts/opensans-bolditalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}	

@mixin opensans{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

$opensans: 'Open Sans', Helvetica, Arial, sans-serif;