#body-nav{
	@include opensans;
	font-size: 16px;
	color: #a1a1a2;
	border-bottom: 1px solid $gray_border;
	position: relative;

	.nav{
		position: absolute;
		top: 35px;

		&.prev{
			left: 7px;
		}

		&.next{
			right: 7px;
		}
	}

	.inside{
		margin: 40px 60px -6px 45px;
		float: left;
		width: 855px;
		height: 67px;
		overflow: hidden;
	}

	ul{
		float: left;

		&:after{
			@include clearfix;
		}

		li{
			float: left;

			a{
				float: left;
				color: #a1a1a2;
				position: relative;
				padding: 5px 15px 5px;
				border-bottom: 5px solid white;
				border-right: 1px solid #a1a1a2;
				margin-bottom: 25px;
			}

			&:last-child{
				a{
					border-right: none;
				}
			}

			&:hover,
			&.active{
				border-bottom: 5px solid #ff9024;

				a{
					color: #ff9024;

					&:after{
						content: '';
						display: block;
						@include sprite_replace_text( body-nav-pointer, 14, 7 );
						position: absolute;
						bottom: -42px;
						left: 50%;
						margin-left: -7px;
					}
				}
			}
		}
	}
}