#body{
	.inside{
		padding: 20px 40px 20px;
		display: block;
	}

	.row{
		width: 100%;

		&:after{
			@include clearfix;
		}

		.column{
			float: left;
			width: 280px;
			margin: 0 0 20px 20px;

			&.two-third{
				width: 580px;

				&.center{
					margin-left: 150px;
				}
			}

			&.three-third{
				width: 880px;
			}

			&.has-border{
				.inside{
					border: 1px solid $gray_border;
					background: #efefef;					
				}
			}

			&:first-child{
				margin-left: 0;
			}

			.inside{
				padding:15px;
			}
		}
	}
}

.styled-content{
	@include droidserif;
	line-height: 1.6;

	h1, h2, h3, h4, h5, h6{
		@include novecentowide;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	h1{
		font-size: 24px;
	}

	h2{
		font-size: 20px;
	}

	h3{
		font-size: 17px;
	}

	h5{
		font-size: 11px;
	}

	h6{
		font-size: 9px;
	}

	strong{
		font-weight: bold;
	}

	em{
		font-style: italic;
	}

	p,ul,ol{
		margin-bottom: 15px;
	}

	li{
		margin: 0 0 10px 20px;

		ul, ol{
			margin: 10px 0 0 0;

			li{
				margin: 0 0 5px 20px;
			}
		}
	}

	ul{
		li{
			list-style: disc;
		}
	}

	ol{
		li{
			list-style: decimal;
		}
	}

	a{
		color: $blue;

		&:hover{
			color: $orange;
		}
	}

	code{
		font-family: Consolas, monaco, monospace;
	}

	blockquote{
		font-size: 1.4em;
		padding: 20px 40px 10px;
		border-left: 5px solid #999;
		background: #efefef;
	}

	label{
		color: #888;
		font: .9em $novecentowide;
		display: block;
		margin:0 0 7px 0;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea{
		width: 97.5%;
	}	

	// Custom Select
	.custom-select{
		width: 100%;

		.ffSelectWrapper{
			width: 100%;
			margin: 0;
		}		
	}
}