#footer{
	background: #323232;
	color: white;

	.item{
		float: left;
		width: 33%;
		background: url(../images/footer-border-vertical.png) repeat-y top left;
		position: relative;

		&:first-child{
			width: 34%;
			background: none;
		}

		.inside{
			padding: 40px 25px;
		}

		.popup{
			display: none;
			width: 100%;
			background: #323232;
			box-shadow: 0 0 3px #000101;
			position: absolute;
			bottom: 0;
			left: 0;

			input[type="text"],
			textarea{
				width: 91.5%;
			}

			input.button.wide{
				width: 100%;
			}

			p{
				margin-bottom: 20px;

				&:last-child{
					margin-bottom: 0;
				}
			}

			.popup-inside{
				padding: 24px;
			}

			.popup-close{
				float: right;
				margin: 0 3px 20px 0;
			}

			&:after{
				display: inline-block;
				position: absolute;
				bottom: -10px;
				left: 50%;
				margin-left: -9px;
				content: '';
				@include icon( footer-popup-tail, 18, 10 );
			}
		}

		.popup-trigger{
			&.cancel{
				color: #ababab;
			}			
		}
	}

	.pre-title{
		font: 14px $interstate;
		text-transform: uppercase;
		font-weight: lighter;
	}

	.title{
		font: 24px $interstate;
		text-transform: uppercase;
		margin: 0 0 20px 0;
		font-weight: lighter;
	}

	.content{
		font-size: 13px;
		line-height: 1.5;

		input[type="text"],
		textarea{
			margin-bottom: 10px;
		}

		.button{
			margin-left: 0;
			// padding: 11px 20px 21px;
			padding-bottom: 15px;
		}
	}

	.custom-select{
		margin: 20px 0 0 0;
		display: block;
		width: 100%;

		.ffSelectWrapper{
			width: 100%;
		}
	}
}

.social-media-links{
	margin: 20px 0 0 0;

	&:after{
		@include clearfix;
	}

	li{
		float: left;
		margin: 0 0 0 13px;
		
		&:last-child{
			margin-left: 10px;
		}

		a{
			float: left;
			width: 40px;
			height: 40px;
			text-indent: -99999em;

			&.twitter{
				@include sprites-sprite( footer-twitter );
			}

			&.facebook{
				@include sprites-sprite( footer-facebook );
			}

			&.googleplus{
				@include sprites-sprite( footer-googleplus );
			}

			&.youtube{
				@include sprites-sprite( footer-youtube );
			}

			&.rss{
				@include sprites-sprite( footer-rss );
			}

			&:hover{
				&.twitter{
					@include sprites-sprite( footer-twitter-hover );
				}

				&.facebook{
					@include sprites-sprite( footer-facebook-hover );
				}

				&.googleplus{
					@include sprites-sprite( footer-googleplus-hover );
				}

				&.youtube{
					@include sprites-sprite( footer-youtube-hover );
				}

				&.rss{
					@include sprites-sprite( footer-rss-hover );
				}				
			}
		}
	}
}

#footer-app-name{
	@include sprite_replace_text( app-name-footer, 190, 42 );	
	margin-top: 67px;
}

#credit{
	border: none;
	text-align: center;
	font-size: 10px;
	color: #808080;
	padding: 10px 0;
}