body{
	background:url(../images/bg.png);
	@include droidserif;
	font-size:14px;
}

.container{
	width:100%;
}

.wrap-outer{
	width:960px;
	display:block;
	margin:0 auto;
	padding:10px;
	background: white;
	border: 1px solid $gray_border;
}

.wrap{
	width:960px;
	display:block;
	margin:0 auto;
	border: 1px solid $gray_border;
}

.component{
	display: block;
	width: 100%;

	&:after{
		@include clearfix;
	}
}

a{
	text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea{
	display: block;
	padding: 10px 10px 9px;
	font: 14px $opensans;
	width: 90%;
	border: 1px solid $gray_border;

	&:focus{
		border: 1px solid $orange;
	}

	&[disabled="disabled"]{
		background: #efefef;
	}
}

textarea{
	resize: none;
}

.button{
	@include button;

	&.wide{
		display: block;
	}

	&.cancel{
		@include button_cancel;
	}
}

input.button{
	padding:11px 20px 22px !important;
}

table{
	width: 100%;
	background: white;		
	margin-bottom: 40px;
	margin-top: 15px;

	thead{
		@include novecentowide;
		background: #d4d4d4;

		th{
			font-weight: bold;	
			border-left: 1px solid white;

			&:first-child{
				border-left: none;
			}			
		}
	}

	tbody{
		@include droidserif;
		font-size: 12px;

		tr{
			&:nth-child(even){
				background: $gray_table_row_even_bg;
			}

			&.red{
				background: #f07273;
			}

			&.green{
				background: #d2eb97;
			}

			&.blue{
				background: #57aae0;
			}

			&.orange{
				background: #ffdd83;
			}

			td{
				border-left: 1px solid #efefef;

				&:first-child{
					border-left: none;
				}
			}
		}
	}

	tfoot{
		background: #d4d4d4;
	}

	td,
	th{
		padding: 10px 20px;
		border-bottom: 1px solid #efefef;

		a{
			color: #135581;

			&:hover{
				color: $orange;
			}
		}
	}

	td{
		line-height: 1.4;
	}
}