#header{
	height: 85px;
	@include sprites-sprite( header );
	border-bottom: 1px solid white;
}

#app-name{
	@include sprite_replace_text( app-name, 326, 56 );
	float: left;
	margin:15px 0 0 15px;
}

.scrolled{
	#header{
		margin-bottom: 48px;
	}
}