// Pagination
.pagination{		
	border-bottom:1px solid $gray_border;
	margin-top: 70px;

	&.forum{
		margin-top: 30px;

		&.top{
			border-top:1px solid $gray_border;
			padding: 10px 0;	
			margin-bottom: 30px;		
		}

		&.bottom{
			margin-top: 0;
		}

		.pagenavi{
			margin-top: 3px
		}
	}

	.prev-next-nav{
		float: right;
		a{
			float: left;
			width: 40px;
			height: 40px;
			margin-left: 1px;				
			text-indent: -99999em;		
		}				
	}

	.pages{
		float: right;
		color: $gray_text;
		border-right: 1px solid $gray_border;
		padding: 12px 13px 9px 5px;
		margin-right: 5px;
		@include interstate;
		font-size: 12px;
		text-transform: uppercase;
	}

	.pagenavi{
		float: right;
	}
	
	.the-navi{
		float: right;
		@include interstate;
		font-size: 12px;
		
		a,
		.current{
			float: left;
			padding: 12px 10px 9px 10px;
		}
		
		a{
			color: #c7c7c7;

			&:hover{
				color: $gray_text;						
			}
		}

		.current{
			color: $gray_text;			
		}
	}		

	&:after{
		@include clearfix;
	} 	
}	