#modal-background{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        z-index: 90000;
}

#modal{
        display: block;
        width: 400px;
        padding: 20px;
        margin: 0 auto;
        position: fixed;
        top: -50%;
        left: 50%;
        z-index: 91000;
        background: white;
        border: 5px solid #f2f2f2;
}

#modal-content{
        .loading{
                display: block;
                width: 25px;
                margin: 0 auto;
        }
}

.popup-title{
        font: 18px $novecentowide_medium;
        color: #666;
        padding: 0 0 15px;
        border-bottom: 1px solid #e2e2e2;
}

.popup-content{
        padding: 20px 0;
}

.popup-actions{
        display: block;
        border-top: 1px solid #e2e2e2;
        padding: 20px 0 5px;
        text-align: center;

        .cancel{
                margin-right: 10px;
        }
}

.upload-guide{
        font: 12px $opensans;
        padding: 10px 0 30px;
        border-bottom: 1px solid #e2e2e2;

        &:after{
                @include clearfix;

        }

        a{
                color: $blue;

                &:hover{
                        text-decoration: underline;
                }
        }

        .copy{
                float: left;
                margin-top: 13px;
        }

        .button{
                float: right;
                width: 100px;

                &:hover{
                        text-decoration: none;
                }
        }
}

.recent-upload{
        padding: 30px 0 0;

        &:after{
                @include clearfix;
        }

        ul{
                &:after{
                        @include clearfix;
                }

                li{
                        list-style: none;
                        float: left;
                        margin:0 10px 10px 0;
                        padding: 0;

                        a{
                                float: left;
                        }

                        img{
                                float: left;
                                margin: 0;
                                width: 70px;
                                height: 70px;
                                border: 1px solid #cdcdcd;
                        }

                        &.active{
                                img{
                                        width: 60px;
                                        height: 60px;
                                        border: 6px solid $orange;
                                }
                        }

                        &:nth-child(5n){
                                margin-right: 0;
                        }
                }
        }
}

#modal-close{
        position: absolute;
        top: 20px;
        right: 20px;
}