#top-nav{
	display: block;
	height: 47px;
	@include sprites-x-sprite( top-nav );
	background-repeat: repeat-x;
	font: 12px $interstate;
	color: white;
	border-bottom: 1px solid white;
	z-index: 500;

	a{
		color: white;
		text-decoration: none;
	}

	ul{
		&.left{
			float: left;
		}

		&.right{
			float: right;
		}

		li{
			float: left;
			border-right: 1px solid #0c3552;
			border-left: 1px solid #135581;
			position: relative;

			&:first-child{
				border-left: none;
			}

			&:last-child{
				border-right: none;
			}

			a{
				float: left;
				height: 12px;
				padding: 18px 20px 17px;
				// background: red;
				position: relative;

				&:hover{
					@include sprites-x-sprite( top-nav-hover );
					background-repeat: repeat-x;
					color: $blue;
				}

				.popup{
					position:absolute;
					top:0;
					left: 50%;
					font-size: 11px;
					background: $orange;
					color: white;
					padding: 3px 7px;
					line-height: 1;
					box-shadow: 1px 1px 1px #333;

					&:after{
						content: '';
						@include sprite_replace_text( top-nav-popup-tail, 7, 7 );
						position: absolute;
						bottom: -7px;
						left: 0;
					}
				}

				span{
					vertical-align: top;
				}

				.icon-burger-menu{
					margin-top: -2px;
				}

				.icon-search{
					margin-top: -3.5px;
				}

				.icon-notification{
					margin-top: -6px;
				}

				.avatar-wrap{
					margin: -9px 10px 0;
					display: inline-block;

					&:after{
						@include clearfix;
					}
				}

				.icon-menu-indicator-bottom{
					margin-top: 4px;
				}
			}

			&.hover > a{
				@include sprites-x-sprite( top-nav-hover );
				background-repeat: repeat-x;
				color: $blue;									
			}

			.sub-menu{
				position: absolute;
				top: 47px;
				// left: 0;
				z-index: 500;
			}
		}
	}
}

#app-name-scrolled{
	float: left;
	@include sprite_replace_text( app-name-scrolled, 86, 14 );
	margin: 20px 30px;
	display: none; 
}

#main-nav-expand{
	.sub-menu{
		width: 255px;
		left: 0;
		background: white;
		@include novecentowide_book;
		box-shadow: 2px 0 5px #c1c1c1;
		display: none;
		z-index: 300;
		
		overflow-x: hidden;
		overflow-y: scroll;


		li{
			border: none;
			width: 100%;
			position: relative;

			&.separator{
				border-top: 1px solid $gray_border;
				border-bottom: 1px solid $gray_border;
				display: block;
				height: 1px;
				content: '';
				margin-top: -1px;
			}

			&.title{
				color: $blue;
				font: 18px $novecentowide;

				&:after{
					content: '';
					display: block;
					width: 205px;
					height: 1px;
					background: #efefef;
					position: absolute;
					bottom: 0;
					left: 25px;
				}
			}

			&.title > a{
				.label{
					color: $blue;
					font: 18px $novecentowide;
					width: 210px;
					float: left;
				}
			}

			&.has-sub > a{
				.label{
					position: relative;

					&:before{
						content: '';
						@include icon( main-nav-has-sub, 11, 19 );
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}

			&.has-sub.expanded > a{
				.label{
					&:before{
						background: $blue;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						top: 3px;
					}
				}
			}

			&.pseudo-title{
				&:hover{
					.icon-close{
						@include sprites-icon-sprite( icon-close-hover );
					}					
				}
			}

			a{
				color: $blue;
				width: 205px;
				padding: 25px 25px 20px;
				height: auto;

				.icon{
					float: left;
					margin: -5px 10px 0 0;
				}

				.label{
					float: right;
					width: 130px;
					font: 14px $novecentowide;
				}

				&:hover{					
					background: #eff6fb;
				}

				&:after{
					content: '';
					display: block;
					width: 205px;
					height: 1px;
					background: #efefef;
					position: absolute;
					bottom: 0;
					left: 25px;
				}				
			}

			&.faved{
				a{					
					border-bottom: 1px solid #efefef;

					&:after{
						display: none;
					}
				}
			}

			&.no-icon{
				a{
					.icon{
						display: none;
					}

					.label{
						float: left;
						width: 200px;
					}
				}
			}
		}

		&.sub-menu-pseudo{
			background: #f1f1f1;
			display: none;
			
			a{
				&:hover{
					background: #e2e2e2;
				}

				&:after{
					background: #e2e2e2;
				}

				&.faved{
					border-bottom: 1px solid #e2e2e2;
				}
			}

			li.title{
				&:after{
					background: #c9c9c9;
				}
			}
			
			.icon{
				display: none;
			}

			.icon-close{
				display: block;
				position: absolute;
				top: 7px;
				right: 0;
			}

			.label{
				width: 200px;
				float: left;
				position: relative;
			}

			&.depth-2{
				left: 255px;
				z-index: 290;

				&.expanded{
					left: 30px;
				}
			}

			&.depth-3{
				left: 285px;
				z-index: 280;

				&.expanded{
					left: 60px;
				}
			}

			&.depth-4{
				left: 315px;
				z-index: 270;

				&.expanded{
					left: 90px;
				}
			}


			&.depth-5{
				left: 345px;
				z-index: 260;

				&.expanded{
					left: 120px;
				}
			}			
		}

		.sub-sub-menu{
			background: red;
			float: left;
			display: none;

			.icon{
				display: none;
			}

			.label{
				width: 200px;
				float: left;
			}
		}
	}
}

#profile-expand{
	.sub-menu{
		right: -1px;
		width: 256px;
		border:1px solid $gray_border;
		border-top: none;
		display: none;

		li{
			border: none;

			background: #f9f9f9;
			display: block;
			width: 100%;

			a{
				background: none;

				&:hover{
					background: none;
				}
			}

			&.link{
				a{
					background: #e8e8e8;
					display: block;
					width: 216px;
					color: #666;
					padding: 10px 20px;					
					border-bottom:1px solid $gray_border;
				}
			}

			&.card{
				padding: 20px;
				width: 216px;
				
				.avatar-wrap{
					float: left;
					width: 80px;
					padding: 4px;
					background: white;
					border: 1px solid #cdcdcd;
					margin: 0 10px 0 0;

					.avatar{
						width: 100%;
						float: left;
					}
				}

				.credential{
					float: left;
					width: 115px;

					a{
						padding: 0;
					}

					.name{
						text-transform: uppercase;
						color: $blue;
						margin:4px 0 4px 0;
						display: block;
						font-size: 14px;
					}

					.email{
						font: 12px $droidserif;
						margin-bottom: 35px;
						display: block;

						a{
							color: #777;
						}
					}

					.link{
						font: 12px $droidserif;
						color: #777;
						text-decoration: underline;
						margin: 0 0 5px;

						&:hover{
							color: $orange;
						}
					}					
				}
			}

			&.logout{
				a{
					border-top:1px solid $gray_border;
					background: $orange;
					width: 216px;
					text-transform: uppercase;
					text-align: center;
					padding: 15px 20px;
					color: white;

					&:hover{
						color: $blue;
					}
				}
			}
		}
	}
}

#notification-expand{
	.sub-menu{
		right: -200px;
		width: 400px;
		border:1px solid $gray_border;
		border-top: none;
		display: none;
		background: #f9f9f9;
		color: #666;
			
		li.hover,
		li{
			border: none;
			display: block;
			width: 100%;
			border-top: 1px solid #e1e3e1;

			a{
				height: auto;
				color: #666;
				width: 360px;
				background: #f9f9f9;

				&:after{
					@include clearfix;
				}			
				
				&:hover{
					background: #eff6fb;
				}	

				.thumb{
					float: left;
					margin: 0 15px 0 0;
					padding: 3px;
					background: white;
					border: 1px solid $gray_border;

					img{
						display: block;
						margin: 0;
					}
				}

				.info{
					float: left;
					width: 285px;

					.title{
						display: block;
						font: 14px $droidserif;
						margin: 0 0 2px;
						line-height: 1.3;
					}

					.date{
						font-weight: lighter;
						font-size: 11px;
					}
				}
			}

			&.title{
				background: #e7e7e7;
				border-top: none;
				// border-bottom: 1px solid $gray_border;

				span{
					padding: 10px 20px;
					display: block;
				}
			}

			&.all{
				border-top: 1px solid $gray_border;

				a{
					background: #b8b8b8;
					padding: 15px 20px;
					text-align: center;
					text-transform: uppercase;

					&:hover{
						background: $orange;
					}
				}
			}
		}		
	}
}

#search-expand{
	&.focused{
		@include sprites-x-sprite( top-nav-hover );
		background-repeat: repeat-x;
		color: $blue;

		.icon-search{
			@include sprites-icon-sprite( icon-search-hover );
		}
	}

	#search-form{
		display: none;
	}
}

#search-form{
	float: left;

	input[type="text"]{
		background: none;
		border: none;
		border-bottom:1px solid $gray_border;
		margin-top: 5px;
		margin-right: 20px;
		padding: 7px 15px;
		// width: 530px;
		width: 0;
	}
}

#top-nav{
	li.hover{
		.sub-menu{
			display: block;

			&.sub-menu-pseudo{
				display: none;
			}
		}
	}	
}

.scrolled{
	#top-nav{
		position: fixed;
		width: 960px;
		top: 0;
	}	

	#main-nav-expand{
		.sub-menu{
			left: -146px;

			&.sub-menu-pseudo{

				&.depth-2{
					left: 109px;

					&.expanded{
						left: -116px;
					}
				}

				&.depth-3{
					left: 140px;

					&.expanded{
						left: -86px;
					}
				}

				&.depth-4{
					left: 169px;

					&.expanded{
						left: -56px;
					}
				}


				&.depth-5{
					left: 199px;

					&.expanded{
						left: -26px;
					}
				}
			}
		}
	}

	#app-name-scrolled{
		display: block;
	}	
}