#upcoming-agenda{
	display: block;
	height: 60px;
	border-top: 1px solid $gray_border;
	border-bottom: 1px solid $gray_border;
	background: #f2f2f2;
	color: #666;

	&:after{
		@include clearfix;
	}

	.section-title{
		float: left;
		@include novecentowide;
		font-size: 18px;
		padding: 24px 32px 18px;
		height: 18px;
		border-right: 1px solid $gray_border;
		line-height: 1;
		width: 172px;

		span{
			vertical-align: top;
		}

		.icon{
			margin: -6px 5px 0 0;
		}
	}

	.section-content{
		float: left;
		width: 723px;
		position: relative;

		.nav{
			position: absolute;
			top: 15px;

			&.previous{
				left: 15px;
			}

			&.next{
				right: 15px;
			}
		}
	}
}

#agenda-list{
	display: block;
	padding: 0 50px;
	@include opensans;
	font-size: 12px;
	height: 60px;
	overflow: hidden;

	li{
		display: block;
		height: 60px;
		width: 100%;

		a{
			color: #666;
			display: block;
			height: 60px;
			width: 100%;

			.column{
				float: left;
				width: 23%;
				margin: 15px 0;
				border-left: 1px solid $gray_border;
				height: 30px;

				&:first-child{
					border-left: none;
				}

				&:last-child{
					width: 30%;
				}

				span{
					display: block;
					padding: 0 20px;

					&.top{
						padding-bottom: 5px;
					}
				}
			}
		}
	}
}