#user-role{
	display: block;
	border-bottom: 1px solid white;
	background: $gray_bg;
	overflow: hidden;

	&:after{
		@include clearfix;
	}

	&.expanded{
		.title{
			&:after{
				@include sprites-sprite( user-role-pointer-close );
			}
		}		
	}
}

#current-user-role{
	background: $orange;
	color: white;
	@include novecentowide;
	float: left;
	width: 230px;
	cursor: pointer;
	border-right: 1px solid white;
	position: relative;
	z-index: 100;

	.inside{
		margin: 10px 10px 13px 37px;
		height: 39px;
	}

	.pre-title{
		font-size: 14px;
		margin: 0 0 1px 0;
	}

	.title{
		font-size: 24px;
		position: relative;

		&:after{
			content: '';
			@include sprite_replace_text( user-role-pointer, 12, 11 );
			position: absolute;
			top: 7px;
			right: 0;
		}
	}
}

#switch-role{
	float: left;
	width: 730px;
	margin-left: -730px;
	background: $orange;
	@include novecentowide;
	color: white;
	position: relative;
	z-index: 80;

	&:after{
		@include clearfix;
	}

	a{
		color: white;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	.inside{
		margin: 10px 10px 13px 0;
		padding: 0 0 0 37px;
		height: 39px;
		border-left: 1px solid white;
	}

	.title{
		font-size: 14px;
	}

	ul{
		li{
			float: left;
			font-size: 24px;
			padding: 0 15px 0 20px;
			position: relative;

			&:after{
				content: '';
				display: block;
				width: 7px;
				height: 7px;
				background: white;
				position: absolute;
				top: 7px;
				left: 0;
				border-radius: 50%;
			}


			&:first-child{
				padding: 0 15px 0 0;

				&:after{
					display: none;
				}
			}
		}
	}
}