#user-info{
	background: $gray_bg;

	.inside{
		padding: 20px;

		&:after{
			@include clearfix;
		}

		.avatar-wrap{
			float: left;
			width: 212px;
			margin: 0 20px 0 0;

			img{
				width: 100%;
			}
		}

		.info{
			float: left;
			width: 687px;
			padding: 45px 0 0 0;
			color: #787a70;

			.name{
				@include opensans;
				font-size: 24px;
				color: #135581;
				font-weight: bold;
				margin: 0 0 3px 0;
			}

			.faculty{
				@include opensans;
				font-size: 16px;
			}

			.dreams{
				margin: 17px 0 0 0;
				padding: 17px 0 0 0;
				border-top: 1px solid white;
				line-height: 1.4;
				font-size: 13px;

				h4{
					@include opensans;
					font-size: 16px;
					margin: 0 0 5px 0;
				}
			}
		}
	}
}

#change-avatar{
	position: relative;

	.change-avatar-guide{
		display: block;
		width: 212px;
		height: 212px;
		background: $orange;
		opacity: .9;
		text-align: center;
		color: white;
		font: 16px $opensans;
		display: none;

		.icon{
			margin: 90px 0 20px;
		}

		.copy{
			display: block;
		}

		position: absolute;
		top: 0;
		left: 0;
	}

	&:hover{
		.change-avatar-guide{
			display: block;
		}
	}
}