#widgets{
	padding: 15px 0;

	&:after{
		@include clearfix;
	}

	.row{
		display: block;
		margin: 15px 15px 0;

		&:first-child{
			margin-top: 0;
		}

		&:after{
			@include clearfix;
		}
	}

	.widget{
		float: left;
		width: 300px;
		height: 300px;
		margin:0 0 0 15px;
		color: #666;
		@include opensans;
		position: relative;

		&.two-third{
			width: 615px;
		}

		&:first-child{
			margin-left: 0;
		}

		.inside{
			background: #f6f6f6;
			border: 1px solid #c9c9c9;
			padding: 20px;
			height: 258px;
		}

		.widget-header{
			border-bottom: 1px solid #c9c9c9;
			display: block;
			padding: 0 0 10px 0;
			margin: 0 0 10px 0;
		}

		.widget-icon{
			float: left;
			border-right: 1px solid #c9c9c9;
			padding: 0 10px 0 0;
			margin: 0 10px 0 0;
		}

		.widget-title{
			@include novecentowide;
			font-size: 17px;
			margin-bottom: 2px;
		}

		.widget-desc{
			font-size: 12px;
		}

		.widget-body{
			display: block;
			width: 100%;
			height: 210px;

			&.has-footer{
				height: 160px;
			}
		}

		.widget-footer{
			position: absolute;
			bottom: 15px;
			left: 0;
			display: block;
			width: 100%;


			.widget-footer-inside{
				// width: 100%;
				display: block;
				padding: 15px 0 0;
				margin: 0 20px;		
				border-top: 1px solid #c9c9c9;
				text-align: center;

				&.no-border-top{					
					border-top: none;
				}

				.icon-decreasing,
				.icon-increasing{
					margin-bottom: -4px;
					margin-right: 5px;
				}
			}

			a{
				color: $blue;
			}
		}

		&.todolist{
			.widget-footer-inside{
				text-align: right;

				.button{
					margin-left: 10px;
				}
			}
		}

		&.avatars{
			.widget-body{
				ul{
					float: left;
					margin: 10px 0 0 3px;

					li{
						float:left;
						margin: 0 5px 5px 0;

						a{
							float:left;
							width: 40px;
							height: 40px;
							padding:2px;
							border: 1px solid $gray_border;
							background: white;

							img{
								margin: 0;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

#widgets-control{
	.inside{
		background: #f6f6f6;
		border: 1px solid #c9c9c9;
		margin: 0 15px 60px;
		padding: 10px 70px 10px 20px;

		&:after{
			@include clearfix;
		}
	}

	ul{
		float:right;

		li{
			float: left;
			padding: 0 20px;
			border-right: 1px solid #c9c9c9;

			&:first-child{
				padding-left: 0;
			}

			&:last-child{
				padding-right: 0;
				border-right: none;
			}

			a{
				float: left;
				@include novecentowide;
				margin-bottom: 7px;
				color: #666;

				&:hover{
					color: $orange;
				}

				.icon{
					margin: 5px 5px -7px 0;
				}
			}
		}
	}
}

.gpa-wheel{
	display: block;
	width: 152px;
	height: 150px;
	margin: 20px auto 0;
	position: relative;

	&:after{
		display: block;
		width: 152px;
		height: 150px;
		content: '';
		@include sprites-sprite( gpa-meter );
		position: absolute;
		top: 0;
		left: 0;
	}	

	.label{
		font: 30px $novecentowide;
		color: #666;
		display: block;
		text-align: center;
		position: absolute;
		z-index: 100;
		top:0;
		left: 0;
		width: 100%;
		padding: 60px 0;
	}
}

.yourcredit{

	.row{
		display: block;
		margin:25px 0 0 !important;

		&:after{
			@include clearfix;
		}

		.column{
			float: left;
			@include novecentowide_book;
			vertical-align: middle;

			&.icon-wrap{
				width: 42px;
				margin-top: 2px;
			}

			&.credit-count{
				font-size: 48px;
				width: 141px;
				text-align: center;
			}

			&.credit-label{
				font-size: 14px;
				margin-top: 15px;
			}
		}
	}
}

.performance-meter{
	display: block;
	width: 183px;
	height: 99px;
	position: relative;
	margin: 0 auto;

	&:after{
		display: block;
		width: 183px;
		height: 99px;
		content: '';
		@include sprites-sprite( performance-meter );
		position: absolute;
		top: 0;
		left: 0;
	}	
}

.performance-legend{
	display: block;
	height: 42px;
	position: relative;
	margin: 5px 0 0;

	.icon{
		position: absolute;
		top: 0;
	}

	.icon-indicator-sad{
		left: 25px;
	}

	.icon-indicator-smile{
		right: 25px;
	}
}

.widget.attendance{
	.row{
		border-top: 1px solid #c9c9c9;
		padding: 20px 0;
		margin: 0 !important;

		&:first-child{
			border-top: none;
		}

		&:after{
			@include clearfix;
		}

		.column{
			float: left;

			&.icon-wrap{
				width: 42px;
				margin: 0 20px 0 0;
			}

			&.label{
				width: 196px;
				font-size: 12px;
				color: #666;
				line-height: 1.3;

				a{
					color: #666;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}