/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 234, sprites/*.png */
.sprites-sprite, #main-nav .menu-pointer, #main-nav li.active .menu-pointer, #main-nav a:hover .menu-pointer, #main-nav a#toggle-searchform-mainnav, #main-nav a#toggle-searchform-mainnav:active, .dmd-select-wrapper .dmd-dropdown-icon, .dmd-select-wrapper.active .dmd-dropdown-icon, .dmd-input-search-wrap .dmd-input-search-icon, form#admission_form .banner-notif .exclamation-logo { background: url('../images/sprites-sa06b14c323.png') no-repeat; }

/*  Created on : Dec 5, 2013, 9:20:21 AM Author     : Deni Tri Hartanto
*/
/* line 5, ../sass/_binus-fancybox.scss */
.fancybox-overlay { z-index: 99991; }

/* line 8, ../sass/_binus-fancybox.scss */
.fancybox-wrap.binus-fancybox { width: 660px; border: solid 5px #f2f2f2; }
/* line 11, ../sass/_binus-fancybox.scss */
.fancybox-wrap.binus-fancybox .fancybox-skin { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
/* line 16, ../sass/_binus-fancybox.scss */
.fancybox-wrap.binus-fancybox .fancybox-outer { padding: 10px; }

/* ------------------------------------------------------------- Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 List of CSS3 Sass Mixins File to be @imported and @included as you need
 The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER ENDING css files
 note: All CSS3 Properties are being supported by Safari 5 more info: http://www.findmebyip.com/litmus/#css3-properties
 Mixins available: -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999 -   background-size         - arguments: Width: 100%, Height: 100% -   border-radius           - arguments: Radius: 5px -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4) -   box-sizing              - arguments: Type: border-box -   columns                 - arguments: Count: 3, Gap: 10 -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0 -   flex                    - arguments: Value: 1 -   flip                    - arguments: ScaleX: -1 -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf -   opacity                 - arguments: Opacity: 0.5 -   outline radius          - arguments: Radius: 5px -   resize                  - arguments: Direction: both -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0 CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4) -   transform               - arguments: Parameters: null -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
@font-face { font-family: 'Droid Serif'; src: url("../fonts/droidserif-regular.eot?") format("eot"), url("../fonts/droidserif-regular.woff") format("woff"), url("../fonts/droidserif-regular.ttf") format("truetype"); }

@font-face { font-family: 'Droid Serif'; src: url("../fonts/droidserif-bold.eot?") format("eot"), url("../fonts/droidserif-bold.woff") format("woff"), url("../fonts/droidserif-bold.ttf") format("truetype"); font-weight: bold; }

@font-face { font-family: 'Droid Serif'; src: url("../fonts/droidserif-italic.eot?") format("eot"), url("../fonts/droidserif-italic.woff") format("woff"), url("../fonts/droidserif-italic.ttf") format("truetype"); font-style: italic; }

@font-face { font-family: 'Droid Serif'; src: url("../fonts/droidserif-bolditalic.eot?") format("eot"), url("../fonts/droidserif-bolditalic.woff") format("woff"), url("../fonts/droidserif-bolditalic.ttf") format("truetype"); font-style: italic; font-weight: bold; }

@font-face { font-family: 'Interstate'; src: url("../fonts/interstate-regular.eot?") format("eot"), url("../fonts/interstate-regular.woff") format("woff"), url("../fonts/interstate-regular.ttf") format("truetype"); }

@font-face { font-family: 'Interstate Bold'; src: url("../fonts/interstate-bold.eot?") format("eot"), url("../fonts/interstate-bold.woff") format("woff"), url("../fonts/interstate-bold.ttf") format("truetype"); }

@font-face { font-family: 'Interstate Light'; src: url("../fonts/interstate-light.eot?") format("eot"), url("../fonts/interstate-light.woff") format("woff"), url("../fonts/interstate-light.ttf") format("truetype"); }

@font-face { font-family: 'Novecentowide Normal'; src: url("../fonts/novecentowide-normal.eot?") format("eot"), url("../fonts/novecentowide-normal.woff") format("woff"), url("../fonts/novecentowide-normal.ttf") format("truetype"); }

@font-face { font-family: 'Novecentowide Book'; src: url("../fonts/novecentowide-book.eot?") format("eot"), url("../fonts/novecentowide-book.woff") format("woff"), url("../fonts/novecentowide-book.ttf") format("truetype"); }

@font-face { font-family: 'Novecentowide Bold'; src: url("../fonts/novecentowide-bold.eot?") format("eot"), url("../fonts/novecentowide-bold.woff") format("woff"), url("../fonts/novecentowide-bold.ttf") format("truetype"); }

/* line 237, ../sass/screen.scss */
body { background: url(../images/bg.png); color: #444446; font-family: 'Droid Serif', Georgia, Times New Roman; font-size: 13px; }

/* line 244, ../sass/screen.scss */
a { text-decoration: none; color: #6f273d; }

/* line 249, ../sass/screen.scss */
.container { display: block; width: 960px; background: white; padding: 10px; margin: 0 auto; border: 1px solid #d7d7d7; }

/* line 258, ../sass/screen.scss */
.section-title { font-family: 'Interstate Light', Helvetica, Arial, sans-serif; text-transform: uppercase; color: #6f273d; font-size: 30px; margin-bottom: 16px; }

/* line 266, ../sass/screen.scss */
.wrap:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 270, ../sass/screen.scss */
:focus { outline: none; }

/* line 274, ../sass/screen.scss */
.btn { border: 1px solid #ffa107; color: #555555; font-family: 'Interstate', Helvetica, Arial, sans-serif; font-size: 12px; text-transform: uppercase; height: 12px; padding: 13px 20px; cursor: pointer; display: inline-block; vertical-align: middle; text-align: center; background: #ffe265; /* Old browsers */ background: -moz-linear-gradient(top, #ffe265 0%, #f5b101 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe265), color-stop(100%, #f5b101)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ffe265 0%, #f5b101 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ffe265 0%, #f5b101 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ffe265 0%, #f5b101 100%); /* IE10+ */ background: linear-gradient(to bottom, #ffe265 0%, #f5b101 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe265', endColorstr='#f5b101',GradientType=0 ); /* IE6-9 */ }
/* line 200, ../sass/screen.scss */
.btn:hover { background: #ffd83d; /* Old browsers */ background: -moz-linear-gradient(top, #ffd83d 0%, #f5b101 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd83d), color-stop(100%, #f5b101)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ffd83d 0%, #f5b101 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ffd83d 0%, #f5b101 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ffd83d 0%, #f5b101 100%); /* IE10+ */ background: linear-gradient(to bottom, #ffd83d 0%, #f5b101 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd83d', endColorstr='#f5b101',GradientType=0 ); /* IE6-9 */ }
/* line 211, ../sass/screen.scss */
.btn:active { background: #f5b101; /* Old browsers */ background: -moz-linear-gradient(top, #f5b101 0%, #ffd83d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5b101), color-stop(100%, #ffd83d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #f5b101 0%, #ffd83d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #f5b101 0%, #ffd83d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #f5b101 0%, #ffd83d 100%); /* IE10+ */ background: linear-gradient(to bottom, #f5b101 0%, #ffd83d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5b101', endColorstr='#ffd83d',GradientType=0 ); /* IE6-9 */ }

/* line 278, ../sass/screen.scss */
.two-columns { -webkit-column-count: 2; -webkit-column-gap: 45px; -moz-column-count: 2; -moz-column-gap: 45px; column-count: 2; column-gap: 45px; }

/* line 294, ../sass/screen.scss */
#header { display: block; width: 960px; height: 85px; background: url(../images/header.png); }

/* line 301, ../sass/screen.scss */
#site-name { float: left; margin: 10px 0 0 20px; }

/* line 306, ../sass/screen.scss */
#site-name a { float: left; width: 252px; height: 67px; text-indent: -99999em; }

/* line 318, ../sass/screen.scss */
#main-nav { display: block; height: 34px; background: #6f273d; margin-top: 1px; margin-bottom: 10px; position: relative; }

/* line 327, ../sass/screen.scss */
#main-nav li { float: left; border-left: 1px solid #622135; text-transform: uppercase; }

/* line 333, ../sass/screen.scss */
#main-nav li:first-child { border-left: none; }

/* line 337, ../sass/screen.scss */
#main-nav a { float: left; font-family: 'Interstate', Helvetica, Arial, sans-serif; color: white; height: 13px; padding: 12px 14px 9px; vertical-align: middle; cursor: pointer; }

/* line 348, ../sass/screen.scss */
#main-nav li.active a, #main-nav a:hover { background: #82314a; }

/* line 352, ../sass/screen.scss */
#main-nav .menu-pointer { display: inline-block; width: 10px; height: 7px; background-position: 0 -875px; margin-left: 5px; }

/* line 362, ../sass/screen.scss */
#main-nav li.active .menu-pointer, #main-nav a:hover .menu-pointer { background-position: 0 -868px; }

/* line 367, ../sass/screen.scss */
#main-nav .sub-menu { position: absolute; top: 34px; left: 0; background: #82314a; width: 100%; z-index: 85000; opacity: 0; }

/* line 377, ../sass/screen.scss */
#main-nav .active .sub-menu { opacity: 1; }

/* line 381, ../sass/screen.scss */
#main-nav .sub-menu:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 385, ../sass/screen.scss */
#main-nav .sub-menu li { margin-top: 15px; text-transform: none; width: 128px; position: relative; border-right: 1px solid #88344d; }

/* line 393, ../sass/screen.scss */
#main-nav .sub-menu li:last-child { border-right: none; }
/* line 396, ../sass/screen.scss */
#main-nav .sub-menu li:last-child .sub-menu li { border-right: none; }

/* line 401, ../sass/screen.scss */
#main-nav .sub-menu li a { height: auto; }

/* line 405, ../sass/screen.scss */
#main-nav .sub-menu .sub-menu { position: relative; background: none; top: auto; left: auto; display: inline-block; }

/* line 413, ../sass/screen.scss */
#main-nav .sub-menu .sub-menu li { border-left: none; border-top: 1px solid #88344d; border-bottom: 1px solid #622135; margin-top: 0; margin-left: 10px; width: 118px; font-size: 11px; }

/* line 423, ../sass/screen.scss */
#main-nav .sub-menu .sub-menu li:first-child { border-top: none; }

/* line 427, ../sass/screen.scss */
#main-nav .sub-menu .sub-menu li a { padding: 5px 10px 5px 10px; font-family: 'Interstate Light', Helvetica, Arial, sans-serif; }

/* line 432, ../sass/screen.scss */
#main-nav .sub-menu .sub-menu .sub-menu li { margin-left: 20px; width: 98px; }

/* line 437, ../sass/screen.scss */
#main-nav .sub-menu .sub-menu .sub-menu li:first-child { border-top: 1px solid #622135; }

/* line 441, ../sass/screen.scss */
#main-nav .sub-menu .sub-menu li:last-child { border-bottom: none; }

/* line 445, ../sass/screen.scss */
#main-nav .sub-menu .sub-menu .sub-menu li a { padding-left: 5px; }

/* line 450, ../sass/screen.scss */
#main-nav-wrap.top-fixed { position: fixed; top: 0; left: 0; width: 100%; z-index: 99990; }
/* line 456, ../sass/screen.scss */
#main-nav-wrap.top-fixed #main-nav { width: 960px; margin: 0 auto; border-bottom: 1px solid white; }

/* line 465, ../sass/screen.scss */
.logged-in #main-nav-wrap.top-fixed { top: 28px; }

/* line 472, ../sass/screen.scss */
#searchform-mainnav { float: right; height: 35px; width: 35px; overflow: hidden; position: absolute; top: 0; right: 0; }

/* line 482, ../sass/screen.scss */
#main-nav a#toggle-searchform-mainnav { float: right; width: 35px; height: 34px; background-position: 0 -573px; text-indent: -999999em; padding: 0; margin: 0; position: relative; z-index: 1000; }

/* line 495, ../sass/screen.scss */
#main-nav a#toggle-searchform-mainnav:active { background-position: 0 -498px; }

/* line 500, ../sass/screen.scss */
#s-mainnav { border: 1px solid #6f273d; font-family: 'Droid Serif', Georgia, Times New Roman; font-style: italic; color: #999; float: right; padding: 10px 9px; margin: 0 -219px 0; font-size: 12px; width: 200px; height: 12px; position: relative; }

/* line 523, ../sass/screen.scss */
/*#footer { background: #6f273d; color: #f2f2f2; border-top: 1px solid #d7d7d7; height: 10px; }*/

/* Add by Rian 22 Apr 2014, from screen ver 3.8.3*/
/* Start */

#footer {
  background: #6f273d;
  color: #f2f2f2;
  border-top: 1px solid #d7d7d7;
}

.footer-social {
  background: #f2f2f2;
  color: #6f273d;
  float: left;
  padding: 40px 20px 20px;
  height: 160px;
  width: 440px;
  border-bottom: 1px solid white;
}

.left.footer-social {
  padding-right: 19px;
  border-right: 1px solid #d7d7d7;
}

#footer h3 {
  text-transform: uppercase;
  font-family: 'Interstate Light', Helvetica, Arial, sans-serif;
}

.footer-pretitle {
  font-size: 14px;
}

.footer-title {
  font-size: 24px;
}

.footer-social .footer-title {
  margin-bottom: 20px;
}

.footer-item .footer-title {
  margin-bottom: 25px;
}

.footer-item {
  float: left;
  padding: 40px 20px 70px;
  height: 160px;
}

#binus-education {
  width: 250px;
  background: url(../images/binus-education-border.png) right top repeat-y;
}

#binus-education-description {
  line-height: 1.2;
}

#select-binus-education-wrap {
  display: block;
  width: 270px;
  margin: 10px 0 0 0;
}

#select-binus-education {
  width: 100%;
}

#information {
  width: 602px;
}

#school-name {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.information-item {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #f2f2f2;
  font-size: 12px;
  line-height: 1.4;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -99999em;
  background: red;
}

#socmsg { background: url("../images/sprite-global.png") repeat scroll -0px 0 transparent; margin-left: 10px; }
#soctwitter { background: url("../images/sprite-global.png") repeat scroll -40px 0 transparent; margin-left: 10px; }
#socfacebook { background: url("../images/sprite-global.png") repeat scroll -80px 0 transparent; }
#socgoogle { background: url("../images/sprite-global.png") repeat scroll -120px 0 transparent; }
#socyoutube { background: url("../images/sprite-global.png") repeat scroll -160px 0 transparent; }
#socblogger { background: url("../images/sprite-global.png") repeat scroll -200px 0 transparent; }

#socmsg:hover{ background: url("../images/sprite-global.png") repeat scroll -0px -40px transparent; margin-left: 10px; }
#soctwitter:hover{ background: url("../images/sprite-global.png") repeat scroll -40px -40px transparent; }
#socfacebook:hover{ background: url("../images/sprite-global.png") repeat scroll -80px -40px transparent; }
#socgoogle:hover{ background: url("../images/sprite-global.png") repeat scroll -120px -40px transparent; }
#socyoutube:hover{ background: url("../images/sprite-global.png") repeat scroll -160px -40px transparent; }
#socblogger:hover{ background: url("../images/sprite-global.png") repeat scroll -200px -40px transparent; }

#address {
  float: left;
  width: 180px;
  margin-right: 30px;
}

#phone-fax {
  float: left;
  width: 286pxpx;
}

#send-mail {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: -4px;
}

#send-mail-link {
  background-position: 0 -815px;
}
#send-mail-link:hover {
  background-position: 0 -855px;
}

#social-medias {
  float: left;
  margin-top: 25px;
}

#social-medias span {
  float: left;
  padding-top: 14px;
  margin-right: 5px;
}

#social-medias .social-icon {
  margin-left: 15px;
}

#googleplus {
  background-position: 0 -392px;
  width: 40px;
}
#googleplus:hover {
  background-position: 0 -216px;
}

#youtube {
  background-position: 0 -352px;
}
#youtube:hover {
  background-position: 0 -80px;
}

#rssfeed {
  background: url(../images/sprites/footer-rss.png);
}
#rssfeed:hover {
  background-position: 0 -648px;
}

.footer-social.left {
  position: relative;
}

#latest-tweets {
  display: block;
  height: 110px;
}

#tweet-rails {
  background: #6f273d;
  display: block;
  padding: 6px 10px;
  color: white;
  font-size: 12px;
  line-height: 1.2;
}
#tweet-rails a {
  color: #f37d35;
}
#tweet-rails a:hover {
  text-decoration: underline;
}
#tweet-rails .meta {
  font-size: 10px;
  display: block;
  margin-top: 5px;
  text-transform: lowercase;
  font-family: 'Interstate Light', Helvetica, Arial, sans-serif;
}
#tweet-rails .meta a {
  color: white;
  margin-left: 3px;
}

#tweet-bird {
  display: inline-block;
  width: 43px;
  height: 38px;
  background-position: 0 -985px;
  bottom: 15px;
  left: 20px;
}

#credit {
  color: #808080;
  font: 10px arial, sans-serif;
  display: block;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0 50px;
}

/* End */

/* line 531, ../sass/screen.scss */
.dmd-select-wrapper { position: relative; height: 40px; background: #808080; display: inline-block; vertical-align: middle; }
/* line 538, ../sass/screen.scss */
.dmd-select-wrapper .dmd-selected-label { display: inline-block; height: 16px; cursor: pointer; color: white; padding: 14px 10px 10px; }
/* line 546, ../sass/screen.scss */
.dmd-select-wrapper .dmd-dropdown-icon { display: inline-block; width: 40px; height: 40px; background-position: 0 -708px; position: absolute; top: 0; right: 0; border-left: 1px solid #6f273d; cursor: pointer; }
/* line 559, ../sass/screen.scss */
.dmd-select-wrapper.active .dmd-dropdown-icon { background-position: 0 -788px; }
/* line 564, ../sass/screen.scss */
.dmd-select-wrapper .dmd-dropdown-options { display: none; width: 100%; background: white; position: absolute; top: 40px; left: 0; max-height: 110px; overflow-y: scroll; z-index: 1000; }
/* line 575, ../sass/screen.scss */
.dmd-select-wrapper .dmd-dropdown-options a { display: block; padding: 8px 10px; background: #DFDFDF; }
/* line 581, ../sass/screen.scss */
.dmd-select-wrapper .dmd-dropdown-options a:hover, .dmd-select-wrapper .dmd-dropdown-options a.active { background: #CFCFCF; }
/* line 587, ../sass/screen.scss */
.dmd-select-wrapper select { display: none; }

/* line 592, ../sass/screen.scss */
.dmd-input-search-wrap { vertical-align: middle; display: inline-block; position: relative; }
/* line 597, ../sass/screen.scss */
.dmd-input-search-wrap input[type="text"] { padding: 13px 13px 13px 13px; font-family: 'Droid Serif', Georgia, Times New Roman; font-size: 14px; height: 14px; vertical-align: middle; }
/* line 605, ../sass/screen.scss */
.dmd-input-search-wrap .dmd-input-search-icon { display: inline-block; width: 40px; height: 40px; background-position: 0 -608px; vertical-align: middle; position: absolute; top: 1px; right: 1px; }

/* line 618, ../sass/screen.scss */
/* #credit { color: #808080; font: 10px arial, sans-serif; display: block; width: 960px; margin: 0 auto; text-align: center; padding: 15px 0 50px; } */

/* line 2, ../sass/_admission_form.scss */
div#admission_form { font-family: 'Interstate', Helvetica, Arial, sans-serif; padding: 60px 0 0; width: 960px; margin: 0 auto; }
/* line 8, ../sass/_admission_form.scss */
div#admission_form .banner-notif { margin: 0 auto 20px; width: 640px; }
/* line 44, ../sass/_mixin.scss */
div#admission_form .banner-notif:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 14, ../sass/_admission_form.scss */
div#admission_form .banner-notif.green .detail { background: #74B71C; }
/* line 17, ../sass/_admission_form.scss */
div#admission_form .banner-notif.red .detail { background: #D2302E; }
/* line 19, ../sass/_admission_form.scss */
div#admission_form .banner-notif > p { float: left; }
/* line 22, ../sass/_admission_form.scss */
div#admission_form .banner-notif .exclamation-logo { background-position: 0 -828px; width: 40px; height: 40px; }
/* line 27, ../sass/_admission_form.scss */
div#admission_form .banner-notif .detail { width: 558px; height: 40px; padding: 0 20px; line-height: 45px; margin-left: 1px; color: #fff; font-family: 'Droid Sans', Helvetica, Arial, sans-serif; font-size: 14px; text-transform: uppercase; }
/* line 44, ../sass/_mixin.scss */
div#admission_form .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 41, ../sass/_admission_form.scss */
div#admission_form .section-header { color: #6F273D; font-family: 'Interstate Light', Helvetica, Arial, sans-serif; text-align: center; margin-bottom: 50px; text-transform: uppercase; }
/* line 47, ../sass/_admission_form.scss */
div#admission_form .section-header .primary { font-size: 30px; line-height: 34px; margin-bottom: 3px; }
/* line 52, ../sass/_admission_form.scss */
div#admission_form .section-header p.translation { font-size: 22px; line-height: 24px; font-style: italic; }
/* line 58, ../sass/_admission_form.scss */
div#admission_form .section-brief { color: #737371; text-align: center; font-family: 'Interstate', Helvetica, Arial, sans-serif; margin-bottom: 40px; }
/* line 63, ../sass/_admission_form.scss */
div#admission_form .section-brief.bolder { font-family: 'Interstate Bold', Helvetica, Arial, sans-serif; }
/* line 66, ../sass/_admission_form.scss */
div#admission_form .section-brief .primary { font-size: 16px; line-height: 20px; margin-bottom: 8px; }
/* line 71, ../sass/_admission_form.scss */
div#admission_form .section-brief p.translation { font-size: 14px; line-height: 16px; font-style: italic; }
/* line xx, ../sass/_admission_form.scss add by Rian */
div#admission_form .section-content { margin-top: 200px; }
/* line 77, ../sass/_admission_form.scss */
div#admission_form .field-group { margin-bottom: 100px; }
/* line 79, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field { color: #737371; margin-bottom: 30px; }
/* line 44, ../sass/_mixin.scss */
div#admission_form .field-group .form-field:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 84, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field.submit-field { padding-top: 35px; }
/* line 87, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field.submit-field .btn { width: 260px; text-align: center; }
/* line 94, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field .label { display: inline-block; *display: inline; zoom: 1; width: 315px; text-align: right; vertical-align: top; margin-right: 55px; }
/* line 104, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field .label .primary { font-size: 16px; line-height: 22px; display: block; }
/* line 109, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field .label .translation { font-size: 14px; line-height: 24px; font-style: italic; font-family: 'Interstate Light', Helvetica, Arial, sans-serif; }
/* line 117, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field div.input { display: inline-block; *display: inline; zoom: 1; width: 425px; vertical-align: middle; }
/* line 124, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field div.input div.description { color: #aaaaaa; font-size: 11px; line-height: 16px; margin-top: 5px; margin-bottom: 15px; width: 350px; }
/* line 134, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field div.input div.description .translation { font-style: italic; }
/* line 139, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field div.input .multi-input-box { margin-bottom: 30px; }
/* line 44, ../sass/_mixin.scss */
div#admission_form .field-group .form-field div.input .multi-input-box:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 145, ../sass/_admission_form.scss */
div#admission_form .field-group .form-field .field-error { width: 350px; margin-left: 375px; font-size: 13px; line-height: 15px; color: #f00; font-family: 'Interstate Light', Helvetica, Arial, sans-serif; }
/* line 157, ../sass/_admission_form.scss */
div#admission_form input.text { height: 40px; width: 310px; line-height: 40px; padding: 0 20px; border: solid 1px #d7d7d7; color: #444446; }
/* line xx, ../sass/_admission_form.scss add by RIan */
div#admission_form input.text.tiny { width: 30px; }
/* line 165, ../sass/_admission_form.scss */
div#admission_form input.text.small { width: 60px; }
/* line 168, ../sass/_admission_form.scss */
div#admission_form input.text.premedium { width: 160px; }
/* line 168, ../sass/_admission_form.scss */
div#admission_form input.text.medium { width: 205px; }
/* line 171, ../sass/_admission_form.scss */
div#admission_form input.text.inline { margin: 0 5px; }
/* line 173, ../sass/_admission_form.scss */
div#admission_form input.text.inline:first-child { margin-left: 0; }
/* line 178, ../sass/_admission_form.scss */
div#admission_form input.text:active, form#admission_form .select:active, form#admission_form .textarea:active,
div#admission_form input.text:focus , form#admission_form .select:focus ,form#admission_form .textarea:focus
{ border-color: #bd1521; }
/* line xx, ../sass/_admission_form.scss add by RIan*/
div#admission_form .textarea { font-family: Helvetica, Arial, sans-serif; font-size: 13px;  height: 40px; width: 310px; height:180px; line-height: 40px; padding: 0 20px; border: solid 1px #d7d7d7; color: #444446; }
div#admission_form .select { height: 40px; width: 352px; line-height: 40px; padding: 10px; border: solid 1px #d7d7d7; color: #444446; }
div#admission_form .option { height: 40px; width: 352px; line-height: 40px; padding: 0 20px; border: solid 1px #d7d7d7; color: #444446; }
/* line 185, ../sass/_admission_form.scss */
div#admission_form input.btn { height: 40px; padding: 0; line-height: 40px; }
/* line 44, ../sass/_mixin.scss */
div#admission_form .radio-group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 194, ../sass/_admission_form.scss */
div#admission_form .radio-group.floating .radio-container { float: left; }
/* line 199, ../sass/_admission_form.scss */
div#admission_form .radio-group.no-bottom-margin .radio-container { margin-bottom: 0; }
/* line 204, ../sass/_admission_form.scss */
div#admission_form .radio-container { min-width: 210px; margin-bottom: 15px; position: relative; }
/* line 208, ../sass/_admission_form.scss */
div#admission_form .radio-container > * { vertical-align: middle; }
/* line 44, ../sass/_mixin.scss */
div#admission_form .radio-container.multiline:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 214, ../sass/_admission_form.scss */
div#admission_form .radio-container.multiline .primary { display: block; margin-bottom: 6px; padding-top: 6px; }
/* line 219, ../sass/_admission_form.scss */
div#admission_form .radio-container.multiline .translation { display: block; font-size: 11px; font-style: italic; }
/* line 224, ../sass/_admission_form.scss */
div#admission_form .radio-container.multiline .radio { display: inline; }
/* line 227, ../sass/_admission_form.scss */
div#admission_form .radio-container.multiline label { display: inline-block; }
/* line 231, ../sass/_admission_form.scss */
div#admission_form .radio-container.full { width: 350px; }
/* line 44, ../sass/_mixin.scss */
div#admission_form .radio-container.full:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 234, ../sass/_admission_form.scss */
div#admission_form .radio-container.full label { width: auto; }
/* line 44, ../sass/_mixin.scss */
div#admission_form .radio-container.full label:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 240, ../sass/_admission_form.scss */
div#admission_form .radio-container.full label br { margin-bottom: 5px; }
/* line 244, ../sass/_admission_form.scss */
div#admission_form .radio-container.full input.text { width: 178px; margin-left: 40px; }
/* line 251, ../sass/_admission_form.scss */
div#admission_form .radio-container label { margin-left: 20px; cursor: pointer; font-family: 'Droid Serif', Georgia, Times New Roman; font-size: 13px; }
/* line 260, ../sass/_admission_form.scss */
div#admission_form .input-heading { float: left; color: #6A6A6A; font-family: 'Droid Serif', Georgia, Times New Roman; }
/* line 264, ../sass/_admission_form.scss */
div#admission_form .input-heading .primary { display: block; font-size: 13px; line-height: 13px; margin-bottom: 6px; padding-top: 6px; }
/* line 271, ../sass/_admission_form.scss */
div#admission_form .input-heading .translation { display: block; font-size: 12px; line-height: 15px; font-style: italic; }
/* line 278, ../sass/_admission_form.scss */
div#admission_form .input-heading + * { float: left; }

/* line 3, ../sass/_admission_form_by_field.scss */
div#admission_form #nationality-field .input-heading { width: 80px; }
/* line 6, ../sass/_admission_form_by_field.scss */
div#admission_form #nationality-field .person { margin-bottom: 40px; }
/* line 10, ../sass/_admission_form_by_field.scss */
div#admission_form #parents-guardian-information { margin-bottom: 180px; }
/* line 14, ../sass/_admission_form_by_field.scss */
div#admission_form #live_with_field input.text { width: 178px; }
/* line 19, ../sass/_admission_form_by_field.scss */
div#admission_form .prev-school-detail .input-heading { width: 150px; text-align: right; margin-right: 25px; margin-left: -55px; }
/* line 25, ../sass/_admission_form_by_field.scss */
div#admission_form .prev-school-detail input.text { width: 185px; }
/* line 28, ../sass/_admission_form_by_field.scss */
div#admission_form .prev-school-detail div.input div.clearfix { margin-bottom: 25px; }
/* line 34, ../sass/_admission_form_by_field.scss */
div#admission_form .parent_info_multi_input .multi-input-box:last-child { margin-bottom: 0 !important; }
/* line 37, ../sass/_admission_form_by_field.scss */
div#admission_form .parent_info_multi_input .multi-input-box .input-heading { width: 100px; text-align: right; margin-right: 25px; }
/* line 42, ../sass/_admission_form_by_field.scss */
div#admission_form .parent_info_multi_input .multi-input-box input.text { width: 185px; }
/* line 48, ../sass/_admission_form_by_field.scss */
div#admission_form #brother-sister-box div.input { margin-top: 40px; }
/* line 53, ../sass/_admission_form_by_field.scss */
div#admission_form #brother-sister-same-year-box div.input { margin-top: 50px; }
/* line 58, ../sass/_admission_form_by_field.scss */
div#admission_form #has_studied_box div.input { margin-top: 30px; }
/* line 64, ../sass/_admission_form_by_field.scss */
div#admission_form .brother_sister_detail .multi-input-box.have-heading:last-child { margin-bottom: 0 !important; }
/* line 67, ../sass/_admission_form_by_field.scss */
div#admission_form .brother_sister_detail .multi-input-box.have-heading .input-heading { width: 100px; text-align: right; margin-right: 25px; }
/* line 72, ../sass/_admission_form_by_field.scss */
div#admission_form .brother_sister_detail .multi-input-box.have-heading input.text { width: 185px; }
/* line 77, ../sass/_admission_form_by_field.scss */
div#admission_form #mother-employment-box { padding-top: 60px; }
