/* Custom Typography
--------------------------------------------------------------
-------------------------------------------------------------- */

@font-face {
  font-family: 'Interstate';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/interstate-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/interstate-bold-webfont.woff') format('woff'), url('../fonts/interstate-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Interstate';
  font-weight: lighter;
  font-style: normal;
  src: url('../fonts/interstate-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/interstate-light-webfont.woff') format('woff'), url('../fonts/interstate-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Interstate';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/interstate-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/interstate-regular-webfont.woff') format('woff'), url('../fonts/interstate-regular-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'DroidSerif';
	src: url('../fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSerif-webfont.woff') format('woff'), url('../fonts/DroidSerif-webfont.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'DroidSerif';
	src: url('../fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSerif-webfont.woff') format('woff'), url('../fonts/DroidSerif-webfont.ttf') format('truetype');
	font-weight: bold;
}

/* End of Custom Tyography */

/** Reset HTML5 display type **/
header, footer, hgroup, nav, section, aside, article {
	display: block;
}


/* Focus fixing */
:focus {
	border: none;
}

input[type=text], input[type=password], select, textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333;
	font-family: Interstate, Arial, sans-serif;
	font-size: 1em;
}

input[type=text].large, input[type=password].large, select.large, textarea.large {
	font-size: 1.3em;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid #ccc;
	box-shadow: #333 0 0 3px;
}

input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}

div {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}
body {
	background: url(../images/background.png);
	color: #333;
	font-family: Interstate, Calibri, Arial, sans-serif;
	font-size: 62.5%;
	font-weight: normal;
	height: 100%;
	margin: 0;
}

ul, ol {
	margin: 0 0 0 20px;
	padding: 0;
}

li {
	margin: 10px 0 0 0;
	padding: 0 0 0 10px;
}

img {
	border: none;
	padding: 0;
	vertical-align: center;
}

a:link, a:visited {
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.link {
	border-bottom: 1px dotted #000;
}

.link:hover {
	border-bottom: none;
	text-decoration: underline;
}

p {
	font-family: "DroidSerif";
	line-height: 22px;
	margin: 10px 0;
}

p.normalize {
	font-size: 1.2em;
}

select {
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
}

select:focus {
	border: 1px solid #CCCCCC;
	box-shadow: #ccc 0 0 5px;
}

figure {
	margin: 0;
}

.looptemplate {
	display: none !important;
}

/** common structure **/
#outerwrapper {
	background: white;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	min-height: 500px;
	margin: 0 auto;
	padding: 10px;
	width: 960px;
}

#innerwrapper {
	border: 1px solid #777;
}

.texthelper {
	display: none;
}
#titlebar {
	background: #125580 url(../images/title-bg.png) no-repeat top left;
	height: 85px;
}

#headnav {
	
}

#headnav.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
}

#headnav.fixed nav {
	margin: 0 auto;
	width: 958px;
}

#headnav nav {
	background: #125580 url(../images/nav-bg.png) repeat-x top left;
	height: 21px;
}

#headnav img {
	display: block;
}

#headnav ul {
	border-left: 1px solid #0c3551;
	float: right;
	list-style: none;
	padding: 0;
	margin:0;
}

#headnav li {
	border-left: 1px solid #125580;
	border-right: 1px solid #0c3551;
	color: #fff;
	float:left;
	height: 21px;
	max-width: 200px;
	margin: 0;
	padding: 0;
}

#headnav li:last-child {
	border-right: none;
}

#headnav li.unknown-name {
	font-size: 1.3em;
	position: relative;
}

#headnav li.unknown-name .selected {
	background: #eeeff1;
	color: #7b7b7b;
}

#headnav li>a {
	display: block;
	position: relative;
}

.unread-count {
	position: absolute;
	bottom: 0;
	right: 0;
}

#mainname {
	cursor: pointer;
	display: block;
	float: right;
	height: 17px;
	padding: 2px 8px;
}

#mainnameext {
	background: #eeeff1;
	border-right: 1px solid #787a6f;
	border-left: 1px solid #787a6f;
	border-bottom: 1px solid #787a6f;
	color: #7b7b7b;
	display: none;
	font-size: 1.2em;
	position: absolute;
	text-align: right;
	top: 21px;
	right: -1px;
	width: 280px;
	z-index: 9999;
}

#mainnameext .header {
	border-bottom: 1px solid #c8c8c8;
	font-size: 0.9em;
	padding: 5px;
}

#mainnameext hr {
	border: 0;
	border-top: 1px solid #c8c8c8;
	border-collapse: collapse;
}

#mainnameext h3 {
	font-size: 1em;
	margin: 0;
}

#mainnameext a {
	display: block;
	padding: 2px 0;
}

#mainnameext a:hover {
	background: #d8d8d8;
}

#mainnameext .footer {
	background: #e3e3e3;
	clear: both;
	font-size: 0.9em;
	padding: 5px;
}

#notification-container {
	display: none;
}

.primary {
	float: right;
	width: 727px;
}

.secondary {
	float: left;
	width: 230px;
}

.topside {
	background: #f6f6f6 url(../images/headinfo-bg.png) repeat-x top left;
	height: 59px;
	border-bottom: 1px solid #ccc;
}

.topside .primary {
	color: #666;
	font-size: 3em;
}

.topside .innerprimary {
	padding: 8px 10px;
}

.topside .secondary {
	background: url(../images/headinfo2-bg.png) repeat-x top left;
	border-right: 1px solid #ccc;
	font-size: 3em;
	height: 39px;
	padding: 10px 0;
	position: relative;
	text-align: center;
}

.topside .secondary a:link,
.topside .secondary a:visited {
	color: #fff;
	display: block;
}
.topside .secondary a:hover {
	color: #eee;
	text-decoration: none;
}

.topside .dirdown {
	background: url(../images/down-direction.png) no-repeat top left;
	position: absolute;
	bottom: -14px;
	left: 45%;
	height: 14px;
	width: 28px;
}

.mini-upperside {
	height: 70px;
}

.mini-upperside .secondary {
	background: #f6f6f6;
	border-right: 1px solid #d4d4d4;
	font-size: 1.3em;
	height: 120px;
	width: 230px;
}

.mini-upperside .profilepic {
	border: 1px solid #d4d4d4;
	float: left;
	padding: 2px;
}
.mini-upperside .profilepic img {
	display: block;
	width: 36px;
}

.mini-upperside .profilename {
	color: #5485A4;
	font-size: 1.2em;
	margin: 0 0 0 50px;
	padding: 20px 0 0 0;
}

.upperside {
	background: url(../images/sidebar-bg.png) repeat-y top left;
	overflow: auto;
}

.secondary {
	background: #fff;
	border-right: 1px solid #ccc;
	height: 100%;
}


.profilepic {
	background: #fff;
	border: 1px solid #c8c8c8;
	display: inline-block;
	padding: 2px;
}

.innersecondary {
	background: #f6f6f6;
	padding: 40px 0 0 8px;
	height: 255px;
}

hgroup {
	padding: 0 0 0 20px;
}

h2 {
	color: #125582;
	font-size: 2.5em;
	line-height: 0.7em;
	margin: 40px 0 0 0;
}
h3 {
	color: #999;
	font-weight: normal;
	font-size: 1.8em;
	margin: 0 0 20px 0;
}

nav.supernav a {
	outline: none;
}

nav.supernav a:hover {
	text-decoration: none;
}

nav.supernav ul{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 20px;
	padding: 0 10px;
	margin: 0 0 10px 0;
	list-style: none;
}

nav.supernav li {
	border-right: 1px solid #ccc;
	color: #777;
	float: left;
	font-size: 1.3em;
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
}

nav.supernav li:last-child {
	border-right: none;
}

nav.supernav li:hover {
	background: #FF9933;
}

nav.supernav li.current {
	position: relative;
}

nav.supernav li.current:hover {
	background: none;
}

nav.supernav li.current .pointer {
	background: url(../images/navigation-pointer.png) no-repeat top left;
	bottom: -7px;
	display: block;
	height: 7px;
	left: 50%;
	margin: 0 0 0 -7px;
	position: absolute;
	width: 14px;
}

nav.supernav li.current a {
	color: #FF9933;
}

.supercontent {
	max-height: 250px;
	position: relative;
	min-width: 124px;
	overflow: hidden;
}

.supercontent h2 {
	color: #777;
	font-size: 2em;
	line-height: 24px;
	padding: 0;
	margin: 25px 20px 10px 20px;
	text-transform: uppercase;
}

.supercontent .content {
	color: #777;
	font-size: 1.4em;
	font-family: DroidSerif, 'Georgia', 'Times new roman', serif;
	margin: 20px;
}

.supercontent .more {
	background: url(../images/supercontent-bg.png) no-repeat top center;
	color: #777;
	font-size: 1.1em;
	position: absolute;
	cursor: pointer;
	height: 40px;
	width: 100%;
	bottom: 0;
}

.supercontent .morenoble {
	margin: 0 20px 20px 20px;
}

.whitecontent {
	padding: 10px;
}

.whitecontent ul {
	margin: 0 0 0 20px;
}

.whitecontent li {
	color: #777;
}

.whitecontent h3 {
	color: #777;
	font-size: 2em;
	margin: 10px 0;
}

.whitecontent .collabcourselist {
	font-size: 1.2em;
}

.whitecontent .collabcourselist  li{
	margin: 4px 0;
}

.addnew {
	font-size: 1.2em;
}

.mainside {
	border-top: 1px solid #ccc;
	clear:both;
	overflow: auto;
}

.selectbox {
	background: #fff url(../images/select-box-cross.png) no-repeat right top;
	border: 1px solid #ddd;
	font-size: 1.2em;
	height: 21px;
	padding: 3px 5px;
	margin: 5px 0 0 0;
}

.leftfloat {
	float: left;
}

.rightfloat {
	float: right;
}

.sidenote {
	color: #999;
}

.suboption {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	color: #A1A1A1;
	margin: 10px 0;
	padding: 0 10px;
	overflow: auto;
}

.suboption ul {
	float: right;
	list-style: none;
}

.suboption li {
	border-left: 1px solid #cccccc;
	cursor: pointer;
	float: left;
	font-size: 1.2em;
	margin: 0;
	padding: 3px 10px;
	text-transform: uppercase;
}

.suboption li:hover {
	background: #eee;
}

.margined-section {
	margin: 10px;
}

ul.listbutton {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.listbutton li {
	margin: 5px 0;
	padding: 0;
}

ul.listbutton label {
	background: -moz-linear-gradient(center bottom , #F09009 32%, #F6A417 66%) repeat scroll 0 0 #F09909;
    border: 1px solid #B16D07;
    border-radius: 6px 6px 6px 6px;
	color: #fff;
	display: block;
	padding: 5px 10px;
	width: 240px;
}

/** News stream **/
.newsstream {
	/*border-top: 1px solid #c8c8c8;*/
}

.newspost {
	clear: both;
	margin: 0;
	padding: 10px 20px;
	overflow: auto;
}

.newspost+.newspost {
	border-top: 1px solid #ccc;
}
.newspic {
	float: left;
}

.newsmeta {
	margin-left: 80px;
}

.newscontent {
	margin-left: 80px;
	font-size: 1.3em;
}

.newsmeta h3 {
	font-size: 1.5em;
	margin: 0;
}

#newsdetail .newsback {
	font-size: 1.2em;
	margin: 0 20px;
}

#newsdetail h2 {
	line-height: 24px;
}

#newsdetail .newsdetailmeta {
	margin: 10px 0;
}

#newsdetail .newsdetailcontent {
	font-size: 1.2em;
	padding: 20px;
}

/** Dashboard specific style **/

.next-agenda{
	border-bottom: 1px solid #d4d4d4;
	padding:0 5%;
	min-height: 38px;
	height: 38px;
	overflow: hidden;
	/*font-weight: lighter;*/
}

.next-agenda:hover {
	height: auto;
	overflow: auto;
}

.next-agenda h2 {
	color: #777;
	float: left;
	font-size: 1.6em;
	font-weight: bold;
	margin: 0;
	padding: 10px 0 5px 0;
	line-height: 1em;
	text-transform: uppercase;
	width: 135px;
}

.next-agenda .chunk {
	color: #777;
	float: left;
	font-size: 1.15em;
	padding: 5px 10px;
	width: 100px;
}

.next-agenda .timechunk {
	color: #777;
	float: left;
	font-size: 1.15em;
	padding: 5px 10px;
	width: 50px;
}

.next-agenda .course {
	color: #777;
	float: left;
	font-size: 1.15em;
	padding: 5px 10px;
	width: 170px;
}

.next-agenda .partial-border {
	float: left;
	border-left: 1px solid #d4d4d4;
	height: 20px;
	width: 1px;
}

.secondary {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.courselist,
.applicationlist {
	background: #f6f6f6;
	border-bottom: 1px solid #d4d4d4;
	padding: 10px 8px 0 8px;
	border-top: 1px solid #d4d4d4;
}

.courselist {
	margin: 10px 0;
}


.applicationlist li h3 {
	background: url(../images/nav-arrow-right.png) no-repeat 95% 13px;
}

.applicationlist li li a {
	background: none;
}

.courselist li li,
.applicationlist li li {
	background-image: none;
}

.courselist a,
.applicationlist a,
.applicationlist h3 {
	color: #666666;
	cursor: pointer;
	display: block;
	font-size: 1.25em;
	padding: 8px 20px 8px 10px;
	margin: 0;
}

.courselist a:hover,
.applicationlist a:hover,
.applicationlist h3:hover{
	background-color: #eee;
	text-decoration: none;
}

.courselist li.offlines1 a {
	background: url(../images/icon-offline-s1.png) no-repeat 95% 50%;
	padding: 8px 40px 8px 10px;
}

.courselist li.onlines1 a{
	background: url(../images/icon-online-s1.png) no-repeat 95% 50%;
	padding: 8px 40px 8px 10px;
}

.subapp {
	background: #f2f2f2;
	display: none;
	margin: 0 0 0 10px;
}

.secondary h2 {
	border-bottom: 1px solid #d4d4d4;
	color: #777;
	font-size: 1.4em;
	line-height: 1.2em;
	padding: 4px 10px;
	margin: 0;
	text-transform: uppercase;
}

.secondary ul {
	list-style: none;
	margin: 0;
}

.secondary li {
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #fff;
	color: #777;
	margin: 0;
	padding: 0;
	position: relative;
}

.secondary ul ul {
	 margin: 0 0 0 10px;
}

.courselist li:last-child,
.applicationlist li:last-child {
	border-bottom: none;
}

/*.secondary li li:hover ul{
	position: absolute;
	top: 0;
	left:200px;
	width: 200px;
	display: block;
}*/

.industryview,
.classmate,
.slidebanner,
.polling {
	background: #fff;
	border-top: 1px solid #d4d4d4;
	display: block;
}

.industryview h2,
.classmate h2,
.polling h2 {
	border: none;
	font-weight: normal;
	padding-top: 10px;
}

.industryview ul,
.classmate ul {
	list-style: none;
	padding: 10px 10px 0 10px;
	margin: 0;
	overflow: auto;
}

.industryview li,
.classmate li {
	border: 1px solid #d4d4d4;
	float: left;
	height: 44px;
	padding: 2px;
	margin: 0 2px 2px 0;
	width: 44px;
}

.industryview p,
.industryview .viewall,
.classmate .viewall {
	clear: both;
	color: #777777;
	font-size: 1.2em;
	padding: 0 10px;
	margin: 10px 0;
}

.industryview img,
.classmate img {
	display: block;
}

.polling p {
	font-size: 1.2em;
	margin: 10px;
}

.polloption {
	padding: 0 10px;
}

.polloption li {
	border: none;
	font-size: 1.2em;
	list-style: none;
	margin: 5px 0;
}

.seeresult {
	padding: 0 10px;
	margin: 10px 0;
}

.newsslide {
	padding: 10px;
}

.slidepaging {
	text-align: center;
}

.slidepaging li {
	border: 1px solid #d4d4d4;
	cursor: pointer;
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: 10px 2px;
	padding: 3px;
	width: 15px;
}

.slidepaging li:hover {
	background: #eee;
}

.dashboard {
	padding: 10px;
}



#primaryframe {
	border-top: 1px solid #c8c8c8;
}

div.readable {
	font-size: 1.3em;
}

.periodselector {

}

a.prevperiod, a.nextperiod {
	border: 1px solid #d4d4d4;
	display: block;
	float: left;
	font-size: 1.4em;
	height: 20px;
	line-height: 20px;
	padding: 1px 10px;
}

a.prevperiod {
	border-radius: 4px 0 0 4px;
}

a.nextperiod {
	border-radius: 0 4px 4px 0;
}

a.nextperiod:hover,
a.prevperiod:hover {
	background: #eee;
	text-decoration: none;
}

.currentperiod {
	background: #eee;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 1px 10px;
}

/** Dashboard Widget Section **/

.box33 {
	background: #e7e7e7 url(../images/dashboard-bg.png) repeat-x top left;
	border: 1px solid #d4d4d4;
	color: #777;
	float: left;
	height: 220px;
	position: relative;
	margin: -1px 0 0 -1px;
	width: 230px;
}

.innerbox {
	border: 1px solid #fff;
	height: 198px;
	padding: 10px;
	position: relative;
}

.fullbox h2,
.box66 h2,
.box33 h2,
.box33height h2 {
	color: #777777;
	font-weight: normal;
	font-size: 1.8em;
	line-height: 18px;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}

.fullbox h3,
.box66 h3,
.box33 h3,
.box33height h3 {
	font-weight: lighter;
	font-size: 1.1em;
	margin: 0;
}

.box33 .gpa {
	margin-top: 30px;
}

.box33 .move {
	border-top: 1px solid #c8c8c8;
	font-size: 1.3em;
	padding-top: 10px;
}

.box33 .move img {
	vertical-align: baseline;
}

.box33 .current-credit {
	font-size: 1.8em;
	margin: 20px 0 10px 0;
	text-shadow: #fff 1px 1px 1px;
}

.box33 .remain-credit {
	border-top: 1px solid #c8c8c8;
	font-size: 2em;
	text-shadow: #fff 1px 1px 1px;
	padding: 20px 0 0 0;
}

.box33 .attendance-alert {
	background: url(../images/attendance-alert.png) no-repeat left top;
	font-size: 1.2em;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0 0 20px 50px;
}

.box33 .attendance-warning {
	border-top: 1px solid #c8c8c8;
	font-size: 1.2em;
	margin: 0 0 0 50px;
	padding: 5px 0;
}

.box33 .attendance-now {
	border-top: 1px solid #c8c8c8;
	font-size: 1.2em;
	padding: 5px 0 5px 5px;
	margin: 15px 0 0 0;
}

.box33.dark,
.box66.dark,
.box66full.dark {
	background: #b9ccda;
}

.box66full.lit {
	background: #fff;
}

.box33.clickable  {
	height: 220px;
	padding: 0;
}

.box33.clickable .innerbox {
	height: 218px;
	padding: 0;
}

.box33.clickableoverlay {
	cursor: pointer;
}


.box33 .reeval-days {
	border-bottom: 1px solid #edf2f6;
	font-size: 1.8em;
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
	text-shadow: #fff 1px 1px 1px;
}

.box33 .listbox {
	list-style: none;
	margin: 0;
}

.box33 .listbox li {
	background: url(../images/bullet-list.png) no-repeat left top;
	margin: 10px 0;
	padding: 0 0 0 20px;
}

.box33 .listbox h4 {
	font-size: 1.2em;
	margin: 0;
	text-transform: uppercase;
}

.box33 .listbox p {
	font-size: 1.2em;
	margin: 0;
}

.box33 .stronglist li {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
}

.box33 .job-option {
	color: #aaa;
	font-size: 1.2em;
	margin: 0 0 0 20px;
	text-transform: uppercase;
}

.box33.darker {
	background: #9db8c8;
}

.box33 .poll label {
	display: block;
	font-size: 1.2em;
	margin: 5px 0;
}

.box33 .result {
	color: #fff;
	font-size: 1.2em;
	text-align: right;
}

.box33.noborder {
	border: none;
	padding: 0;
	height: 224px;
	width: 230px;
}

.box33 .row1 {
	background: url(../images/reference-arrow.png) no-repeat 90% 50%;
	border: 1px solid #fff;
	padding: 10px 40px 10px 20px ;
	margin: 0 0 1px 0;
	height: 60px;
}

.box33 .row2 {
	background: url(../images/reference-arrow.png) no-repeat 90% 50%;
	border: 1px solid #fff;
	padding: 10px 40px 10px 20px ;
	margin: 0 0 1px 0;
	height: 54px;
}

.box33 .row3 {
	background: url(../images/reference-arrow.png) no-repeat 90% 50%;
	border: 1px solid #fff;
	padding: 10px 40px 10px 20px ;
	height: 44px;
}

.box66 {
	background: #e7e7e7;
	border: 1px solid #d4d4d4;
	color: #777;
	float: left;
	height: 200px;
	padding: 12px;
	margin: -1px 0 0 -1px;
	width: 435px;
}

.box66 .book-image {
	float: left;
	margin: 10px 10px 0 0;
}

.box66 .book-title {
	margin: 10px 0 0 0;
}

.box66 .book-author,
.box66 .book-info {
	font-size: 1.3em;
}

.box66 .book-info {
	margin: 10px 0;
}

.box66 .book-achievement {
	clear: both;
	font-size: 1.2em;
	margin: 10px 0 0 0;
}

a.boxlink {
	display: block;
	height: 200px;
	padding: 10px;
	width: 210px;
}

a.boxlink:hover {
	opacity: 0.8;
	text-decoration: none;
}

.todo {
	border-collapse: collapse;
	font-size: 1.2em;
	margin: 10px 0 0 0;
	width: 100%;
}

.todo tbody tr {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.todo thead {
	background: #a5b7c3;
	color: #666;
	text-transform: uppercase;
}

.todo thead td {
	border-left: 1px solid #b9ccda;
	border-right: 1px solid #b9ccda;
}

.todo tbody {
	color: #fff;
	font-family: "DroidSerif";
}

.todo tfoot {
	color: #fff;
	text-align: right;
}

.todo tfoot td {
	padding: 5px 10px;
}

.todo td,
.todo th {
	padding: 2px 5px;
}

.box66full {
	background: #e7e7e7;
	border: 1px solid #d4d4d4;
	color: #777;
	float: left;
	height: 220px;
	margin: -1px 0 0 -1px;
	width: 461px;
}

.box66full h2 {
	font-weight: normal;
	font-size: 2em;
	line-height: 18px;
	margin: 0;
	padding: 12px 12px 0 12px;
	text-transform: uppercase;
}

.box66full h3 {
	font-weight: normal;
	font-size: 1.3em;
	margin: 0 0 5px 0;
	padding: 0 12px;
}

.box66full .innerbox {
	padding: 0;
	height: 218px;
}

.fullbox {
	background: #e7e7e7;
	border: 1px solid #d4d4d4;
	clear: both;
	color: #777;
	padding: 12px 2%;
	margin: 0 1px 1px 0;
	width: 663px;
}

.recommend-container {
	margin: 20px 0 0 0;
}

.recommend {
	overflow: hidden;
	position: relative;
}

.recommend ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 10000px;
}

.recommend ul a {
	text-decoration: none;
}

.recommend ul li {
	border-right: 1px solid #fff;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 153px;
}

.recprice {
	border-bottom: 1px solid #fff;
	color: #777;
	font-size: 1.2em;
	padding: 0 0 7px 0;
	text-transform: uppercase;
}

.recname {
	color: #fff;
	font-size: 1.3em;
	line-height: 14px;
	padding: 7px 0 0 0;
	text-transform: uppercase;
}

.recdate {
	color: #fff;
	font-size: 0.9em;
	font-weight: lighter;
	padding: 0 0 5px 0;
}

.recby {
	color: #777;
	font-size: 1.2em;
	text-transform: uppercase;
}

.slideleft, .slideright {
	background: #fff;
	display: none;
	height: 125px;
	position:absolute;
	opacity: 0.5;
	top: 0;
	width: 20px;
}

.slideleft {
	left: 0;
}

.slideright {
	right: 0;
}

.innerrec {
	background: #b9ccda;
	padding: 5px;
	height: 115px;
}

.rectype {
	color: #777;
	font-size: 1.1em;
	text-transform: uppercase;
}


.box33height {
	background: #e7e7e7;
	border: 1px solid #d4d4d4;
	color: #777;
	height: 379px;
	padding: 12px;
	margin: 0 1px 1px 462px;
	width: 204px;
}

.calendar h3 {
	font-size: 1.2em;
	margin: 20px 0 10px 0;
	text-transform: uppercase;
}

.calendar .cal-lookby {

}
.calendar .cal-lookby span{
	background: url(../images/btn-bg.png) repeat-x top left;
	border: 1px solid #dfdfdf;
	display: inline-block;
	font-size: 1.2em;
	height: 23px;
	padding-top: 2px;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

.calendar .cal-grid {
	border: 1px solid #dfdfdf;
	margin: 40px 0 0 0;
}

.calendar .cal-grid .cal-month {
	background: #9e9ea0;
	color: #fff;
	font-size: 1.3em;
	padding: 6px;
	text-align: center;
}
.calendar .cal-grid table{
	border-collapse: collapse;
	text-align: center;
}

.calendar .cal-grid thead {
	background: url(../images/cal-cell-bg.png) repeat-x top left;
	text-transform: uppercase;
}
.calendar .cal-grid tbody {
	font-size: 1.2em;
}

.calendar .cal-grid td {
	width: 28px;
}

.calendar .cal-grid tbody td,
.calendar .cal-grid tbody th {
	background: url(../images/cal-cell-bg.png) repeat-x top left;
	border: 1px solid #bbb;
	/*text-shadow: #666 0 0 1px;*/
	height: 25px;
}

.calendar .cal-grid td.cal-blur {
	background: url(../images/cal-cell-bg.png) repeat-x top left;
	color: #b3b3b3;
}


.gpa-gauge {
	background: url("../images/gpa-gauge-bg.png") no-repeat scroll 0 0 transparent;
    height: 114px;
    margin-left: 40px;
    text-align: center;
    width: 124px;
}

.gpa-gauge img {
    margin-top: 20px;
}

.box33 .gpa {
	font-size: 2.4em;
    margin: -20px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.innerbox .discussionchart {
	border-top: 1px solid #cecece;
	padding-top: 5px;
	position: absolute;
	bottom: 10px;
	width: 208px;
}

#performancelight {
	text-align: center;
}

.autoflow {
	overflow: auto;
}

.widgetconf {
	cursor: pointer;
}

.widgetconf:hover {
	opacity: 0.75;
}

.widgetconf.box66full .innerbox {
	background: url("../images/dashboard-bg.png") repeat-x left top #E7E7E7;
	height: 198px;
	padding: 10px;
}

.widgetconf h2 {
	padding: 0;
}


/* My class section */
dl, dt, dd {
	margin: 0;
	padding: 0;
}

.slideclassleft, .slideclassright {
	height: 155px;
	position:absolute;
	top: 0;
	width: 20px;
}

.slideclassleft {
	background: #dce5ec url(../images/left.png) no-repeat center center;
	left: 0;
}

.slideclassright {
	background: #dce5ec url(../images/right.png) no-repeat center center;
	right: 0;
}

.coursepage .primary h1 {
	color: #5485a4;
	font-size: 2.6em;
	margin: 70px 10px 0 10px;
	text-transform: uppercase;
}

.coursepage .profilepicsecondary {
	padding: 60px 10px 20px 10px;
}

#coursetitle {
	color: #5485A4;
	font-size: 2.4em;
	margin: 70px 0 10px 10px;
	text-transform: uppercase;
}

#breadcrumb {
	background: #e7e7e7;
	border-top: 1px solid #d4d4d4;
	color: #777;
	font-size: 1.3em;
	padding: 10px 20px;
	text-transform: uppercase;
}

#courseinfo {
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	overflow: auto;
}

#courseinfo dl {
	border-right: 1px solid #d4d4d4;
	color: #777;
	float: left;
	padding: 5px 10px;
	width: 158px;
}

#courseinfo dl:last-child {
	border-right: none;
}

#courseinfo dt {
	font-size: 1.2em;
}

#courseinfo dd {
	font-size: 1.4em;
}

#coursewrapper {
	margin: 10px;
	overflow: auto;
}

hgroup.coursetitle {
	background: #e1e1e1;
	border: 1px solid #fff;
	clear: both;
	outline: 1px solid #e1e1e1;
	padding: 10px;
	margin: 1px;
}

hgroup.coursetitle h2 {
	color: #777;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}

.innercoursewrap {
	border: 1px solid #fff;
	outline: 1px solid #e1e1e1;
	padding: 10px;
	margin: 1px;
}

#coursecontent {
	background: #e1e1e1;
	border: 1px solid #fff;
	outline: 1px solid #e1e1e1;
	padding: 10px;
}

#coursecontent h2 {
	color: #666;
	font-size: 1.8em;
	margin: 20px 0 10px 0;
	text-transform: uppercase;
}

#coursecontent h2:first-child {
	margin: 0 0 10px 0;
}

#coursecontent p {
	color: #777;
	font-size: 1.4em;
}

#coursecontent ul {
	margin: 0 0 0 15px;
}
#coursecontent li {
	color: #777;
	font-size: 1.2em;
	padding: 2px 0;
}

#coursecontent table {
	border-collapse: collapse;
	border: 1px solid #bbb;
	color: #777;
	font-size: 1.2em;
	width: 100%;
}

#coursecontent thead {
	font-weight: bold;
	text-align: center;
}

#coursecontent td {
	border: 1px solid #bbb;
	padding: 2px 5px;
}

#classnav {
	padding: 0 10px;
	margin: 10px 0;
}

#classnav-outerwrap {
	background: #b9ccda;
	border: 1px solid #fff;
	outline: 1px solid #e1e1e1;
	position: relative;
	padding: 10px 30px;
}

#classnavwrap {
	background: #e7e7e7;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	overflow: hidden;
	/*padding: 2px;*/
}

#classnav ul {
	list-style: none;
	margin: 0;
	width: 10080px;
}

#classnav li {
	background: #a5b7c3;
	border: 1px solid #fff;
	float: left;
	font-size: 1.2em;
	height: 130px;
	margin: 0 0 0 -1px;
	padding: 0;
	text-align: center;
	width: 128px;
}

#classnav a {
	color: #fff;
	display: block;
	font-size: 0.8em;
	height: 110px;
	padding: 10px;
	text-transform: uppercase;
}

#classnav a:hover {
	background: #9ab;
	text-decoration: none;
}

.courseresource,
.coursecase {
	color: #777;
}

.courseresource ul,
.coursecase ul {
	margin: 0 0 0 15px;
}

.courseresource a:link,
.coursecase a:link {
	border-bottom: 1px dotted #777;
}

.courseresource a:hover,
.coursecase a:hover {
	border-bottom: 1px solid #777;
	text-decoration: none;
}

.courseresource article:first-child {
	border-top: none;
}
.courseresource article:last-child {
	border-bottom: none;
}

.courseresource article,
.coursecase article {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #eee;
	clear: both;
}

.courseresource h3,
.coursecase h3 {
	float: left;
	font-size: 1.7em;
	margin: 0;
}

.courseresource header,
.coursecase header {
	background: url(../images/icon_plus.png) no-repeat 1% 50%;
	cursor: pointer;
	overflow: auto;
	padding: 10px 10px 10px 30px;
}

.courseresource header:hover,
.coursecase header:hover {
	background-color: #ccc;
}

.courseresource header.expanded {
	background: url(../images/icon_minus.png) no-repeat 1% 50%;
}

.courseresource header.expanded:hover {
	background-color: #ccc;
}

.courseresource header h4,
.coursecase header h4 {
	font-size: 1.7em;
	margin: 0 0 0 100px;
	padding: 0;
}

.coursecase header h4 {
	float: right;
}

.courseresource .weekdetail,
.coursecase .weekdetail {
	clear: both;
	display: none;
	margin: 10px 0 10px 30px;
	/*column-count: 2;
	column-gap: 20px;
	-moz-column-count: 2;
	-moz-column-gap: 10px;*/
}

.courseresource .weekdetail h4,
.coursecase .weekdetail h4 {
	font-size: 1.2em;
	margin: 15px 0 0 0;
}

.courseresource p {
	font-size: 1.2em;
}

.courseresource .detaillist li,
.coursecase .detaillist li {
	font-size: 1.2em;
	margin: 3px 0;
}

.coursecase .dispost header {
	cursor: pointer;
}

.coursecase .dispost header:hover {
	background: transparent;
}

.coursecase p {
	font-size: 1.2em;
	margin: 3px;
}

#coursesubmission table {
	border-collapse: collapse;
	border: 1px solid #bbb;
	color: #777;
	font-size: 1.2em;
	width: 100%;
}

#coursesubmission thead {
	color: #333;
	font-weight: bold;
	text-align: center;
}

#coursesubmission td {
	border: 1px solid #bbb;
	padding: 2px 5px;
}

#coursesubmission td.center,
#coursepeople td.center {
	text-align: center;
}

#coursesubmission a.block {
	display: block;
}

#coursesubmission a:hover {
	background: #f9f9f9;
	text-decoration: none;
}

#coursesubmission h3 {
	font-size: 1.5em;
}

#courseforum {
	color: #333;
}

.threadlist a {
	display: block;
}

.gradephoto,
.peoplephoto,
.subphoto {
	float: left;
}

.gradephoto img,
.peoplephoto img,
.subphoto img {
	display: block;
}

.gradename,
.peoplename,
.subname {
	margin: 0 0 0 50px;
	font-weight: bold;
	text-transform: uppercase;
}

.gradenim,
.peoplenim,
.subnim {
	margin: 0 0 0 50px;
}

#coursepeople table {
	border-collapse: collapse;
	border: 1px solid #bbb;
	color: #777;
	font-size: 1.2em;
	width: 100%;
}

#coursepeople thead {
	font-weight: bold;
	text-align: center;
}

#coursepeople td {
	border: 1px solid #bbb;
	padding: 2px 5px;
}

.disoption {
	color: #777;
	font-size: 1.2em;
	margin: 10px 0 0 0;
}

.dispost {
	border-top: 1px solid #b2b2b2;
	padding: 10px 0;
}

.dispost p {
	font-size: 1.3em;
	min-height: 130px;
}

.dispost .dismeta {
	float: left;
	width: 120px;
}

.dispost .dismeta2 {
	float: right;
	font-size: 1.2em;
	text-align: right;
	width: 80px;
}

.dispost .disdate {
	font-size: 1.3em;
}

.dispost .dispic {
}

.dispost .disposter {
	font-size: 1.5em;
	font-weight: bold;
}

.disnim,
.dismajor,
.disclass,
.dispostnum {
	font-size: 1.3em;
}

.dispost h3 {
	border-bottom: 1px solid #ccc;
	color: #666;
	font-size: 1.8em;
	margin: 0;
	padding: 0 0 10px 0;
}

.dispost .discontent {
	background: #f5f5f5;
	border: 1px solid #fff;
	margin: 0 0 0 140px;
	padding: 10px;
	outline: 1px solid #f5f5f5;
}

.discomment {
	margin: 0 0 0 50px;
}

.discomment .disanswer {
	background: url(../images/answered.png) no-repeat top right;
}

.discomment .dispost {
	margin: 0;
	padding: 10px 0 10px 10px;
}

.streamwrapper {
	border: 1px solid #fff;
	outline: 1px solid #e1e1e1;
	overflow: hidden;
	margin: 1px 0 0 0;
}
.streamplayer {
	float: left;
	width: 400px;
}
.chatplayer {
	background: #fff;
	float: right;
	padding: 10px 10px 0 10px;
	width: 235px;
}

.chatplayer header {
	font-size: 1.2em;
}

.chatstream {
	border: 1px solid #ccc;
	height: 285px;
	overflow: auto;
}

.chatline {
	border-bottom: 1px solid #e1e1e1;
	clear: both;
	overflow: auto;
	padding: 5px;
	margin: 1px 0;
}

.chatline .chatimg{
	border: 1px solid #e1e1e1;
	float: left;
	padding: 1px;
}

.chatline .chatimg img {
	display: block;
}

.chatline .chatmsg {
	float: left;
	font-size: 1.2em;
	margin: 0 0 0 10px;
	width: 160px;
}

.streamcp {
	outline: 1px solid #e1e1e1;
	margin: 1px 0 0 0;
	overflow: auto;
}
.streamplayercp {
	background: #b7c3cc url(../images/streamplayercp.png) no-repeat top center;
	border: 1px solid #fff;
	float: left;
	height: 30px;
	padding: 5px 20px;
	width: 415px;
}

.chatplayercp {
	background: #c8d5df url(../images/chatbubble.png) no-repeat top left;
	border: 1px solid #fff;
	float: right;
	padding: 5px 20px;
	height: 30px;
	width: 208px;
}

.chatinput {
	margin: 5px 0 0 0;
}

.chatplayercp input {
	border: 1px solid #bbb;
	float: right;
	font-size: 1.2em;
	padding: 2px 5px;
	width: 180px;
}

ul#streamlist {
	clear: both;
	overflow: auto;
	margin: 0;
}

ul#streamlist li {
	float: left;
	font-size: 1.3em;
	list-style: none;
	padding: 0;
	margin: 5px;
}

ul#streamlist a {
	display: block;
	overflow: auto;
	padding: 5px;
	width: 320px;
}

ul#streamlist a:hover {
	background: #e1e1e1;
	text-decoration: none;
}

ul#streamlist img {
	display: block;
	float: left;
	margin-right: 5px;
}

ul#streamlist span {
	display: block;
}

ul#streamlist .streamname {
	font-weight: bold;
}

/** Application Content **/
.contentwrapper .section {
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

.contentwrapper .deepsection {
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

.section p {
	font-size: 1.3em;
}

.section ul {
	font-size: 1.3em;
	margin: 20px 0 20px 20px;
}

.section ul ul {
	font-size: 1em;
}

.contentwrapper .deepsection.unborder,
.contentwrapper .section.unborder {
	border: none;
}

.contentwrapper .deepsection.bordertop,
.contentwrapper .section.bordertop {
	border-top: 1px solid #ccc;
}

.contentwrapper .deepsection:last-child,
.contentwrapper .section:last-child {
	border-bottom: none;
}

.contentwrapper .contenthead {
	height: 100px;
	padding: 10px 20px;
}

.contentwrapper .contenthead h1{
	color: #5485A4;
	font-size: 2.6em;
	text-transform: uppercase;
	margin: 70px 0 0 0;
	/*margin: 10px 0 20px 0;*/
}

.contentwrapper .deepsection h2,
.contentwrapper .section h2 {
	color: #999999;
	font-size: 1.8em;
	font-weight: normal;
	margin: 10px 0 20px;
	text-transform: uppercase;
}

.contentwrapper .deepsection h3,
.contentwrapper .section h3 {
	color: #999999;
	font-size: 1.6em;
	font-weight: normal;
	margin: 20px 0;
	text-transform: uppercase;
}

.concentrationdesc p {
	font-size: 1.2em;
}

.concentrationcommit {
	font-size: 1.3em;
}

/** Partner / Industri page style **/





/** Footer style **/
/*
footer#lower-info {
	background: #fff;
	border-top: 1px solid #828282;
	clear: both;
	padding: 10px;
}

.communication select,
.communication input {
	color: #aaa;
	font-family: calibri;
	padding: 2px 8px;
	width: 180px;
}

.communication .form {
	padding: 4px 0;
}

.communication img {
	margin: 0 10px -6px 10px;
}

.last-line {
	clear: both;
}

#footwrapper {
	background: #808080;
	color: #fff;
	padding: 30px 5px 0 5px;
	overflow: auto;
}

#footwrapper a:link,
#footwrapper a:visited {
	color: #fff;
}


#footcircle {
	margin: 0 auto;
	width: 40%;
}

#footcircle h2 {
	border-bottom: 1px solid #fff;
	font-family: Calibri;
	color: #fff;
	font-size: 1.65em;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0 0 15px 0;
	text-align: center;
	text-transform: uppercase;
}

.left-circle {
	border-right: 1px solid #fff;
	float: left;
	overflow: auto;
	width: 40%;
}

.left-circle ul{
	font-size: 1.25em;
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

.left-circle li {
	padding: 8px 0 8px 30px;
}

.circle-newsletter {
	background: url(../images/circle-newsletter.png) no-repeat 0% 50%;
}
.circle-twitter {
	background: url(../images/circle-twitter.png) no-repeat 0% 50%;
}
.circle-li {
	background: url(../images/circle-li.png) no-repeat 0% 50%;
}
.circle-fb {
	background: url(../images/circle-fb.png) no-repeat 0% 50%;
}
.circle-blog {
	background: url(../images/circle-blog.png) no-repeat 0% 50%;
}

.right-circle {
	float: right;
	padding: 8px 0 8px 4%;
	overflow: auto;
	width: 54%;
}

.right-circle ul {
	font-size: 1.25em;
	margin: 0;
	padding: 0;
	list-style: none;
}

.right-circle li {
	background: url(../images/circle-feed.png) no-repeat 0% 50%;
	padding: 3px 0 3px 30px;
}
*/


/* FOOTER
----------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------- */
#footer{
    width: 970px;
    margin: 0 auto;
}
#footer .wrap{
	background:#323232;
	border-left:none;
	border-right:none;
	color:#F2F2F2;
        
}

.footer-item{
	float:left;
	width:270px; height:160px;
	padding:40px 30px;
	border-bottom:1px dotted #929292;
        margin-bottom: 20px;
}
.footer-item-long{
    height: 221px !important;
}
.footer-item.newsletter{
	padding-left:30px;
	border-right:1px dotted #929292;
        padding-right: 20px;
}
.footer-item.social-media{
    padding-right: 18px;
}

.footer-item.contact{
	padding-right:20px;
	border-left:1px dotted #929292;
	position:relative;
}

.footer-item h4{
	text-transform:uppercase;
	font:0.9em 'Interstate Light', Helvetica, Arial;
	line-height:1;
}

.footer-item h3{
	text-transform:uppercase;
	font:1.65em 'Interstate Light', Helvetica, Arial;
	line-height:1;
	margin-bottom:30px;
}

.footer-item p{
	font-size:0.95em;
	line-height:1.2;
	margin-bottom:20px;
}

/* NEWSLETTER */
#newsletter-form{
	margin-top:23px;
}

.footer-item.newsletter .text,
#newsletter-form .text{
	background:#808080;
	border:none;
	width:199px; height:40px;
	padding:0 15px;
	color:#FFF;
	font:0.85em 'Droid Serif', Georgia, Arial;
	float:left;
}

.footer-item.newsletter .submit,
#newsletter-form .submit{
	float:left;
	width:40px; height:40px;
	/* background:url(../images/sprited-global/footer-newsletter-submit.png); */
	background:url(../images/sprite-global.png) 0 -80px;
	text-indent:-99999em;
	border:none;
	margin-left:1px;
	cursor:pointer;
}

.footer-item.newsletter .submit:hover,
#newsletter-form .submit:hover{
	/* background:url(../images/sprited-global/footer-newsletter-submit-hover.png);	 */
	background:url(../images/sprite-global.png) 0 -120px;
}

.footer-item.newsletter br{
	display:none;
}

/* SOCIAL LINKS */
#footer-social{
	float:left;
	margin-top:2px;
}

#footer-social li{
	float:left;
	margin-right:10px;
}

#twitter{
	margin-left:10px;
}

#footer-social a{
	float:left;
	width:40px; height:40px;
	text-indent:-99999em;
	opacity:0;
}

#twitter{
	/* background:url(../images/sprited-global/footer-twitter.png); */
	background:url(../images/sprite-global.png) -40px 0;
}

#facebook{
	/* background:url(../images/sprited-global/footer-facebook.png); */
	background:url(../images/sprite-global.png) -80px 0;
}

#googleplus{
	/* background:url(../images/sprited-global/footer-googleplus.png); */
	background:url(../images/sprite-global.png) -120px 0;
}

#youtube{
	/* background:url(../images/sprited-global/footer-youtube.png); */
	background:url(../images/sprite-global.png) -160px 0;
}

#rss{
	/* background:url(../images/sprited-global/footer-rss.png); */
	background:url(../images/sprite-global.png) -200px 0;
}

/* Footer Social Hover */
#twitter a{
	/* background:url(../images/sprited-global/footer-twitter-hover.png); */
	background:url(../images/sprite-global.png) -40px -40px;
	width:39px;
}

#facebook a{
	/* background:url(../images/sprited-global/footer-facebook-hover.png); */
	background:url(../images/sprite-global.png) -80px -40px;
}

#googleplus a{
	/* background:url(../images/sprited-global/footer-googleplus-hover.png); */
	background:url(../images/sprite-global.png) -120px -40px;
}

#youtube a{
	/* background:url(../images/sprited-global/footer-youtube-hover.png); */
	background:url(../images/sprite-global.png) -160px -40px;
	width:39px;
}

#rss a{
	/* background:url(../images/sprited-global/footer-rss-hover.png); */
	background:url(../images/sprite-global.png) -200px -40px;
	width:39px;
}

/* CONTACT */
.footer-contact-icon{
	float:left;
	padding:0 0 0 10px;
	position:absolute;
	bottom:40px; right:70px;
	border-left:1px solid #FFF;
}

.footer-contact-icon a{
	float:left;
	/* background:url(../images/sprited-global/footer-contact-icon.png); */
	background:url(../images/sprite-global.png);
}

.footer-contact-icon a span{
	float:left;
	width:39px; height:40px;
	text-indent:-99999em;
	/* background:url(../images/sprited-global/footer-contact-icon-hover.png); */
	background:url(../images/sprite-global.png) 0 -40px;
	opacity:0;
}

.footer-credit{
	float:left;
	width:100%;
	height:164px;
	text-align:center;
        margin-bottom: 30px;
}

#binusmaya{
	display:block;
	width:183px;height:56px;
	margin:57px auto;
	padding-top:43px;
	background:url(../images/binusmaya_footer.png) no-repeat;
	font-family: 'Interstate Light';
}




/* CREDIT
----------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------- */
#credit.wrap-out,
#credit .wrap{
	background:none;
	border:none;
	text-align:center;
}

#credit p{
	padding:10px 0 0;
	font-size:0.65em;
	color:#808080;
}

/* ----- DROPDOWN --- */
.dropdown{
    position:relative;
    width:274px;height:40px;
    cursor: pointer;
    
}

    .dropdown .dropdown_container{
        
        z-index: 999;
    }
    .dropdown .option{
        
        display: none;
        position: absolute;
        top: 40px;
        clear: both;
        width: 272px;
        z-index: 999;
    }
        .dropdown .option a{
            display: block;
            height: 100%;
            width: 100%;
            color: #fff;
        }
            .dropdown .option a:hover{
                color: #fff;    
            }
        .dropdown .option div{
            border-top: solid 1px #cccccc;
            font-family: 'Droid Serif',Georgia,Times New Roman;
            font-size: 12px;
            line-height: 29px;
            height: 29px;
            padding-top: 5px;
            text-align: center;
            background: #b8b8b8;
        }
        .dropdown .option div:hover{
            background: #f5b000;
        }
    .dropdown .field{
        display:inline-block;
        float: left;
        
        padding-left: 20px;
        width: 229px;
        height: 100%;
        background: url('../images/dropdown.png') 0px -39px repeat-x;
        font: 1em 'Droid Serif';
        line-height: 40px;
    }
    .dropdown .arrow{
        display:inline-block;
        float: left;
        width: 23px;
        height: 100%;
        background: url('../images/dropdown.png') 0px 0px no-repeat;
    }
        .dropdown .hover{
            background: url('../images/dropdown.png') -24px 0px no-repeat;
        }
 /* --- FEEDBACK FORM ---*/
.contact form {
	text-align: right;
}
.contact form #send{
	width: 92px;
	cursor: pointer;
	font: 0.9em 'Interstate';
	background: url('../images/dropdown.png') 0px -80px repeat-x;
	color: #606060;
	border: none;
	padding-bottom: 7px
}
.contact form #send:hover{
	background: url('../images/dropdown.png') 0px -113px repeat-x;
}
.contact form #subject
{
	padding-left: 20px;
	height: 40px;
	color:#cacaca;
	width: 269px;
	line-height: 40px;
	font: 0.9em 'Droid Serif';
	font-style: italic;
}
.contact form textarea
{
	width: 269px;
	margin: 10px 0 10px 0;
	height: 75px;
	padding: 10px 0 0 20px;
	font: 0.9em 'Droid Serif';
	color:#cacaca;
	font-style: italic;
	resize: none
}



.clear {
	clear: both;
}

.darkgraybg {
	background: #e1e1e1;
}

.graybg {
	background: #f4f4f4;
}

span.middle img{
	vertical-align: middle;
}



/** Data list style **/
.datakeyval {
	/*border-bottom: 1px solid #c8c8c8;*/
}

.datakeyval .left-partial {
	clear: left;
	float: left;
	width: 49%;
}

.datakeyval .right-partial {
	clear: right;
	float: right;
	width: 49%;
}

.datakeyval .left-partial dt,
.datakeyval .right-partial dt {
	clear: none;
	margin: 5px 0 5px 0;
	width: 40%;
}

.datakeyval .left-partial dd,
.datakeyval .right-partial dd {
	float: right;
	/*margin: 5px 0 5px 50%;*/
	margin: 5px 0;
	width: 50%;
	vertical-align: baseline;
}

.datakeyval .right-partial {
	float: right;
	width: 49%;
}

.datakeyval dl {
	clear: both;
	font-size: 1.3em;
	margin: 0 0 10px 0;
	overflow: auto;
}

.datakeyval dd {
	/*margin: 0 0 10px 25%;*/
	float: right;
	margin: 0 0 10px 0;
	min-height: 16px;
	width: 75%;
}

.datakeyval dt {
	clear: both;
	color: #a1a1a1;
	float: left;
	font-weight: normal;
	text-align: right;
	text-transform: uppercase;
	width: 23%;
}

.datakeyval dd ul {
	margin: 0;
}

.datakeyval dd li {
	padding: 0;
}

.datakeyval input[type=text] {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: Interstate, Arial, sans-serif;
}

.datakeyval textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: Interstate, Arial, sans-serif;
	font-size: 1em;
	padding: 5px;
	height: 150px;
	width: 90%;
}

.datakeyval textarea:focus,
.datakeyval input[type=text]:focus {
	border: 1px solid #ccc;
	box-shadow: 0 0 2px #999;
}

.datakeyval dd ul {
	font-size: 1em;
	list-style: none;
}

.datakeyval dd li {
	margin: 0 0 10px 0;
}

/** Period selector **/
.period-box {
	clear: both;
	font-size: 1.3em;
	margin: 10px 0;
	overflow: auto;
}

.period-label {
	color: #A1A1A1;
	float: left;
	margin: 5px 0 0 0;
	text-align: right;
	text-transform: uppercase;
	width: 25%;
}

.period-selector {
	float: right;
	width: 72%;
}

.boldnote {
	font-size: 1em;
	font-weight: bold;
	color: #006699;
}

.sidenote {
	font-size: 1em;
	color: #a1a1a1;
}

button,
.button:link,
.button:visited,
.smallbutton:link,
.smallbutton:visited,
.regularbutton:link,
.regularbutton:visited {
	background: #f09909 url(../images/buttonbg.png) repeat-x top left;
	/*background: linear-gradient(top, #ccc 20%, #666 80%);*/
	background: linear-gradient(top, #f09009 32%, #f6a417 66%);
	/*background: -moz-linear-gradient(top, #ccc 20%, #666 80%);*/
	background: -moz-linear-gradient(center bottom , #F09009 32%, #F6A417 66%) repeat scroll 0 0 #F09909;
	border: 1px solid #B16D07;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: Interstate, Arial, sans-serif;
	line-height: 16px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #666666;
}

button {
	height: 26px;
	line-height: 0;
}

button,
.button:link,
.button:visited {
	font-size: 1.2em;
	padding: 5px 10px;
}

.smallbutton:link,
.smallbutton:visited {
	font-size: 0.6em;
	padding: 2px 5px;
}

.regularbutton,
.regularbutton:link,
.regularbutton:visited {
	font-size: 1em;
	padding: 4px 8px;
}

button:hover,
.button:hover,
.smallbutton:hover,
.regularbutton:hover {
	box-shadow: #145580 0 0 4px;
	text-decoration: none;
}


table.figuretab {
	background: #fff;
	border-collapse: collapse;
	border: 1px solid #bbb;
	color: #777;
	font-size: 1.3em;
	margin: 5px 0;
	width: 100%;
}

table.figuretab caption{
/*font-size: 1.15em; */
	margin: 10px 0 5px 0;
	text-transform: uppercase;
}

table.figuretab thead {
	/*background: linear-gradient(top, #eee 20%, #ddd 80%);
	background: -moz-linear-gradient(top, #eee 20%, #ddd 80%);*/
	background: #b8ccd9;
	font-weight: normal;
	text-align: center;
}

table.figuretab thead td {
	border: 1px solid #8a99a3;
	color: #444;
}

table.figuretab tbody tr:nth-child(even) {
	background: #f5f5f5;
}

table.figuretab tbody tr:nth-child(even) td {

}

table.figuretab td,
table.figuretab th {
	border: 1px solid #bbb;
	padding: 4px 5px;
}

table.center,
table td.center,
table th.center,
table.figuretab.center,
table.figuretab td.center,
table.figuretab th.center {
	text-align: center;
}

table.figuretab.left,
table.figuretab td.left,
table.figuretab th.left {
	text-align: left;
}	

table.figuretab td.right {
	text-align: right;
}

table.figuretab th {
	background: #b8ccd9;
}

table.figuretab .gray {
	background: #ccc;
}

.krsmeta {
	font-size: 1.3em;
	margin: 10px 0 0 0;
}

.boxlist article {
	background: #e1e1e1;
	border-top: 1px solid #fff;
	clear: both;
}

.boxlist header {
	background: url(../images/icon_plus.png) no-repeat 10px center;
	cursor: pointer;
	overflow: auto;
	padding: 10px 10px 10px 35px;
}

.boxlist header:hover {
	background-color: #ccc;
}

.boxlist header.expanded {
	background: url(../images/icon_minus.png) no-repeat 10px center;
}

.boxlist h4 { 
	float: left;
	font-size: 1.5em;
	margin: 0;
}

.boxlist header div {
	float: right;
	font-size: 1.3em;
}

.boxlist .itembody {
	background: #e6e6e6;
	border-top: 1px solid #aaa;
	display: none;
	overflow: auto;
	padding: 10px;
}

/* role selector */
#rolecontainer {
	position: relative;
}

#roletrigger {
	cursor: pointer;
	padding: 0 0 0 10px;
}

#rolewrapper {
	background: url("../images/headinfo-bg.png") repeat-x scroll left top #F6F6F6;
	border-bottom: 1px solid #ccc;
	height: 39px;
	padding: 10px 0;
	position: absolute;
	top: 0;
	right: 0;
	position:absolute;
	width: 100%;
	z-index: 200;
}

#roleselector li {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 230px;
}

#roleselector {
	display: block;
	position:absolute;
	z-index: 100;
}
/*#roleselector li {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 240px;
}*/

#roleselector a:link,
#roleselector a:visited {
	background: url("../images/headinfo2-bg.png") repeat-x scroll left top transparent;
	border-right: 1px solid #ccc;
	color: #fff;
	display: block;
	height: 40px;
	padding: 10px 0;
	text-transform: uppercase;
}

#roleselector a:hover {
	text-decoration: none;
	color: #eee;
}

/* in-course course selector */
#courseselector {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	height: 70px;
	position: relative;
}

#courseselector ul{
	margin: 0;
	width: 10000px;
}

#courseselector li{
	border-right: 1px solid #ccc;
	color: #666;
	float: left;
	list-style: none;
	width: 137px;
}

#courseselector .courseclass {
	font-size: 1.3em;
	font-weight: bold;
}

#coursenavwrap {
	margin: 0 20px;
	overflow: hidden;
}

.slidecourseleft, .slidecourseright {
	height: 70px;
	position:absolute;
	top: 0;
	width: 20px;
}

.slidecourseleft {
	background: #fff url(../images/left.png) no-repeat center center;
	border-right: 1px solid #ccc;
	left: 0;
}

.slidecourseright {
	background: #fff url(../images/right.png) no-repeat center center;
	border-left: 1px solid #ccc;
	right: 0;
}

#courseselector .courseday,
#courseselector .coursetime {
	font-size: 1.2em;
}

#courseselector a:link {
	display: block;
	height: 60px;
	padding: 5px 10px;
}

#courseselector a:hover {
	background: #eee;
	text-decoration: none;
}

/* Wizard */
.wizardstep {
	margin: 20px 0;
	overflow: auto;
}
.wizardstep ul {
	font-size: 1.1em;
	margin: 0;
}
.wizardstep li{
	background: url('../images/progress.png') no-repeat top left;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	float: left;
	list-style: none;
	line-height: 20px;
	height: 20px;
	padding: 0 5px 0 15px;
	margin: 0;
	text-align: center;
}

.wizardstep li.current {
	background: #ddd url('../images/progress-currentleft.png') no-repeat top left;
}

.wizardstep li.current+li {
	background: url('../images/progress-currentright.png') no-repeat top left;
}

.wizardstep li:last-child {
	border: none;
	margin: 1px 0 0 0;
	width: 10px;
}

.wizardbox {
	border: none;
	display: none;
	padding: 0;
	margin: 0;
}

.wizardbox.current {
	display: block;
}

/** box item list **/

.boxitem ul {
	font-size: 1em;
	margin: 0;
}

.boxitem  li {
	background: #fff;
	border: 1px solid #fff;
	float: left;
	height: 150px;
	list-style: none;
	margin: 0 10px 10px 0;
	padding: 0;
	text-align: center;
	width: 150px;
}

.boxitem li > a {
	display: block;
	height: 130px;
	padding: 10px;
	position: relative;
}

.boxitem li > a:hover {
	background: #efefef;
}

.boxitem .clublogo {
	display: block;
	height: 90px;
	line-height: 90px;
	margin: 0 0 10px 0;
}

.boxitem .clublogo img {
	vertical-align: middle;
	max-width: 130px;
	max-height: 90px;
}

.boxitem .clubname {
	bottom: 10px;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	position: absolute;
	text-transform: uppercase;
	width: 140px;
}

/** Cataloging **/
.catalog li {
	padding: 10px;
	position: relative;
}

.catalog-name {
	display: block;
	font-size: 1.1em;
	margin: 10px 0;
}

.catalog-item {
	
}

.catalog-image {
	display: block;
	text-align: center;
}

.catalog-add a {
	height: auto;
	margin: 10px 0 0 0;
}


/** Linear list **/
.linelist {

}

.linelist ul {
	font-size: 1.3em;
	margin: 0 0 0 20px;
}

.linelist li {
	padding: 0 0 0 10px;
	margin: 20px 0;
}

.linelist p {
	font-size: 1.3em;
}

/** Multiple choice list **/
ul.multiplechoice ul {
	list-style: none;
	margin: 0;
}

ul.multiplechoice label input {
	vertical-align: middle;
}


/** community specific **/


/* image list */

.nav-icons{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.nav-text{
	border-top: 1px solid #fff;
	display: block;
	padding-top: 5px;
}
.image-info { background: url(../images/student-lms-iconset.png) no-repeat 0 0;}
.image-share { background: url(../images/student-lms-iconset.png) no-repeat -60px 0;}
.image-resources { background: url(../images/student-lms-iconset.png) no-repeat -120px 0; }
.image-people { background: url(../images/student-lms-iconset.png) no-repeat -180px 0; }
.image-forum { background: url(../images/student-lms-iconset.png) no-repeat -240px 0; }
.image-broadcast { background: url(../images/student-lms-iconset.png) no-repeat -420px 0; }
.image-attendance { background: url(../images/student-lms-iconset.png) no-repeat -300px 0; }
.image-grades { background: url(../images/student-lms-iconset.png) no-repeat -360px 0; }
.image-assignment { background: url(../images/student-lms-iconset.png) no-repeat -540px 0; }
.image-practicum { background: url(../images/student-lms-iconset.png) no-repeat -480px 0; }
.image-exam { background: url(../images/student-lms-iconset.png) no-repeat -660px 0; }
.image-certification { background: url(../images/student-lms-iconset.png) no-repeat -600px 0; }



/** Chat box **/
#chat-container{position:absolute;z-index:9999;display:none;box-shadow:#ccc 0px 5px 10px;font-size:1.2em;margin-top:-2px;margin-left:-267px;width:520px;border:1px solid #d0d0d0;border-top:0px none;background:#f6f6f6 url('../images/chat-arrow.png') no-repeat 251px 0px;}
#chat-container .profilepicture{border:1px solid #d4d4d4;padding:2px;background:#fff;margin-right:10px;float:left;max-width:36px;max-height:36px;}
#chat-container ul, #chat-container li{float:none;border:0px none;clear:both;height:auto;color:#666;max-width:none;}
#chat-container #contacts{float:left;width:260px;}
#chat-container #contacts ul{height:485px;overflow:auto;}
#chat-container #contacts h3{cursor:pointer;padding:10px;margin:0px;}
#chat-container #contacts ul ul{height:auto;padding:0 10px;}
#chat-container #contacts li li{padding:10px;border-bottom:1px solid #ccc;border-top:1px solid #fff;min-height:40px;cursor:pointer;max-width:none;}
#chat-container #contacts li li:hover{background:#eee;}
#chat-container #contacts .contactname{font-weight:bold;padding-top:5px;}
#chat-container #contacts .contactrole{font-size:11px;margin-top:5px;}
#chat-container #searchcontact{width:241px;border-radius:0px;padding:7px;background:url('../images/icon_search.png') 230px center no-repeat;margin-left:1px;}
#chat-container #chats{float:right;width:260px;background:#fff;}
#chat-container #chats ul{height:450px;overflow:auto;padding:0 10px;}
#chat-container #chats li{padding:10px 0;border-bottom:1px solid #ccc;overflow:auto;max-width:none;}
#chat-container .chatmessage{float:right;width:170px;}
#chat-container #chatpartner{padding:10px;font-weight:bold;color:#666;border-bottom:1px solid #ccc;box-shadow:0 1px 6px #ccc;}
#chat-container #chatcomposer{width:243px;border-radius:0px;padding:7px;}
#searchcontact { border: 1px solid #ccc; }
#chatcomposer { border: 1px solid #ccc; }

#headnav .unread-count {
    background: none repeat scroll 0 0 #E23923;
    border: 1px solid #0D3A59;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    display: inline-block;
	font-size: 0.9em;
    /**margin-left: 25px;
    margin-top: 6px;**/
    min-width: 6px;
    padding: 0 3px;
    position: absolute;
    text-align: center;
}

/** notification box **/
#notification-container{position:absolute;z-index:9999;display:none;box-shadow:#ccc 0px 5px 10px;font-size:1.2em;margin-top:-2px;margin-left:-240px;width:320px;border:1px solid #d0d0d0;border-top:0px none;background:#f6f6f6 url('../images/notification-arrow.png') no-repeat 251px 0px;}
#notification-container #notifications{padding:7px;border:0px none;border-bottom:1px solid #d0d0d0;}
#notification-container .notification{color:#787878;border-bottom:1px solid #d4d4d4;padding:5px;cursor:pointer;}
#notification-container .notification:hover{background:#b9ccda;color:#fff;}
#notification-container .notification:last-child{border-bottom:0px none;}
#notification-container .profilepicture{border:1px solid #d4d4d4;padding:2px;background:#fff;margin-right:10px;float:left;max-width:50px;max-height:50px;}
#notification-container .notiftext{font-weight:bold;margin-bottom:5px;}
#notification-container .seeallnotification{text-align:center;font-weight:bold;padding:10px;display:block;}
#notification-container .seeallnotification:hover{text-decoration:none;background:#b9ccda;color:#fff;margin:1px;}
.notification a:hover {
	text-decoration: none;
}

/** number class **/
.medium0 { background: url(../images/numbers-medium.png) no-repeat 0 0; height: 37px; width: 30px; display:inline-block; }
.medium1 { background: url(../images/numbers-medium.png) no-repeat 0 -40px; height: 37px; width: 17px; display:inline-block; }
.medium2 { background: url(../images/numbers-medium.png) no-repeat 0 -80px; height: 37px; width: 27px; display:inline-block; }
.medium3 { background: url(../images/numbers-medium.png) no-repeat 0 -120px; height: 37px; width: 27px; display:inline-block; }
.medium4 { background: url(../images/numbers-medium.png) no-repeat 0 -160px; height: 37px; width: 27px; display:inline-block; }
.medium5 { background: url(../images/numbers-medium.png) no-repeat 0 -200px; height: 37px; width: 27px; display:inline-block; }
.medium6 { background: url(../images/numbers-medium.png) no-repeat 0 -240px; height: 37px; width: 27px; display:inline-block; }
.medium7 { background: url(../images/numbers-medium.png) no-repeat 0 -280px; height: 37px; width: 27px; display:inline-block; }
.medium8 { background: url(../images/numbers-medium.png) no-repeat 0 -320px; height: 37px; width: 27px; display:inline-block; }
.medium9 { background: url(../images/numbers-medium.png) no-repeat 0 -360px; height: 37px; width: 27px; display:inline-block; }
.mediumdot { background: url(../images/numbers-medium.png) no-repeat 0 -400px; height: 37px; width: 12px; display:inline-block; }

.three-column {
	list-style: none;
	overflow: auto;
	padding: 0;
	margin: 10px 0;
}

.three-column li{
	border: 1px solid #ccc;
	float: left;
	font-size: 1.2em;
	height: 50px;
	overflow: auto;
	margin:10px 10px 0 0;
	padding: 5px;
	width: 210px;
}

.demopart {
	position: relative;
}

.demoshade {
	background:white;
	position: absolute;
	opacity: 0.7;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 600;
}

.faqquestion {
	cursor: pointer;
}

.faqquestion:hover {
	text-decoration: underline;
}

p.faqanswer {
	display: none;
	font-size: 1em;
	margin-bottom: 20px;
}

.scrollablepopup {
	height: 500px;
	overflow: auto;
}

.hoverable .showhover {
	display: none;
}

.hoverable:hover .showhover{
	display: block;
}

.deletebutton {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/delete.png) no-repeat left top;
}

.editbutton {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/edit.png) no-repeat left top;
}

