
.ui-accordion .ui-accordion-header {
  
  cursor: pointer;
	  position: relative;

  
  background: none repeat scroll 0 0 #e7e7e7;
 
  color: #d1cfcf;
  font-size: 1.3em;


  text-transform: uppercase;
  -webkit-border-radius: 1px; /* Safari prototype */
  -moz-border-radius: 1px; /* Gecko browsers */
  border-radius: 1px; 
}
.ui-accordion .ui-accordion-li-fix {
  display: inline;
    background-color: #e1e1e1;
}
.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}
.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: .5em .5em .5em .7em;
  padding-right: 1.7em;
  color: #777;
}
/* IE7-/Win - Fix extra vertical space in lists */
.ui-accordion a {
  zoom: 1;
}
.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  right: .5em;
  top: 50%;
  margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  margin-top: 0px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  zoom: 1;
    
}
.ui-accordion .ui-accordion-content-active {
  display: block;
    border-radius: 1px; 
  background: #f6f6f6;
     
}

.tabelAccordion{
	
	border: 0px solid #333;
	width: 100%;
	margin: 0 0 0 20px;
	line-height:150%;
	
}
.tabelAccordion .header{
	
	color: #828080;
	font-size: 1.3em;
	vertical-align:text-top;
}
.tabelAccordion .data{
	
		font-size: 1.2em;
		
}

.tabelAccordion .data ul{
	
	
	list-style:none;
}



.tabelAccordions{
	color:#828080 ;
	border: 0px solid #333;
		margin: 0 0 0 20px;
	line-height:150%;
	
}


.tableAccordions select{
	
	width: 100px;
}

.tabelAccordions .headers{
	color: #828080;
	font-size: 1.1em;
	vertical-align:text-top;
}
.tabelAccordions .datas{
	
		font-size: 1em;
		
}



.tabelAccordions th, td {
   
    overflow: hidden;
    width: 220px;
}

.tabelAccordions 

.tabelAccordions .datas ul{
	
	
	list-style:none;
}





.ui-state-default .ui-icon {
background-image: url(../images/arrow-right.png);
}

.ui-state-active .ui-icon {
background-image: url(../images/arrow-down.png);
}

.ui-icon-circle-plus {
background-position: 0px;

}
.ui-icon-circle-minus {
background-position: 0px;

}

.ui-icon {
   	height: 17px;
    width: 23px;
}
