/* 
    Document   : binusmaya
    Created on : Oct 8, 2012, 10:13:31 AM
    Last Modified on : Oct 14, 2012
    Author     : Deni Tri Hartanto, Fikri Rasyid
    Description:
        Purpose of the stylesheet follows.
*/
.sprites-sprite, .dmd .content-filter .icon-magnifier,
.dmd .primary-form .icon-magnifier, .dmd .icon-upload, .but-hapus,
.but-delete-cell,
.icon-scheduletable-remove,
.dmd .icon-remove-sign, .but-hapus:hover,
.but-delete-cell:hover,
.icon-scheduletable-remove.hover,
.icon-scheduletable-remove:hover,
.dmd .icon-remove-sign:hover, .but-edit,
.icon-scheduletable-edit,
.dmd .icon-pencil, .but-edit:hover,
.icon-scheduletable-edit.hover,
.icon-scheduletable-edit:hover,
.dmd .icon-pencil:hover, .icon-scheduletable-create,
.dmd .berita-button, .icon-scheduletable-create.hover,
.icon-scheduletable-create:hover,
.dmd #scheduleTable .berita-button:hover, .icon-scheduletable-people, .icon-scheduletable-people.hover,
.icon-scheduletable-people:hover, #table-verifikasi-rapot .but-view,
.icon-view, #table-verifikasi-rapot .but-view:hover,
.icon-view:hover,
.icon-view.hover, .icon-refresh, .icon-refresh:hover,
.icon-refresh.hover, .paging-wrap a.prev,
#paging a.prev, .paging-wrap a.prev:hover,
#paging a.prev:hover, .paging-wrap a.prev.disable,
#paging a.prev.disable, .paging-wrap a.next,
#paging a.next, .paging-wrap a.next:hover,
#paging a.next:hover, .paging-wrap a.next.disable,
#paging a.next.disable, .primary-tab-nav .tab-pointer, #saved-range .but-view-parent .pointer, #saved-range .but-view-parent.active .pointer, #saved-range .but-hapus-program, #saved-range .but-hapus-program:hover, #toggle-prodi .toggle-icon,#toggle-jnpdf .toggle-icon,#toggle-gelombang .toggle-icon,#toggle-kolom .toggle-icon, .tab-nav-four .pointer, .tab-nav-six .pointer, .tab-nav-seven .pointer, .tab-nav-eight .pointer, #regist-program-wrap .icon-magnifier,
#student-regis-progress-group-wrap .icon-magnifier, .box .icon-arrowup-3, .box .icon-arrowdown-3, .but-lock, .but-lock:hover {
  background: url('../images/sprites-sa1555007c8.png') no-repeat;
}

.container {
  width: 960px !important;
}

nav > ul li {
  float: right;
  border-left: solid 1px #135581;
  border-right: solid 1px #0d3857;
  height: 44px;
}

nav.menu #user {
  line-height: 39px;
  padding-left: 20px;
  color: #fff;
  font: 13px "Interstate Light";
  line-height: 40px;
  position: relative;
  cursor: pointer;
}

nav.menu #user #usermenu {
  display: none;
}

nav.menu #user img {
  margin: 0 10px;
  vertical-align: middle;
}

#breadcrumb > div {
  float: left;
  height: 60px;
}

#breadcrumb-info {
  width: 240px;
  background: #f1ad3f;
  text-align: center;
  color: #fff;
  font: 1.5em "Interstate Light";
  line-height: 45px;
  border-left: solid 1px #c9c9c9;
}

#breadcrumb-detail {
  width: 730px;
  background: #eeeeee;
  line-height: 60px;
  padding-left: 10px;
  border-right: solid 1px #c9c9c9;
}

/* CONTENT
----------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------- */
.no-border {
  border: none !important;
}

#primaryheader {
  border-bottom: 1px solid #c4c4c4;
  padding: 60px 20px 48px;
}

#primaryheader .title {
  font: 24px "Interstate Bold";
  color: #135581;
  line-height: 1;
}

#primaryheader .description {
  font: 16px "Interstate Light";
  color: #787a70;
  line-height: 1.4;
}

/* PRIMARYSPACE - LOADING */
#primaryspace-loading {
  display: block;
  padding: 20px 20px 10px;
  text-align: center;
  clear: both;
}

#primaryspace-loading p {
  margin: 0;
}

#primaryspace-loading .loading {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#primaryspace-loading-message {
  max-width: 350px;
  display: inline-block;
  vertical-align: middle;
  font: 16px "Interstate", Helvetica, Arial;
  color: #666;
  padding: 0 10px 10px;
}

#primaryspace {
  /*padding: 10px;*/
}

/* PRIMARY SPACE */
#primaryspace > .row {
  /*background: #f6f6f6;*/
}

.primary-title {
  padding: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.primary-title.schedule {
  margin-bottom: 40px;
}

.content-filter .title,
.primary-title .title {
  color: #666666;
  font: 18px "Interstate", Helvetica, Arial;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: 10px;
}

.primary-title .description {
  color: #777;
  font: 13.3px "Droid Serif", Georgia;
  line-height: 1.6;
}

.content-filter .columns {
  padding: 0 10px 25px;
}

.content-filter .title {
  text-align: center;
  margin-bottom: 25px;
  display: block;
}

.content-filter .input-wrap {
  display: inline-block;
  width: 218px;
  margin-right: 13px;
  margin-bottom: 13px;
  vertical-align: middle;
}

.content-filter .input-wrap.course {
  width: 450px;
  margin-right: 0;
}

.content-filter input[type="text"] {
  font: 13px "Droid Serif", Georgia;
  color: #666666;
  height: 40px;
  margin-bottom: 0;
}

#primaryspace .primary-form label {
  font: 16px "Interstate";
  color: #666666;
  display: inline-block;
  width: 170px;
  text-align: right;
}

#primaryspace .primary-form.long-legend label {
  width: 198px;
}

#primaryspace .primary-form label.readonly {
  color: #aeaeae;
}

#primaryspace .primary-form label.long-copy {
  vertical-align: middle;
}

.primary-form h4 {
  font-size: 15px;
  display: block;
  margin: 60px 0 10px 0;
  padding-left: 210px;
  color: #333;
}

.primary-form p {
  margin: 0 0 12px 0;
}

.primary-form .input-wrap {
  display: inline-block;
  width: 350px;
  margin: 0 0 0 35px;
  vertical-align: middle;
}

.primary-form .input-desc {
  font-size: 10px;
  color: #888;
  display: block;
}

.modal-container .modal-title {
  text-align: center;
  font: 18px "Interstate", Helvetica, Arial;
  text-transform: uppercase;
  color: #4D4D4D;
}
.modal-container .required{
	color:red;
	font-size:18px;
	float:right;
}
.required, .grequire {
	color:red;
	font-size:18px;
}
.modal-container .primary-form .input-wrap {
  margin-left: 0;
  width: 98%;
}

.primary-form .input-wrap.with-search-icon input.text {
  width: 310px;
  float: left;
}

.primary-form .input-wrap.with-orang-suffix input.text {
  width: 265px;
  float: left;
}

.primary-form .input-wrap .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.primary-form .input-wrap .icon.icon-search {
  background: url(../images/input-wrap-search-icon.png) center center no-repeat #a4a4a4;
}

.primary-form .input-wrap .orang-suffix {
  display: inline-block;
  width: 84px;
  height: 40px;
  border: 1px solid #c4c4c4;
  border-left: none;
  color: #A6A6A6;
  background: #e6e6e6;
  font: 16px "Interstate Light", Helvetica, Arial;
  text-align: center;
}

.primary-form .input-wrap input.text {
  height: 40px;
  margin-bottom: 0;
  font: 13px "Droid Serif", Georgia, serif;
  color: #666;
}

.primary-form .input-wrap textarea {
  resize: none;
  height: 80px;
  font: 13px "Droid Serif", Georgia, serif;
  color: #666;
}

.primary-form .input-wrap .note {
  font: italic 11px "Interstate Light";
  color: #9d9d9e;
  margin-top: -14px;
  display: block;
}

.primary-form .input-wrap select{
	height: 40px; 
	font: 13px 'Droid Serif';
	padding: 10px;
	color: #666666;
	border: 1px solid rgb(204, 204, 204);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.primary-form select[readonly="readonly"]{
	background: #DFDFDF;
}

.dmd .primary-form .imitate-container input {
  width: 310px;
}

.dmd .modal-container .primary-form .imitate-container input {
  width: 635px;
}

.dmd .primary-form input[readonly="readonly"] {
  background: #DFDFDF;
}

.dmd .content-filter .icon-magnifier,
.dmd .primary-form .icon-magnifier {
  background-position: 0 -769px;
  width: 38px;
  height: 38px;
  vertical-align: baseline;
  margin-right: -1px;
  border-left: 1px solid #c4c4c4;
}

.dmd .icon-upload {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: 0 -553px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #c4c4c4;
}

.dmd table.primary-table {
  margin-bottom: 20px;
  border-collapse: collapse;
  border-right: none;
  border-bottom: none;
}

.table-container .primary-table {
  margin-bottom: 0;
}

.dmd .primary-table tr th {
  border: none;
  border-right: solid 1px #adadad;
  border-bottom: solid 1px #adadad;
  text-align: center;
  font-family: 'Interstate Bold';
  text-transform: uppercase;
}

.dmd .primary-table tr td {
  background: #dfdfdf;
  border: none;
  border-right: solid 1px #adadad;
  font-size: 15px;
  color: #444446;
  padding: 5px 10px;
  vertical-align: top;
}

.dmd .primary-table tr:last-child td {
  border-bottom: solid 1px #adadad;
}

.dmd .primary-table tr:nth-child(2n) td {
  background: #FFF;
}

.primary-table.large-data {
  display: block;
}

.dmd .primary-table tbody {
  display: block;
}

.dmd .primary-table.large-data tbody {
  	width: 2500px;	
}

.table-container .mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.primary-table.large-data .mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 0px;
  height: 20px;
  margin-top: 4px;
  margin-bottom: 0;
  height: 12px;
  background: url(../images/dragger-texture.png) center center no-repeat #ee980c;
}

.table-container .mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail,
.primary-table.large-data .mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {
  background: #a9a9a9;
  height: 12px;
  margin-top: 4px;
  border-radius: 0;
}

.dmd .primary-table tr {
  width: 100%;
}

.dmd .primary-table th {
  padding: 5px 10px 10px;
}

.dmd .primary-table td {
  padding: 10px;
  line-height: 1.2;
}

.dmd .primary-table.large-data tbody {
  /*	width: 1600px; */
}

.dmd .primary-table .avatar-wrap {
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: white;
  box-shadow: 0 1px 2px #999999;
  margin: 0 5px 5px 0;
}

.dmd .primary-table .avatar-wrap .avatar {
  width: 100%;
}

.dmd .primary-table .sales-name {
  vertical-align: top;
}

/* Period Nav */
.period-nav {
  display: block;
  width: 175px;
  background: #EFEFEF;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin: 0 auto 20px;
  color: #DFDFDF;
  text-align: center;
  vertical-align: middle;
}

.period-nav .period-mover {
  cursor: pointer;
  background: white;
  display: inline-block;
  width: 30px;
  height: 26px;
  color: #DFDFDF;
  font-size: 16px;
  padding-top: 7px;
}

#older-period {
  border-right: 1px solid #dfdfdf;
  float: left;
}

#newer-period {
  border-left: 1px solid #dfdfdf;
  float: right;
}

#current-period {
  display: inline-block;
  width: 62px;
  height: 26px;
  padding: 0 5px 6px;
  color: #333;
  font-family: "Interstate Light", Helvetica, Arial;
  font-size: 16px;
}

.dmd .content-filter .imitate-container input {
  width: 178px;
}

.dmd .content-filter .course .imitate-container input {
  width: 410px;
}

.table-wrap {
  padding: 0 10px;
}

.table-wrap.border-top {
  border-top: 1px solid white;
  padding-top: 20px;
}

.scheduletable-button-wrap {
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid white;
}

/* Maintaining primary-table button link */
.dmd .but-hapus,
.dmd .but-edit,
.dmd .berita-button {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  text-indent: -99999em;
  cursor: pointer;
}

.dmd .but-daftarulang,
.dmd .del-button,
.dmd .edit-button {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.but-hapus,
.but-delete-cell,
.icon-scheduletable-remove,
.dmd .icon-remove-sign {
  width: 21px;
  height: 21px;
  background-position: 0 -633px;
  vertical-align: middle;
  display: inline-block;
}

.but-hapus:hover,
.but-delete-cell:hover,
.icon-scheduletable-remove.hover,
.icon-scheduletable-remove:hover,
.dmd .icon-remove-sign:hover {
  background-position: 0 -612px;
}

.but-edit,
.icon-scheduletable-edit,
.dmd .icon-pencil {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  background-position: 0 -226px;
}

.but-edit:hover,
.icon-scheduletable-edit.hover,
.icon-scheduletable-edit:hover,
.dmd .icon-pencil:hover {
  background-position: 0 -205px;
}

.icon-scheduletable-create,
.dmd .berita-button {
  width: 21px;
  height: 21px;
  background-position: 0 -532px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -99999em;
  margin-left: -4px;
}

.icon-scheduletable-create.hover,
.icon-scheduletable-create:hover,
.dmd #scheduleTable .berita-button:hover {
  background-position: 0 -247px;
}

.icon-scheduletable-people {
  width: 21px;
  height: 21px;
  background-position: 0 -654px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -99999em;
}

.icon-scheduletable-people.hover,
.icon-scheduletable-people:hover {
  background-position: 0 -268px;
}

#table-verifikasi-rapot .but-view,
.icon-view {
  width: 21px;
  height: 21px;
  background-position: 0 -591px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -99999em;
}

#table-verifikasi-rapot .but-view:hover,
.icon-view:hover,
.icon-view.hover {
  background-position: 0 -289px;
}

.icon-refresh {
  width: 21px;
  height: 21px;
  background-position: 0 -331px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -99999em;
}

.icon-refresh:hover,
.icon-refresh.hover {
  background-position: 0 -310px;
}

.disabled {
  opacity: 0.2;
  cursor: default !important;
}

/* tpks/schedule */
#scheduletable-legend {
  margin-bottom: 30px;
}

#scheduletable-legend li {
  display: inline;
  margin: 0 50px 0 0;
}

#scheduletable-legend li i {
  margin: 0 10px 0 0;
}

#scheduleTable .th-wrap.first {
  width: 80px;
}

#scheduleTable .th-wrap.second {
  width: 85px;
}

#scheduleTable .th-wrap.third {
  width: 90px;
}

#scheduleTable .th-wrap.fourth {
  width: 90px;
}

#scheduleTable .th-wrap.fifth {
  width: 127px;
}

#scheduleTable .th-wrap.sixth {
  width: 127px;
}

#scheduleTable .th-wrap.seventh {
  width: 300px;
}

#scheduleTable .th-wrap.eighth {
  width: 144px;
}

#scheduleTable .th-wrap.ninth {
  width: 200px;
}

.form-table-wrap {
  border-top: 1px solid white;
  padding: 15px 150px 0;
}

.form-table-wrap.wide {
  padding: 15px 10px;
}

.form-table {
  border-collapse: collapse;
}

.form-table tr td {
  text-align: center;
  border: none;
  border-bottom: 1px solid #adadad;
  font: 16px "Interstate", Helvetica, Arial;
  padding: 0 0 15px;
  color: #666;
  vertical-align: middle;
  background: transparent !important;
}

.form-table tr:first-child td {
  background: silver !important;
  padding-bottom: 10px;
}

.form-table input[type=text] {
  border: 1px solid #adadad;
  width: 98px;
  height: 38px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 15px;
  font: 13px "Droid Serif", Georgia, serif;
  color: #666;
  box-shadow: none;
}

.form-table-wrap input.readonly,
.form-table input[readonly="readonly"] {
  border: 1px solid #adadad;
  width: 98px;
  height: 38px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 15px;
  font: 13px "Droid Serif", Georgia, serif;
  color: #666;
  box-shadow: none;
  background: #e6e6e6;
}

.form-table .until {
  display: inline-block;
  font-style: italic;
  padding: 0 5px;
}

.form-preview {
  padding-bottom: 35px;
}

.dmd #primaryspace .primary-form .form-preview label {
  padding-right: 40px;
}

.paging-wrap,
#paging {
  text-align: right;
  font: 12px "Interstate Light", Helvetica, Arial;
  color: #444446;
  padding: 0 0 5px;
  height: 36px;
}

.paging-wrap .pagination,
#paging .pagination {
  vertical-align: middle;
  border-right: 1px solid white;
  padding: 5px 15px 10px;
  margin: 0 10px 0 0;
}

.paging-wrap a,
#paging a {
  color: #c7c7c7;
  padding: 0 7px;
  cursor: pointer;
  vertical-align: middle;
}

.paging-wrap a:hover,
.paging-wrap a.current,
#paging a:hover,
#paging a.current {
  color: #444446;
}

.paging-wrap a.prev,
#paging a.prev {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-position: 0 -40px;
  text-indent: -99999em;
  margin-top: -4px;
  margin-left: 10px;
  padding: 0;
}

.paging-wrap a.prev:hover,
#paging a.prev:hover {
  background-position: 0 -847px;
}

.paging-wrap a.prev.disable,
#paging a.prev.disable {
  background-position: 0 -1007px;
}

.paging-wrap a.next,
#paging a.next {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-position: 0 -807px;
  text-indent: 99999px;
  margin-top: -4px;
  margin-left: 1px;
  padding: 0;
}

.paging-wrap a.next:hover,
#paging a.next:hover {
  background-position: 0 0;
}

.paging-wrap a.next.disable,
#paging a.next.disable {
  background-position: 0 -80px;
}

#status-box,
.status-box {
  display: block;
  color: #f00;
  font-size: 16px;
  padding: 10px 10px;
  text-transform: uppercase;
  font-family: 'Interstate Light';
  margin: 0 auto 12px;
  width: 500px;
  display: none;
  line-height: 1;
}

.modal-container #status-box,
.modal-container .status-box {
  width: 100%;
}

#status-box span,
.status-box span {
  display: block;
  text-align: center;
  padding: 3px 5px 10px;
  margin-bottom: 10px;
}

#status-box span:last-child,
#status-box span:last-child {
  margin-bottom: 0;
}

#status-box.active,
.status-box.active {
  display: block;
}

#status-box.error,
.status-box.error {
  background: #fe7f84;
  border: 1px solid #ca4449;
}

#status-box.error span,
.status-box.error span {
  border: 1px solid #ca4449;
}

#status-box.success,
.status-box.success {
  background: #c0e689;
  border: 1px solid #99d741;
  color: #5f7145;
}

#status-box.success span,
.status-box.success span {
  border: 1px solid #99d741;
}

#form_target {
  display: none;
}

.primary-form-actions {
  border-top: 1px solid white;
  padding: 40px 0;
  text-align: center;
}

.primary-form-actions.lite {
  padding: 10px 0;
  border: none;
  margin: 0;
}

.scheduletable-button-wrap a.btn,
.primary-form-actions .btn {
  width: 180px;
  border-radius: 1px;
}

.scheduletable-button-wrap a.btn,
.primary-form-actions a.btn {
  height: 40px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.primary-form-actions .status-box {
  margin: 0 auto 10px;
}

.dmd .primary-tab-nav.row .columns:first-child {
  border-right: 1px solid white;
}

.primary-tab-nav {
  background: #e6e6e6;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.primary-tab-nav li {
  position: relative;
}

.primary-tab-nav a {
  color: #a6a6a6;
  font: 16px "Interstate", Helvetica, Arial;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 1;
  height: 49px;
  padding: 16px 0 54px;
  position: relative;
  z-index: 1000;
}

.primary-tab-nav .sudah,
.primary-tab-nav .belum{
  z-index:1;
}


.primary-tab-nav .active a,
.primary-tab-nav a:hover {
  background: #a4a4a4;
  color: white;
}

.primary-tab-nav .tab-pointer {
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 470px;
  height: 90px;
  background-position: 0 -352px;
}

.primary-tab-nav .active .tab-pointer {
  display: block;
  z-index: 0;
}

.primary-tab-content {
  display: block;
  padding: 40px 0;
}

.primary-tab-content .primary-form-actions {
  border-top: none;
}

#table-fraud-tab-content-wrap, #table-absent-tab-content-wrap {
  display: none;
}

/* range_nilai */
.range-nilai-wrap #program-container {
  margin-top: -24px;
  display: none;
}

#program-container .checkbox-wrap {
  display: block;
  padding-left: 207px;
}

#gelombang-container .checkbox-wrap {
  display: block;
  padding-left: 207px;
}

#kolom-container .checkbox-wrap {
  display: block;
  padding-left: 207px;
}
.range-nilai-wrap table td {
  border-right: 1px solid #adadad;
}

.range-nilai-wrap table td {
  border-right: none;
}

.range-nilai-wrap table .field-min,
.range-nilai-wrap table .field-max,
.range-nilai-wrap table .field-prosentase {
  width: 40px;
}

.but-delete-cell {
  text-indent: -99999em;
}

.dmd #primaryspace .primary-form.range-nilai-wrap .form-preview label {
  display: inline-block;
  padding-right: 10px;
  width: auto;
}

.form-table-wrap .jumlah-peserta-wrap input.readonly,
.form-table .jumlah-peserta-wrap input[readonly="readonly"] {
  width: 88px;
}

#range-process-wrap {
  display: block;
  margin-bottom: 40px;
}

#saved-range-title {
  color: #666;
  font: 18px "Interstate", Helvetica, Arial;
  text-align: center;
}

#saved-range-no-data {
  display: block;
  margin: 20px;
  text-align: center;
}

#saved-range {
  border: 1px solid #adadad;
}

#saved-range .but-view {
  display: block;
  margin: 0 60px 0 0;
  padding: 19px 20px;
  height: 60px;
  vertical-align: middle;
  cursor: pointer;
  color: white;
}

#saved-range .but-view-parent {
  background: #BABABA;
  border-top: 1px solid #adadad;
  font-size: 16px;
  color: white;
  position: relative;
  height: 61px;
}

#saved-range .but-view-parent:hover,
#saved-range .but-view-parent.active {
  background: #F6B000;
}

#saved-range .but-view-parent .pointer {
  display: inline-block;
  width: 15px;
  height: 21px;
  background-position: 0 -1062px;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

#saved-range .but-view-parent.active .pointer {
  width: 21px;
  height: 15px;
  background-position: 0 -1047px;
}

#saved-range .but-hapus-program {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-position: 0 -947px;
  text-indent: -9999px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
}

#saved-range .but-hapus-program:hover {
  background-position: 0 -887px;
}

.range-process-item {
  vertical-align: middle;
  padding: 20px;
}

.range-process-item label {
  vertical-align: middle;
}

.range-process-item span {
  vertical-align: middle;
  padding-left: 10px;
}

#primaryspace .primary-form #saved-range label {
  width: 400px;
}

#primaryspace .primary-form #saved-range label i {
  display: block;
  font-size: 11px;
  font-style: normal;
  color: #ADADAD;
}

#toggle-prodi {
  position: relative;
  z-index: 1000;
}

#toggle-prodi .toggle-label {
  float: left;
  width: 313px;
  height: 38px;
  vertical-align: top;
  border: solid 1px #c4c4c4;
  border-right: none;
  font: 0.95em "Droid Serif";
  color: #AFAFAF;
  padding-left: 20px;
  display: inline-block;
  padding-top: 12px;
  cursor: pointer;
  background: white;
  margin-bottom: 15px;
}

#toggle-prodi .toggle-icon {
  background-position: 0 -769px;
  width: 38px;
  height: 38px;
  vertical-align: baseline;
  margin-right: -1px;
  border-left: 1px solid #c4c4c4;
  cursor: pointer;
  float: right;
}


#toggle-jnpdf {
  position: relative;
  z-index: 1000;
}

#toggle-jnpdf .toggle-label {
  float: left;
  width: 88%;
  height: 38px;
  vertical-align: top;
  border: solid 1px #c4c4c4;
  border-right: none;
  font: 0.95em "Droid Serif";
  color: #AFAFAF;
  padding-left: 20px;
  display: inline-block;
  padding-top: 12px;
  cursor: pointer;
  background: white;
  margin-bottom: 15px;
}

#toggle-jnpdf .toggle-icon {
  background-position: 0 -769px;
  width: 38px;
  height: 38px;
  vertical-align: baseline;
  margin-right: -1px;
  border-left: 1px solid #c4c4c4;
  cursor: pointer;
  float: right;
 
}

#toggle-gelombang {
  position: relative;
  z-index: 1000;
}

#toggle-gelombang .toggle-label {
  float: left;
  width: 88%;
  height: 38px;
  vertical-align: top;
  border: solid 1px #c4c4c4;
  border-right: none;
  font: 0.95em "Droid Serif";
  color: #AFAFAF;
  padding-left: 20px;
  display: inline-block;
  padding-top: 12px;
  cursor: pointer;
  background: white;
  margin-bottom: 15px;
}

#toggle-gelombang .toggle-icon {
  background-position: 0 -769px;
  width: 38px;
  height: 38px;
  vertical-align: baseline;
  margin-right: -1px;
  border-left: 1px solid #c4c4c4;
  cursor: pointer;
  float: right;
 
}


#toggle-kolom {
  position: relative;
  z-index: 1000;
}

#toggle-kolom .toggle-label {
  float: left;
  width: 88%;
  height: 38px;
  vertical-align: top;
  border: solid 1px #c4c4c4;
  border-right: none;
  font: 0.95em "Droid Serif";
  color: #AFAFAF;
  padding-left: 20px;
  display: inline-block;
  padding-top: 12px;
  cursor: pointer;
  background: white;
  margin-bottom: 15px;
}

#toggle-kolom .toggle-icon {
  background-position: 0 -769px;
  width: 38px;
  height: 38px;
  vertical-align: baseline;
  margin-right: -1px;
  border-left: 1px solid #c4c4c4;
  cursor: pointer;
  float: right;
 
}

/* Table */
.primary-table .th-wrap {
  display: block;
}

.form-section-separator {
  display: block;
  border-bottom: 1px solid white;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* Keuangan */
.filter-for-primary-table input[type="text"] {
  display: inline-block;
  width: auto;
}

/* Keuangan/sumbangan */
.dmd .keuangan-table,
#table-sumbangan {
  text-align: center;
}

#table-sumbangan .th-wrap.first {
  width: 58px;
}

#table-sumbangan .th-wrap.second {
  width: 392px;
}

.field-jml-sumbangan-wrap {
  position: relative;
  display: block;
}

.idr-marker {
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 40px;
  height: 37px;
  border-right: solid 1px #adadad;
  padding-top: 6px;
  font-family: "Interstate", Helvetica, Arial;
  text-align: center;
  background: #F2F2F2;
  color: #999;
}

.field-jml-sumbangan {
  width: 100%;
  height: 39px;
  padding: 9px 10px 10px 48px;
  margin: 0;
  border: 1px solid #adadad;
}

#table-sumbangan .field-grade {
  display: block;
  text-align: center;
  margin-top: 11px;
}

/* keuangan/tanggal_pembayaran */
.fee-due {
  padding: 9px 5px;
}

/* keuangan/pembayaran */
#field-form-number {
  margin-bottom: 10px;
}

#table-pembayaran-wrap {
  padding: 0 10px 20px;
}

#table-pembayaran-wrap .mCSB_container,
#table-pembayaran-wrap .mCSB_horizontal .mCSB_container {
  overflow-y: auto !important;
  overflow-x: hidden;
}

.dmd #table-pembayaran input[type="text"] {
  margin-bottom: 0 !important;
  display: inline-block;
  height: 41px;
}

#table-pembayaran .field-cara-bayar {
  width: 100px;
}

.dmd #table-pembayaran .imitate-container input {
  width: 170px;
}

/* seleksi/beasiswa */
#table-registrant .first {
  width: 65px;
}

#table-registrant .second {
  width: 220px;
}

#table-registrant .third {
  width: 82px;
}

#table-registrant .fourth {
  width: 82px;
}

#table-registrant .fifth {
  width: 355px;
}

#table-registrant .alasan {
  width: 100%;
  padding: 8px 5px;
}

#table-registrant td {
  text-align: center;
}

#table-registrant td.nama-wrap {
  text-align: left;
}

/*settings/general */
#field-tahun-admisi-wrap {
  position: relative;
}

#field-tahun-admisi {
  padding-right: 65px;
}

#field-tahun-admisi-indicator {
  position: absolute;
  top: 1px;
  right: 1px;
  background: #EFEFEF;
  border-left: 1px solid #cccccc;
  color: #BBB;
  display: inline-block;
  padding: 9px 20px;
  height: 38px;
}

/* settings/privileges */
#role-mapping {
  padding: 0 20px;
}

.dmd #table-mapping.primary-table tr td {
  background: white;
  padding: 8px;
  text-align: center;
}

#table-mapping .th-wrap {
  font-family: "Interstate Bold", Helvetica, Arial;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}

.dmd #table-mapping tr:first-child td {
  background: silver !important;
  border-bottom: solid 1px #adadad;
}

.dmd #table-mapping tr.parent-modul td {
  border-top: 1px solid #adadad;
  /*add by bryan*/
  height: 36px;
}

.dmd #table-mapping tr.dark td {
  background: #EFEFEF;
}

.dmd #table-mapping tr td:first-child {
  font-family: "Interstate Bold", Helvetica, Arial;
  text-transform: uppercase;
  font-size: 12px;
  color: #AAA;
  color: #666;
  background: #dfdfdf;
  text-align: left;
}

#table-mapping tr.child-modul td:first-child {
  padding-left: 30px;
   /*add by bryan*/
   height:36px;
}

/* daftar_ulang/tabel_verifikasi */
#tabel-verifikasi-wrap {
  padding: 70px 0 20px;
}

/* daftar_ulang/verifikasi */
.document-verification-preview {
  width: 600px;
  display: none;
  padding: 10px;
}

.modal-container .document-verification-preview .image-wrap {
  display: block;
  margin: 0 auto 20px;
}

.modal-container .document-verification-preview .image-wrap img {
  height: 100%;
}

/* representatif/komisi */
.tab-nav-four {
  float: left;
  margin: 0 10px 50px;
}

.tab-nav-four.div div,
.tab-nav-four a {
  float: left;
  width: 235px;
  background: #E6E6E6;
  color: #A6A6A6;
  font: 16px "Interstate", Helvetica, Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  position: relative;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 25px 0 29px;
  line-height: 1;
}

.tab-nav-four.div div {
  cursor: default;
}

.tab-nav-four .label {
  position: relative;
  z-index: 5555;
}

.tab-nav-four .pointer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 90px;
  background-position: 0 -442px;
  z-index: 4444;
}

.tab-nav-four.div div.active,
.tab-nav-four a:hover,
.tab-nav-four .active {
  color: white;
}

.tab-nav-four a:hover .pointer,
.tab-nav-four .active .pointer {
  display: block;
}

.input-left.text,
.rps-min-intake.text {
  width: 165px;
  display: inline-block;
  margin-right: 9px;
}

.input-right.text,
.rps-max-intake.text {
  display: inline-block;
  width: 165px;
  margin-left: 9px;
}

/* pendaftaran/verifikasi_raport */
#view-raport-template {
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#view-raport-template .template {
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #efefef;
}

#view-raport-template .raport-preview.mini {
  display: block;
  margin: 10px 0;
}

/* query/informasi */
#info-container {
  display: block;
  margin-bottom: 20px;
}

/*#info-container input.text,*/
#info-container textarea.readonly {
  background: #dfdfdf !important;
}

#main-content,
#main-tab {
  float: left;
}

#profil, #formulir {
  display: block;
  width: 800px;
  margin: 0 auto;
}

#second-tab {
  background: #DFDFDF;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

#profil.columns:after,
#info-container:after,
#second-tab:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#second-tab li {
  float: left;
  background: #dfdfdf;
  padding: 10px 10px 18px;
  cursor: pointer;
  border-right: 1px solid white;
  text-transform: uppercase;
  font: 16px "Interstate", Helvetica, Arial;
  color: white;
  width: 25%;
  text-align: center;
}

#second-tab li:last-child {
  border-right: none;
}

#second-tab li:hover,
#second-tab li.active {
  background: #F6B000;
}

.query-wrap,
#data-diri {
  padding-top: 20px;
}

#main-content h2 {
  color: #666;
  font: 18px "Interstate", Helvetica, Arial;
  margin: 40px 0 10px;
}

.tab-nav-six,
.tab-nav-seven,
.tab-nav-eight {
  float: left;
  margin: 0 22px 50px;
}

.tab-nav-six li {
  width: 152px;
  float: left;
  height: 72px;
  background: #E6E6E6;
  color: #A6A6A6;
  font: 16px "Interstate", Helvetica, Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  position: relative;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0 29px;
  line-height: 1; 
}
.tab-nav-seven li {
  width: 130px;
  float: left;
  height: 72px;
  background: #E6E6E6;
  color: #A6A6A6;
  font: 16px "Interstate", Helvetica, Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  position: relative;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0 29px;
  line-height: 1; 
}
.tab-nav-eight li {
  float: left;
  width: 114px;
  height: 72px;
  background: #E6E6E6;
  color: #A6A6A6;
  font: 14px "Interstate", Helvetica, Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  position: relative;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0 29px;
  line-height: 1;
  z-index:1;
}

.tab-nav-eight-forschool li {
  float: left;
  width: 119px;
  height: 65px;
  padding: 10px;
  background: #E6E6E6;
  color: #A6A6A6;
  font: 14px "Interstate", Helvetica, Arial;
  /*text-transform: uppercase;*/
  cursor: pointer;	
  text-align: center;
  position: relative;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0 29px;
  line-height: 1;
  z-index:1;
}


.tab-nav-eight-forschool a:link  {
	text-decoration:none;
	color: #A6A6A6;
	
}

.tab-nav-eight-forschool a:hover  {
	text-decoration:none;
	color: #FFFFFF;
	
}

.tab-nav-eight-forschool li:hover, a:hover{
  background-color: #82314A;
  color: #FFFFFF;
}
/* 
.tab-nav-six li,
.tab-nav-seven li, {
.tab-nav-eight li {
  float: left;
  height: 72px;
  background: #E6E6E6;
  color: #A6A6A6;
  font: 16px "Interstate", Helvetica, Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  position: relative;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0 29px;
  line-height: 1;

} */

.tab-nav-six .label,
.tab-nav-seven .label,
.tab-nav-eight .label {
  position: relative;
  z-index: 5555;
}
.tab-nav-eight-forschool .label {
  position: relative;
  z-index: 5555;
  
}
.tab-nav-eight-forschool .labelindo {
  position: relative;
  z-index: 5555;
  font-size: 12px;
  font-style:italic;  
}

.tab-nav-six .pointer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 152px;
  height: 85px;
  background-position: 0 -120px;
  z-index: 4444;
}
.tab-nav-seven .pointer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 85px;
  background: url(../images/form/tab-nav-seven-pointer.png) repeat scroll 0 0 transparent;
  /*background-position: 0 -120px;*/
  z-index: 4444;
}
.tab-nav-eight .pointer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 114px;
  height: 85px;
  background: url(../images/form/tab-nav-eight-pointer.png) repeat scroll 0 0 transparent;
  background: url(../images/form/tab-nav-eight-pointer.png) repeat scroll 0 0 transparent;
  /*background-position: 0 -120px;*/
  z-index: 4444;
}

.tab-nav-eight-forschool.pointer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 103px;
  height: 65px;
  background: url(../images/form/tab-nav-eight-pointer.png) repeat scroll 0 0 transparent;
  background: url(../images/form/tab-nav-eight-pointer.png) repeat scroll 0 0 transparent;
  /*background-position: 0 -120px;*/
  z-index: 4444;
}

.tab-nav-six .active, 
.tab-nav-seven .active, 
.tab-nav-eight .active {
  color: white;
}
.tab-nav-nine .active {
  color: white;
}

.tab-nav-six .active .pointer,
.tab-nav-seven .active .pointer ,
.tab-nav-eight .active .pointer {
  display: block;
}

.tab-nav-nine .active .pointer {
  display: block;
}

