/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 170, sprites/*.png */
.sprites-sprite, #header .wrap, #site-name, #top-nav li#backtobinus a, #top-nav li#backtobinus a:hover, #top-nav .sub-menu-indicator, #top-nav li.active .sub-menu-indicator, #app-name, #login p.notification.error .icon, #login .text, #login .checkmark, #online-registration, #online-registration:hover, #register-form .styleable-title-icon, #register-form .active .styleable-title-icon, .checkmark, #overlay-close, #overlay-close:hover, #overlay-close:active {
  background: url('../images/sprites-sbedbd0f1cf.png') no-repeat;
}

/* line 74, sprites-x/*.png */
.sprites-x-sprite, #top-nav .wrap, #top-nav li.active a, #top-nav .sub-menu, #log-in, #log-in:hover, #register, #register:hover, #register-submit, #register-submit:hover {
  background: url('../images/sprites-x-s4d69c0b8b3.png') no-repeat;
}

/* MIXINS */
/* COLORS */
/* TYPOGRAPHY */
@font-face {
  font-family: 'Interstate';
  src: url("../fonts/interstate-regular-webfont.eot?") format("eot"), url("../fonts/interstate-regular-webfont.woff") format("woff"), url("../fonts/interstate-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Interstate Bold';
  src: url("../fonts/interstate-bold-webfont.eot?") format("eot"), url("../fonts/interstate-bold-webfont.woff") format("woff"), url("../fonts/interstate-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Interstate Light';
  src: url("../fonts/interstate-light-webfont.eot?") format("eot"), url("../fonts/interstate-light-webfont.woff") format("woff"), url("../fonts/interstate-light-webfont.ttf") format("truetype");
}

/* GLOBAL */
/* line 111, ../sass/screen.scss */
* {
  word-break: break-word;
}

/* line 115, ../sass/screen.scss */
:focus {
  outline: none;
}

/* line 119, ../sass/screen.scss */
body {
  background: url(../Images/background.png);
  color: #646466;
  font-family: 'Droid Serif', Georgia, Times New Roman;
  font-size: 14px;
  line-height: 1.4;
}

.first-wrap 
{
    margin-top:5%;
}
/* line 127, ../sass/screen.scss */
.outer-wrap {
  width: 647px;
  display: block;
  background: white;
  margin: 0 auto;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}

/* line 136, ../sass/screen.scss */
.wrap {
  width: 625px;
  display: block;
  margin: 0 auto;
  background: #f3f3f4;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}

/* line 146, ../sass/screen.scss */
.outer-wrap:after,
.wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 150, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #145480;
}

/* HEADER */
/* line 160, ../sass/screen.scss */
#header .outer-wrap 
{
  vertical-align:bottom;
  border-top: 1px solid #bbbbbb;
  padding-top: 10px;
}

/* line 165, ../sass/screen.scss */
#header .wrap 
{
  height: 85px;
  background-position: 0 0;
  border-bottom: 1px solid white;
}

/* line 172, ../sass/screen.scss */
#site-name {
  float: left;
  width: 319px;
  height: 70px;
  margin: 10px 0 0 10px;
  text-indent: -99999em;
  background-position: 0 -85px;
}

/* TOP NAV */
/* line 186, ../sass/screen.scss */
#top-nav {
  font-family: 'Interstate', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/* line 191, ../sass/screen.scss */
#top-nav .wrap {
  height: 35px;
  background-position: 0 -138px;
  background-repeat: repeat-x;
  position: relative;
}

/* line 198, ../sass/screen.scss */
#top-nav li {
  float: left;
  border-right: 1px solid #0c3551;
  border-left: 1px solid #125580;
  z-index: 1000;
  position: relative;
}

/* line 206, ../sass/screen.scss */
#top-nav li:first-child {
  border-left: none;
}

/* line 210, ../sass/screen.scss */
#top-nav li:last-child {
  border-right: none;
}

/* line 214, ../sass/screen.scss */
#top-nav li#backtobinus {
  border-right: none;
  z-index: 1200;
}

/* line 219, ../sass/screen.scss */
#top-nav li#backtobinus a {
  color: black;
  background-position: 0 -396px;
  text-shadow: 0 1px 1px #fec05e;
  text-transform: uppercase;
  width: 90px;
  padding: 8px 3px 5px 7px;
}

/* line 229, ../sass/screen.scss */
#top-nav li#backtobinus a:hover {
  background-position: 0 -431px;
}

/* line 234, ../sass/screen.scss */
#top-nav a {
  float: left;
  padding: 8px 10px 5px;
  height: 22px;
  color: white;
}

/* line 241, ../sass/screen.scss */
#top-nav li.active a {
  background-position: 0 -173px;
  background-repeat: repeat-x;
  color: #145480;
}

/* line 247, ../sass/screen.scss */
#top-nav li.active .sub-menu a {
  background: none;
  color: black;
}

/* line 252, ../sass/screen.scss */
#top-nav .sub-menu-indicator {
  display: inline-block;
  width: 8px;
  height: 6px;
  text-indent: -99999em;
  background-position: 0 -576px;
}

/* line 260, ../sass/screen.scss */
#top-nav li.active .sub-menu-indicator {
  background-position: 0 -570px;
}

/* line 265, ../sass/screen.scss */
#top-nav .sub-menu {
  width: 562px;
  padding: 15px 20px 0;
  position: absolute;
  left: 0;
  top: 35px;
  background-position: 0 -26px;
  background-repeat: repeat-x;
  border-bottom: 1px solid #bbbbbb;
  z-index: 1000;
}

/* line 276, ../sass/screen.scss */
#top-nav .sub-menu li {
  width: 130px;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #f3f3f3;
}

/* line 282, ../sass/screen.scss */
#top-nav .sub-menu li:first-child {
  border-left: none;
}

/* line 286, ../sass/screen.scss */
#top-nav .sub-menu li:last-child {
  border-right: none;
}

/* line 290, ../sass/screen.scss */
#top-nav .sub-menu li a {
  height: auto;
  width: 110px;
  padding: 0 10px;
  color: black;
}

/* BODY */
/* line 303, ../sass/screen.scss */
#body .outer-wrap {
  padding-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}

/* line 308, ../sass/screen.scss */
#body .wrap {
  position: relative;
}

/* line 312, ../sass/screen.scss */
#app-name-wrap {
  float: left;
  width: 100%;
  border-bottom: 1px solid white;
}

/* line 318, ../sass/screen.scss */
#app-name {
  display: block;
  width: 309px;
  height: 51px;
  text-indent: -99999em;
  background-position: 0 -141px;
  margin: 30px auto 20px;
}

/* line 327, ../sass/screen.scss */
#content {
  float: left;
  width: 545px;
  padding: 0 40px 10px;
  border-bottom: 1px solid #bbbbbb;
}

/* line 334, ../sass/screen.scss */
.content-section-title {
  color: #636363;
  font-family: 'Interstate', Helvetica, Arial, sans-serif;
  font-size: 23px;
  text-align: center;
  margin: 20px auto;
}

/* line 342, ../sass/screen.scss */
.post-title {
  font-family: 'Droid Serif', Georgia, Times New Roman;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.3;
  margin-top: 35px;
}

/* line 350, ../sass/screen.scss */
.post-meta {
  font-family: 'Interstate Light', Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin: 0 0 40px;
}

/* line 356, ../sass/screen.scss */
.the-content {
  font-size: 13px;
}

/* line 360, ../sass/screen.scss */
.the-content h2 {
  font-weight: bold;
}

/* line 364, ../sass/screen.scss */
.the-content p {
  margin: 0 0 15px 0;
}

/* line 368, ../sass/screen.scss */
.the-content strong {
  font-weight: bold;
}

/* LOGIN */
/* line 377, ../sass/screen.scss */
#login {
  margin: 0 105px 0;
}

/* line 381, ../sass/screen.scss */
#login p {
  margin: 0 0 20px;
}

/* line 385, ../sass/screen.scss */
#login p:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 389, ../sass/screen.scss */
#login p.notification {
  font-size: 11px;
  text-align: center;
  margin: 0 0 10px;
}

/* line 395, ../sass/screen.scss */
#login p.notification.error {
  color: #e41815;
}

/* line 399, ../sass/screen.scss */
#login p.notification.error .icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 7px -5px 0;
  background-position: 0 -466px;
}

/* line 407, ../sass/screen.scss */
#login .text {
  border: none;
  display: block;
  width: 309px;
  height: 33px;
  background-position: 0 -309px;
  text-align: left;
  font-family: 'Droid Serif', Georgia, Times New Roman;
  color: #646466;
  font-size: 12px;
  margin: 0 auto;
  padding-left: 10px;
}

/* line 420, ../sass/screen.scss */
#login select {
  width: 309px;
  height: 26px;
}

/* line 424, ../sass/screen.scss */
#login .checkmark {
  display: inline-block;
  width: 12px;
  height: 11px;
  text-indent: -99999em;
  background-position: 0 -559px;
  margin-left: 3px;
}

/* line 433, ../sass/screen.scss */
#login p#remember-me-wrap {
  color: #959595;
  font-size: 12px;
  text-align: center;
  margin: 0 0 3px;
  line-height: 1;
}

/* line 441, ../sass/screen.scss */
#forgot-password {
  text-align: center;
}

/* line 445, ../sass/screen.scss */
#forgot-password a {
  color: #959595;
  font-size: 12px;
}

/* line 450, ../sass/screen.scss */
#online-registration {
  float: left;
  padding-top: 7px;
  width: 165px;
  height: 19px;
  font-family: 'Interstate', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  color: black;
  background-position: 0 -344px;
}

/* line 463, ../sass/screen.scss */
#online-registration:hover {
  background-position: 0 -370px;
}

/* line 468, ../sass/screen.scss */
#log-in {
  padding-top: 7px;
  color: #959595;
  display: block;
  width: 85px;
  height: 19px;
  margin: 0 auto;
  font-family: 'Interstate', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  color: #555555;
  border: 1px solid #ffa107;
  border-radius: 2px;
  cursor: pointer;
  background-position: 0 0;
  background-repeat: repeat-x;
  height: 27px;
}

/* line 473, ../sass/screen.scss */
#log-in:hover {
  background-position: 0 -112px;
  background-repeat: repeat-x;
}

/* line 477, ../sass/screen.scss */
#register-wrap {
  float: left;
  width: 100%;
  background: white;
  border-bottom: 1px solid #bbbbbb;
}

/* line 484, ../sass/screen.scss */
#register {
  padding-top: 7px;
  color: #959595;
  display: block;
  width: 200px;
  height: 19px;
  margin: 0 auto;
  font-family: 'Interstate', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  color: #555555;
  border: 1px solid #ffa107;
  border-radius: 2px;
  cursor: pointer;
  background-position: 0 0;
  background-repeat: repeat-x;
  margin: 20px auto;
}

/* line 489, ../sass/screen.scss */
#register:hover {
  background-position: 0 -112px;
  background-repeat: repeat-x;
}

/* line 493, ../sass/screen.scss */
#disclaimer-wrap {
  float: left;
  width: 100%;
  background: #6f273d;
  border-bottom: 1px solid #bbbbbb;
  padding: 5px 0 30px 0;
}

/* line 501, ../sass/screen.scss */
#disclaimer-wrap p {
  display: block;
  width: 480px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
  color:white;
}

/* REGISTER */
/* line 516, ../sass/screen.scss */
#register-form-wrap:after,
#register-form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 520, ../sass/screen.scss */
.register-element {
  float: left;
  width: 100px;
  width: 595px;
  padding: 30px 15px;
  border-bottom: 1px solid white;
  background: #f9f9fa;
  font-size: 13px;
}

/* line 529, ../sass/screen.scss */
.register-element.footer {
  border-bottom: 1px solid #bbbbbb;
}

/* line 533, ../sass/screen.scss */
.register-element h1 {
  font-family: 'Interstate Bold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 0 15px;
}

/* line 540, ../sass/screen.scss */
.register-element p {
  margin: 0 0 20px;
}

/* line 544, ../sass/screen.scss */
.register-element p:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 548, ../sass/screen.scss */
.register-element p label {
  float: left;
  width: 183px;
  padding: 15px 20px 0 0;
  text-align: right;
  font-family: 'Interstate', Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #c8c8c8;
}

/* line 559, ../sass/screen.scss */
#register-form dt {
	clear: both;
	float: left;
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 180px;
}

#register-form dd {
	margin-bottom: 10px;
	overflow: auto;
}

#register-form .text {
  float: left;
  width: 324px;
  height: 36px;
  border: 1px solid #bbbbbb;
  font-family: 'Droid Serif', Georgia, Times New Roman;
  font-size: 13px;
  font-style: italic;
  color: #c8c8c8;
  padding: 0 13px;
}

#register-form .filled,
#register-form .select-search {
	color: #333;
	font-style: normal;
}

/* line 570, ../sass/screen.scss */
#register-form #register-email.text {
  width: 217px;
}

/* line 574, ../sass/screen.scss */
#binus-email {
  float: left;
  width: 86px;
  height: 12px;
  border: 1px solid #bbbbbb;
  border-left: none;
  background: #e6e6e6;
  font-size: 13px;
  padding: 11px 9px 13px 11px;
  color: #636363;
}

/* line 585, ../sass/screen.scss */
#register-form select {
  height: 40px;
}

/* line 589, ../sass/screen.scss */
#date-of-birth-day {
  width: 80px;
  margin-right: 25px;
}

/* line 594, ../sass/screen.scss */
#date-of-birth-month {
  width: 135px;
  margin-right: 25px;
}

/* line 599, ../sass/screen.scss */
#date-of-birth-year {
  width: 95px;
}

/* line 603, ../sass/screen.scss */
#register-form .styleable-wrap {
  height: 38px;
  border: 1px solid #bbbbbb;
  margin: 0 18px 0 0;
}

/* line 609, ../sass/screen.scss */
#register-form .styleable-wrap#styleable-date-of-birth-year-wrap {
  margin-right: 0;
}

/* line 613, ../sass/screen.scss */
#register-form .styleable-wrap {
  color: #c8c8c8;
  background: white;
}

/* line 618, ../sass/screen.scss */
.styleable-title-label {
  padding-top: 8px;
  padding-bottom: 5px;
  height: 25px;
  text-align: center;
  float: left;
  font-family: 'Droid Serif', Georgia, Times New Roman;
  font-size: 13px;
  font-style: italic;
  color: #c8c8c8;
  border: none;
  border-right: 1px solid #bbbbbb;
}

/* line 632, ../sass/screen.scss */
#register-form .styleable-title-icon {
  float: left;
  width: 22px;
  height: 38px;
  background-position: 0 -483px;
}

/* line 639, ../sass/screen.scss */
#register-form .active .styleable-title-icon {
  background-position: 0 -521px;
}

/* line 644, ../sass/screen.scss */
.checkmark {
  display: inline-block;
  width: 12px;
  height: 11px;
  margin: 0 0 0 1px;
  text-indent: -9999em;
  background-position: 0 -559px;
}

/* line 653, ../sass/screen.scss */
#styleable-dobd-wrap {
  width: 78px;
  height: 38px;
}

#styleable-dobd-title {
  width: 78px;
  height: 38px;
}

/* line 658, ../sass/screen.scss */
#styleable-dobd-title .styleable-title-label {
  width: 53px;
}

/* line 662, ../sass/screen.scss */
#styleable-dobm-title {
  width: 133px;
  height: 38px;
}

/* line 667, ../sass/screen.scss */
#styleable-dobm-title .styleable-title-label {
  width: 108px;
}
/* line 667, ../sass/screen.scss */
#styleable-doby-title  {
  width: 92px;
  height: 38px;
}
/* line 667, ../sass/screen.scss */
#styleable-doby-title .styleable-title-label {
  width: 68px;
}

/* line 680, ../sass/screen.scss */
#register-form .styleable-options {
  border: 1px solid #bbbbbb;
  border-left: none;
  overflow-y: auto;
  max-height: 150px;
}

/* line 685, ../sass/screen.scss */
#register-form .styleable-options li a {
  text-align: center;
  padding: 5px 0;
}

/* line 690, ../sass/screen.scss */
#register-form .styleable-options li:first-child {
  border-top: none !important;
}

/* line 694, ../sass/screen.scss */
#register-submit {
  padding-top: 7px;
  color: #959595;
  display: block;
  width: 85px;
  height: 19px;
  margin: 0 auto;
  font-family: 'Interstate', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  color: #555555;
  border: 1px solid #ffa107;
  border-radius: 2px;
  cursor: pointer;
  background-position: 0 0;
  background-repeat: repeat-x;
  height: 28px;
}

/* line 699, ../sass/screen.scss */
#register-submit:hover {
  background-position: 0 -112px;
  background-repeat: repeat-x;
}

/* line 704, ../sass/screen.scss */
#overlay .register-element {
  width: 543px;
}

/* line 708, ../sass/screen.scss */
#overlay #register-form .text {
  width: 310px;
}

/* line 712, ../sass/screen.scss */
#overlay #register-form #register-email.text {
  width: 202px;
}

/* line 716, ../sass/screen.scss */
#overlay .register-element.footer {
  border-bottom: none;
}

/* line 720, ../sass/screen.scss */
#overlay #register-form .styleable-wrap {
  margin-right: 11px;
}

/* line 724, ../sass/screen.scss */
#overlay #register-form .styleable-wrap#styleable-date-of-birth-year-wrap {
  margin-right: 0;
}

/* OVERLAY */
/* line 732, ../sass/screen.scss */
#overlay {
  background: none;
  border: none;
}

/* line 737, ../sass/screen.scss */
#overlay-content {
  display: block;
  border: 5px solid #f2f2f2;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 0px 10px black;
  padding: 20px;
}

/* line 746, ../sass/screen.scss */
#overlay-content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 750, ../sass/screen.scss */
#overlay-close {
  float: left;
  width: 39px;
  height: 39px;
  text-indent: -99999em;
  position: absolute;
  top: -16px;
  right: -19px;
  background-position: 0 -270px;
}

/* line 760, ../sass/screen.scss */
#overlay-close:hover {
  background-position: 0 -231px;
}

/* line 765, ../sass/screen.scss */
#overlay-close:active {
  background-position: 0 -192px;
}

/* line 770, ../sass/screen.scss */
#overlay-loading {
  display: block;
  margin: 0 auto;
}

/* CREDIT */
/* line 780, ../sass/screen.scss */
#credit .outer-wrap {
  background: none;
  border: none;
}

/* line 785, ../sass/screen.scss */
#credit .wrap {
  background: none;
  border: none;
  text-align: center;
  font-size: 11px;
  color: #b1b1b1;
  padding: 8px 0;
}

.subheading{
	font-weight: bold;
}

/* FORM */
.row{
	clear:both;
	float:left;
	display:inline;
	margin:5px 0 0 0;
	padding:0 0 5px 0;
	width:98%;
}

.row label{
	float:left;
	display:inline;
	width:20%;
	font-weight:bolder;
}

.row .rowwrap{
	float:left;
	display:inline;
	width:70%;
}

.row .rowwrap label{
	float:none;
}

.row .rowwrap  input[type="image"]{
	vertical-align:middle;
	max-width:20px;
	max-height:20px;
}

.form .row .rowwrap p{
	font-style:italic;
	margin:0;
}

input[type=text], input[type=password], select {
	border:thin #999999 solid;
	font-family: DroidSerif, Georgia, serif;
	height:25px;
	width:250px;
	padding-left:10px;
}
input[type=button], input[type=submit], input[type=reset] {
	color:#666666;
	padding:3px;
	padding-left:10px;
	padding-right:10px;
	background:#FFCC00;
	border:thin #999999 solid;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	cursor:pointer;
}


.error {
/* background */
 background: url(../Images/Notif/error.png), #fccac2;
 background-color: #fccac2;
 background-position: 10px center;
 background-repeat: no-repeat;
/* shadows and highlights */
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
0 2px 1px rgba(255, 255, 255, 0.5) inset,
0 -2px 2px #fcb7ac inset;  
 -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
0 2px 1px rgba(255, 255, 255, 0.5) inset,
0 -2px 2px #fcb7ac inset;  
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
0 2px 1px rgba(255, 255, 255, 0.5) inset,
0 -2px 2px #fcb7ac inset;
/* border */
 border: 1px solid #eb5339;
}