﻿.centerDiv
{
	position:fixed; 
	top:45%; 
	left:50%; 
	margin-top:-125px; 
	margin-left:-170px; 
	width:340px; 
	height:250px; 
	background-image:url('../images/index.jpg'); 
	text-align:center;
	font: 'Arial';
	font-size: 15px;
	color:White;
	border-radius: 40px;
	}
	
body
{	
	background: url('../images/bg.png') repeat scroll 0% 0% transparent;
	color: #444446;
	font-family: 'Droid Serif',Georgia,Times New Roman;
}

.watermark
{
	color:Gray;
	font-style:italic;
		
	}
