/*
	MOdif:Tambah class search icon

*/
.icon-search-modal{
  background: url('../images/sprites/icn-search.png') top center no-repeat;
  width: 20px;
  height: 20px;
  position: relative !important;
  margin-top:10px !important;
  text-align:center;
  display:block;
  left:20px;
}

.icon-search-modal:hover{
  background: url('../images/sprites/icon-search-hover.png') top center no-repeat;
  width: 20px;
  left:20px;
  height: 20px;
  display:block;
}



.icon-fail{
  background: url('../images/sprites/icon-fail.png') top center no-repeat;
  width: 20px;
  height: 20px;
  position: relative !important;
  margin-top:10px !important;
  text-align:center;
  display:block;
  left:20px;
}

.icon-fail:hover{
  background: url('../images/sprites/icon-fail-hover.png') top center no-repeat;
  width: 20px;
  height: 20px;
  position: relative !important;
  margin-top:10px !important;
  text-align:center;
  display:block;
  left:20px;
}


.icon-check{
  background: url('../images/sprites/icon-check.png') top center no-repeat;
  width: 20px;
  height: 20px;
  position: relative !important;
  margin-top:10px !important;
  text-align:center;
  display:block;
  left:20px;
}

.icon-check:hover{
  background: url('../images/sprites/icon-check-hover.png') top center no-repeat;
  width: 20px;
  height: 20px;
  position: relative !important;
  margin-top:10px !important;
  text-align:center;
  display:block;
  left:20px;
}

div .div-search{
	margin-left:5px;

	float:left;
	background-color:#991845;;
	width:60px;
	min-height:40px;
	display:block;
	text-align:center; 
	vertical-align:middle;

}

.hide {
    display: none !important;
}
.profile-setting .content {
    padding-left: 20px;
   	padding-right: 20px;
}
.profile-setting .form-section {
    margin-bottom: 40px;
}
.profile-setting .row .column .inside-left {
    padding-right: 25px;
}

.form-section .header{
	height: 50px;
    line-height: 50px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c9c9c9;
    text-transform: uppercase;
}
.title{
	display: inline-block;
    font-size: 18px;
    color: #666;
}

.divider-left{
	display: inline-block;
    width: 1px;
    height: 36px;
    background-color: #c9c9c9;
    margin: 7px 15px;"
}

select{
	display: block;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #c9c9c9;
 }

.floatThead-wrapper {
    max-height: 500px;
    width: 100%;
    overflow: auto;
}
/* componet*/

/*.component {
    display: block;
    width: 100%;
}

#page-major-tabs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#page-major-tabs {
    border-top: 1px solid #c9c9c9;
}

#page-major-tabs li:first-child {
    position: relative;
}
#page-major-tabs li.active {
    border: none;
}

#page-major-tabs li {
    float: left;
    width: 50%;
    border-bottom: 1px solid #c9c9c9;
}*/