/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.h13{
	height: 13px;
}

/* GLOBAL */
body{
	font:11px 'Helvetica', Arial, sans-serif;
}

/* FRAME */
.print-wrap{
	display: block;
	position: relative;
	width: 216mm;
	height: 140mm;
}

.print-frame{
	width: 216mm;
	height: 140mm;
	position: absolute;
	top:0;
	left: 0;
}

.print-frame img{
	/*
	width: 192mm;
	height: 140mm;
	*/
	width: 216mm;
	height: 140mm;
}

/* CONTENT */
.print-content{
	display: block;
	position: absolute;
	top: 135px;
	left: 0;
}

#code {
	display: block;
	/*padding: 83px 10px 83px 542px;*/
	/* padding: 65px 10px 83px 750px; */
	padding: 15px 10px 83px 750px; 
	/*width: 46mm;*/
	width: 85mm;
}

div .print {
	display:none;
}

#code span{
	display: block;
}

.print-details p{
	/*padding: 0 0 25px;*/
	padding: 0px 0px 0px 30px;
}

.print-details p label{
	display: inline-block;
	width: 133px;
	padding: 0 0 0 100px;
	margin: 0 26px 0 0;
}

#nama{
	text-transform: uppercase;
}

#payment-child{
	padding-left: 27px;
	padding-right: 200px;
}

#date{
	padding-left: 500px;
}