﻿@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular.eot?") format("eot"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype");
}

table{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans";
  font-size: 100%;
  vertical-align: baseline;
  width: 100%;
  background: white;
  margin-bottom: 40px;
  margin-top: 15px;
}

#repeat {
	display:none;
}

div {
	font-family: "Open Sans";
	font-size: 12px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

caption {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

table thead {
  background: #d4d4d4;
}
table thead th {
  font-weight: bold;
  font-size:12px;
  border-left: 1px solid white;
}
table thead th:first-child {
  border-left: none;
}
table tbody {
  font-size: 10px;
}
table tbody tr:nth-child(even) {
  background: #ebebeb;
}
table tbody tr td {
  border-left: 1px solid #efefef;
}
table tbody tr td:first-child {
  border-left: none;
}
table tfoot {
  background: #d4d4d4;
  font-size:12px;
}
table td,
table th {
  padding: 10px 20px;
  border-bottom: 1px solid #efefef;
  white-space: normal;
}
table td a,
table th a {
  color: #135581;
}
table td {
  line-height: 1.4;
}
table table {
  margin: 0;
  padding: 0;
}