/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* GLOBAL */
body{
	font-size:10px;
  font-weight: 300;
  font-family: 'Dejavu Sans', Arial, sans-serif;
}

/* Here Goes The Styling */
h1{
  font-size: 14px;
  font-weight: 900px;
  text-align:center;
  margin: 15px 10px;
}

.paper{
  display: block;
  width: 227mm;
  margin:10px;
  border:1px solid #dfdfdf;
  border-bottom:2px solid #dfdfdf;
  padding: 10px;
  line-height: 1.5;
  margin-bottom:40px;
  position:relative;
}

.paper:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.banner{
  width:40px;
  position:absolute;
  top:0px;
  left:20px;
}
/* --- */

/*styling*/
  .english{
     font-style: italic;
  }
  .coloring{
    color: #67102e;
    font-weight: 700;
  }
  tr.spaceUnder > td{
    padding-bottom: 5px;
  }
/* ---*/

/* First Content */
/*column1*/
.first-content {
  min-height: 190px;
  padding-left:80px;
  padding-top:20px;
}
.student-data{
  min-height:190px;
}

/*.logo{
    position:absolute;
    top:29px;

    height: 110px;
}*/

.logo{
  height:130px;
  position:absolute;
  top:0px;
  left:20px;
}

.student-data1{
  float: left;
  margin-right:20px;
  width:58%;
  min-height:190px;
}
.table-data1{
  margin-left:225px;
  /*width = width(studentdata1)-margin-left*/
  width:100%;
}

.table-data1 tr .left{
  width:85px;
}

/*.table-data1 tr .middle{
  padding : 0px 3px;
}
*/
.table-data2{
  width:100%;
  margin-top: 10px;

}

.table-data2 tr .left{
  width:120px;
}

/*.table-data2 tr .middle{
  padding : 0px 3px;
}*/


/*column2*/
.screen {
    position:absolute;
    top:32px;
    left:740px;
}

.student-pic-wrap{
  float: left;
  width: 30mm;
  height: 40mm;
  padding: 0px;
  border: 1px solid #000000;
  margin:0 20px 10px 0;
}

.photograph-information{
  font-size:13px;
  text-align:center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.table-data3{

}

.table-data3 tr td.left{
  width:125px;
}

.table-data3 tr td.middle{
  padding-left:3px;
  padding-right:3px;
}

.table-data3 tr td.right{
  width:70px;
  max-width: 70px;
}
/*End first-content */


/* second-content*/
.second-content{
  padding-left:80px;
}

.table-detail4{
  margin-right: 20px;
  width: 380px;
}
.table-detail4 tr td#test-types{
  width:100px;
}
.table-detail4 tr td#seat-number{
  width:75px;
}

.test-rules table tr .left{
  width:400px;
}

.test-rules table tr.head-list td{
  padding-bottom: 8px;
  line-height: 1.2;
}

.test-rules table tr.list td{
  padding-bottom: 8px;
  line-height: 1.2;
}

.table-detail{
   width: 370px;
   float:left;
}

.table-detail td,th{
  border:1px solid;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
}
/* end second-content */


/* third content */
.third-content{
  padding-left:80px;
}

.table-information tr td.col1{
  width:30%;
} 
.table-information tr td.col2{
  width:28%;
} 
.table-information tr td.col3{
  padding-left:20px;
}

.table-information{
  width:100%;
}

/* end third content */



