/*! Theme color */
$primary-color: #67102e;

/*! Button */
$button-color-start: #991845;
$button-color-end: #62102c;
$button-color-hover: #62102c;
$button-color-active: #4c0c23;

/*! Background Menu */
$menu-background: #67102e;
$menu-border: #833d55;

/*! Fullcalendar custom */
$fc-primary-row-color: #ffe6e5;

/*! Sprites */
$sprites-spacing: 3px;
@import 'sprites/*.png';

$sprites-icon-spacing: 3px;
@import 'sprites-icon/*.png';